<div id="seleccionar-cuenta" class="modal-dialog">
	<div class="modal-content">
		<form id="select-cuenta-form" action="" method="post">
			<div class="modal-box">
				<div class="modal-header no-border" style="padding: 10px 0 0 10px;">
			    	<button type="button" class="close-icon" data-dismiss="modal" aria-hidden="true"></button>
					<h2 class="modal-title-h2">Seleccion Cuenta Corriente</h2>
				</div>
				<div class="modal-body no-bottom">
					<div class="opciones-cuentas">
						<article class="capgemini-tables holder">
							<div class="tables-body table-scroll">
								<div class="scrollable">
									<table>
					 					<tbody>
											<tr data-select-radio="true">
												<td><label>&nbsp;<input type="radio" name="mis-cuentas-bbva" class="require-one" value="001" checked></label></td>
												<td><strong>Cuenta Corriente</strong><small><strong>0504-0011-0100205513</strong></small></td>
												<td><strong>$&nbsp;9.900.186</strong></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</article>
					</div>
				</div>
				<div class="modal-footer">
					 <a id="linkDetalleTarjeta" href="?src=S03-cuentas.php&tab=operaciones&operation=anular-cheques" class="btn arrow-right CierraModalSiguiente" aria-hidden="true">Siguiente</a>
				</div>
			</div>
		</form>
	</div>
</div>





		

	
	
		
	