 
<div class="modal-dialog modal-perfil-resultado">
	<div class="modal-content">
		<div class="modal-box">

			<div class="modal-header">
			    <button type="button" class="close-icon" data-dismiss="modal" aria-hidden="true"></button>
				<h2 class="modal-title">Mi Perfil de Inversor</h2>
			</div>

			<div class="modal-body no-bottom text-left">

				<h3><span class="check-verde-16"></span>Su Perfil de Inversor es: <strong>Perfil Moderado</strong></h3>
				<p><img src="img/icn_ampolleta.png" class="pull-left">Su principal objetivo es obtener un ingreso superior al de las alternativas tradicionales de ahorro, asumiendo una muy ligera volatilidad por periodos muy breves, aunque no nula. Su horizonte de inversión es de aproximadamente 6 meses o más.</p>
				<hr>
				<div>
					<p>En caso de no identificarse con este tipo de perfil, puede volver a contestar las preguntas para <a href="">Modificar su perfil de inversionista</a></p>
				</div>
				<hr>
				<div class="text-right">
					<a href="#" class="btn modal-trigger">Comenzar a invertir</a>
				</div>  
			</div>
		</div>
</div>
</div>
		
	
	
		
	