 <script type="text/javascript" src="js/soho-crear-perfil-inversion.js"></script>
<div class="modal-dialog modal-creacion-perfil modal-modificar-perfil">
	<div class="modal-content">
		<div class="modal-box">

			<div class="modal-header">
			    <button type="button" class="close-icon" data-dismiss="modal" aria-hidden="true"></button>
				<h2 class="modal-title">Perfil de Inversor</h2>
			</div>

			<div class="modal-body no-bottom text-center">

				

				 
                    <div class="main-wizard  ">
                        <form novalidate id="" class="">
                            <article class="wizard">

                                <!-- paso 1-->
                                <div class="paso1" data-title="Datos personales">
                                    <div class="step-content-container"> 
                                    	<h1>Perfil Moderado</h1>
                                    	<p>Ideal para invertir a corto plazo parte del dinero que destinas a tus ahorros o excedentes. <br>Tu rentabilidad está poco expuesta o volatilidades y te permite disponer total o parcialmente del dinero invertido</p>
										 
                                    </div>
                                </div> 

                                <!-- paso 2-->
                                <div class="preguntas" data-title="Datos personales">
                                    <div class="step-content-container"> 
                                    	<div class="row">
                                    		 <div class="col-md-12 container-preguntas-enrolamiento-bloque">
                                    		 	<div div class="col-md-12 text-right">
													<small>Pregunta <strong>1</strong> de 9</small>
												</div>
												<div div class="col-md-12">
													<h4>¿Cual de las alternativas representa mejor su <strong>horizonte de inversion</strong>?</h4>
												</div>
												<div div class="col-md-12">
													<ul>
														<li>
															<label  for="pregunta1_1" class="ui-marmots-label-radio marmots-label-left">
																<span>Podrias necesitar el dinero en cualquier momento, por lo tanto la inversion deberia ser de corto plazo</span>
																<input name="pregunta1" id="pregunta1_1" value="value1" type="radio">
															</label>
														</li>
														<li>
															<label  for="pregunta1_2" class="ui-marmots-label-radio marmots-label-left">
																<span>Deberia rescatar el dinero dentro de este año</span>
																<input name="pregunta1" id="pregunta1_2" value="value1" type="radio">
															</label>
														</li>
														<li>
															<label   for="pregunta1_3" class="ui-marmots-label-radio marmots-label-left">
																<span>Quizas haga retiros esporadicos, pero la mayor parte de la inversion sera de largo plazo</span>
																<input name="pregunta1" id="pregunta1_3" value="value1" type="radio">
															</label>
														</li>
														<li>
															<label   for="pregunta1_4" class="ui-marmots-label-radio marmots-label-left">
																<span>No pretendo usar este dinero en al menos 3 años</span>
																<input name="pregunta1" id="pregunta1_4" value="value1" type="radio">
															</label>
														</li>
													</ul>
												</div>
											</div>
                                    	</div>
                                    </div>
                                </div> 

                                <!-- paso 3-->
                                <div class="preguntas" data-title="Datos personales">
                                    <div class="step-content-container"> 
                                    	<div class="row">
                                    		<div class="col-md-12 container-preguntas-enrolamiento-bloque">
                                    			<div div class="col-md-12 text-right">
													<small>Pregunta <strong>2</strong> de 9</small>
												</div>
												<div div class="col-md-12">
													<h4>¿Cuales serian sus <strong>objetivos de Inversion?</strong></h4>
												</div>
												<div div class="col-md-12">
													<ul>
														<li>
															<label   for="pregunta2_1" class="ui-marmots-label-radio marmots-label-left">
																<span>jubilacion</span>
																<input name="pregunta2" id="pregunta2_1" value="value2" type="radio">
															</label>
														</li>
														<li>
															<label   for="pregunta2_2" class="ui-marmots-label-radio marmots-label-left">
																<span>Educacion hijos</span>
																<input name="pregunta2" id="pregunta2_2" value="value2" type="radio">
															</label>
														</li>
														<li>
															<label   for="pregunta2_3" class="ui-marmots-label-radio marmots-label-left">
																<span>Inmobiliaria</span>
																<input name="pregunta2" id="pregunta2_3" value="value2" type="radio">
															</label>
														</li>
														<li>
															 <label   for="pregunta2_4" class="ui-marmots-label-radio marmots-label-left">
																<span>Proyectos futuros</span>
																<input name="pregunta2" id="pregunta2_4" value="value2" type="radio">
															</label>
														</li>
														<label  for="pregunta2_5" class="ui-marmots-label-radio marmots-label-left">
															<span>Valorizar mi capital</span>
															<input name="pregunta2" id="pregunta2_5" value="value2" type="radio">
														</label>
													</ul>
												</div>
											</div>
                                    	</div>
                                    </div>
                                </div>

                                 <!-- paso 4-->
                                <div class="preguntas" data-title="Datos personales">
                                    <div class="step-content-container"> 
                                    	<div class="row">
                                    		
                                    		<div class="col-md-12 container-preguntas-enrolamiento-bloque" >
                                    			<div div class="col-md-12 text-right">
													<small>Pregunta <strong>3</strong> de 9</small>
												</div>
												<div div class="col-md-12">
													<h4>¿Tiene algunas <strong>experiencia como Inversionista</strong>?</span>
												</div>
												<div div class="col-md-12">
													<ul>
														<li>
															<label  for="pregunta3_1" class="ui-marmots-label-radio marmots-label-left">
																<span>No, nunca he invertido</span>
																<input name="pregunta3" id="pregunta3_1" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label  for="pregunta3_2" class="ui-marmots-label-radio marmots-label-left">
																<span>Poca, he invertido en contadas ocaciones</span>
																<input name="pregunta3" id="pregunta3_2" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label  for="pregunta3_3" class="ui-marmots-label-radio marmots-label-left">
																<span>Si, invierto frecuentemente en productos tradicionales (fondos mutuos, acciones, renta fija, etc.)</span>
																<input name="pregunta3" id="pregunta3_3" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label  for="pregunta3_4" class="ui-marmots-label-radio marmots-label-left">
																<span>Si, invierto frecuentemente en productos sofisticados (derivados, notas estructuadas, simultáneas, etc.)</span>
																<input name="pregunta3" id="pregunta3_4" value="value3" type="radio">
															</label>
														</li>
													</ul>
												</div>
											</div>
                                    	</div>
                                    </div>
                                </div> 

                                <div class="preguntas" data-title="Datos personales">
                                    <div class="step-content-container"> 
                                    	<div class="row">
                                    		
                                    		<div class="col-md-12 container-preguntas-enrolamiento-bloque" >
                                    			<div div class="col-md-12 text-right">
													<small>Pregunta <strong>4</strong> de 9</small>
												</div>
												<div div class="col-md-12">
													<h4>Suponga que su <strong>acción cae 30% en un mes</strong>. ¿Cuál sería su reacción?</span>
												</div>
												<div div class="col-md-12">
													<ul>
														<li>
															<label   for="pregunta4_1" class="ui-marmots-label-radio marmots-label-left">
																<span>Inmediatamente vendería todas las acciones</span>
																<input name="pregunta4" id="pregunta4_1" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label   for="pregunta4_2" class="ui-marmots-label-radio marmots-label-left">
																<span>Vendería parte de mis acciones</span>
																<input name="pregunta4" id="pregunta4_2" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label   for="pregunta4_3" class="ui-marmots-label-radio marmots-label-left">
																<span>Esperaría unos días antes de tomar una decisión</span>
																<input name="pregunta4" id="pregunta4_3" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label  for="pregunta4_4" class="ui-marmots-label-radio marmots-label-left">
																<span>No cambiaría mi portafolio</span>
																<input name="pregunta4" id="pregunta4_4" value="value3" type="radio">
															</label>
														</li>
													</ul>
												</div>
											</div>
                                    	</div>
                                    </div>
                                </div> 



                                <div class="preguntas" data-title="Datos personales">
                                    <div class="step-content-container"> 
                                    	<div class="row">
                                    		
                                    		<div class="col-md-12 container-preguntas-enrolamiento-bloque" >
                                    			<div div class="col-md-12 text-right">
													<small>Pregunta <strong>5</strong> de 9</small>
												</div>
												<div div class="col-md-12">
													<h4>Respecto a sus ingresos netos. <strong>¿Qué porcentaje puede destinar mensualmente a invertir?</strong></span>
												</div>
												<div div class="col-md-12">
													<ul>
														<li>
															<label  for="pregunta5_1" class="ui-marmots-label-radio marmots-label-left">
																<span>Inferior al 5%</span>
																<input name="pregunta5" id="pregunta5_1" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label   for="pregunta5_2" class="ui-marmots-label-radio marmots-label-left">
																<span>Entre el 5% y 15%</span>
																<input name="pregunta5" id="pregunta5_2" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label  for="pregunta5_3" class="ui-marmots-label-radio marmots-label-left">
																<span>Entre 16% y 50%</span>
																<input name="pregunta5" id="pregunta5_3" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label  for="pregunta5_4" class="ui-marmots-label-radio marmots-label-left">
																<span>Entre 41% y 60%</span>
																<input name="pregunta5" id="pregunta5_4" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label  for="pregunta5_5" class="ui-marmots-label-radio marmots-label-left">
																<span>Más de 60%</span>
																<input name="pregunta5" id="pregunta5_5" value="value3" type="radio">
															</label>
														</li>
													</ul>
												</div>
											</div>
                                    	</div>
                                    </div>
                                </div> 



                                <div class="preguntas" data-title="Datos personales">
                                    <div class="step-content-container"> 
                                    	<div class="row">
                                    		
                                    		<div class="col-md-12 container-preguntas-enrolamiento-bloque" >
                                    			<div div class="col-md-12 text-right">
													<small>Pregunta <strong>6</strong> de 9</small>
												</div>
												<div div class="col-md-12">
													<h4>¿Mantendría usted una inversión que pudiera <strong>perder parte del capital invertido</strong>?</span>
												</div>
												<div div class="col-md-12">
													<ul>
														<li>
															<label  for="pregunta6_1" class="ui-marmots-label-radio marmots-label-left">
																<span>No, abandonaría la inversión inmediatamente.</span>
																<input name="pregunta6" id="pregunta6_1" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label  for="pregunta6_2" class="ui-marmots-label-radio marmots-label-left">
																<span>No, reduciría parte de mi inversión inmediatamente.</span>
																<input name="pregunta6" id="pregunta6_2" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label   for="pregunta6_3" class="ui-marmots-label-radio marmots-label-left">
																<span>Probablemente, analizaría la situación y habría una evaluación.</span>
																<input name="pregunta6" id="pregunta6_3" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label  for="pregunta6_4" class="ui-marmots-label-radio marmots-label-left">
																<span>Si, acepto una pérdida en el corto plazo apostando por una ganancia a largo lazo.</span>
																<input name="pregunta6" id="pregunta6_4" value="value3" type="radio">
															</label>
														</li>
														<li> 
															<label  for="pregunta6_5" class="ui-marmots-label-radio marmots-label-left">
																<span>Si, y podría agregar dinero si considerarara que se trata de una buena inversión a largo plazo.</span>
																<input name="pregunta6" id="pregunta6_5" value="value3" type="radio">
															</label>
														</li>
													</ul>
												</div>
											</div>
                                    	</div>
                                    </div>
                                </div> 


                                <div class="preguntas" data-title="Datos personales">
                                    <div class="step-content-container"> 
                                    	<div class="row">
                                    		
                                    		<div class="col-md-12 container-preguntas-enrolamiento-bloque" >
                                    			<div div class="col-md-12 text-right">
													<small>Pregunta <strong>7</strong> de 9</small>
												</div>
												<div div class="col-md-12">
													<h4>¿En cuántos años más piensa comenzar a <strong>retirar el dinero de su inversión</strong>?</span>
												</div>
												<div div class="col-md-12">
													<ul>
														<li>
															<label for="pregunta7_1" class="ui-marmots-label-radio marmots-label-left">
																<span>0 a 2 años.</span>
																<input name="pregunta7" id="pregunta7_1" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label   for="pregunta7_2" class="ui-marmots-label-radio marmots-label-left">
																<span>3 a 5 años.</span>
																<input name="pregunta7" id="pregunta7_2" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label  for="pregunta7_3" class="ui-marmots-label-radio marmots-label-left">
																<span>6 a 10 años.</span>
																<input name="pregunta7" id="pregunta7_3" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label  for="pregunta7_4" class="ui-marmots-label-radio marmots-label-left">
																<span>Más de 10 años.</span>
																<input name="pregunta7" id="pregunta7_4" value="value3" type="radio">
															</label>
														</li> 
													</ul>
												</div>
											</div>
                                    	</div>
                                    </div>
                                </div> 



                                <div class="preguntas" data-title="Datos personales">
                                    <div class="step-content-container"> 
                                    	<div class="row">
                                    		
                                    		<div class="col-md-12 container-preguntas-enrolamiento-bloque" >
                                    			<div div class="col-md-12 text-right">
													<small>Pregunta <strong>8</strong> de 9</small>
												</div>
												<div div class="col-md-12">
													<h4>¿Cómo clasificaría su <strong>experencia en inversiones</strong>?</span>
												</div>
												<div div class="col-md-12">
													<ul>
														<li>
															<label   for="pregunta8_1" class="ui-marmots-label-radio marmots-label-left">
																<span>Nula: no tengo ninguna experiencia en inversiones.</span>
																<input name="pregunta8" id="pregunta8_1" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label  for="pregunta8_2" class="ui-marmots-label-radio marmots-label-left">
																<span>Escasa: tengo muy poca experiencia en inversiones, aparte de cuentas de ahororo y depósitos a plazo.</span>
																<input name="pregunta8" id="pregunta8_2" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label   for="pregunta8_3" class="ui-marmots-label-radio marmots-label-left">
																<span>Moderada: tengo alguna alguna experiencia en inversiones. Me gustaría recibir asesoramiento adicional.</span>
																<input name="pregunta8" id="pregunta8_3" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label  for="pregunta8_4" class="ui-marmots-label-radio marmots-label-left">
																<span>Extensa: soy un inversionista activo y experimentado, me siento cómodo tomando mis propias decisiones.</span>
																<input name="pregunta8" id="pregunta8_4" value="value3" type="radio">
															</label>
														</li> 
													</ul>
												</div>
											</div>
                                    	</div>
                                    </div>
                                </div>


                                <div class="preguntas" data-title="Datos personales">
                                    <div class="step-content-container"> 
                                    	<div class="row">
                                    		
                                    		<div class="col-md-12 container-preguntas-enrolamiento-bloque" >
                                    			<div div class="col-md-12 text-right">
													<small>Pregunta <strong>9</strong> de 9</small>
												</div>
												<div div class="col-md-12">
													<h4>¿Posee usted <strong>estudios relacionados al área financiera</strong>?</span>
												</div>
												<div div class="col-md-12">
													<ul>
														<li>
															<label   for="pregunta9_1" class="ui-marmots-label-radio marmots-label-left">
																<span>No poseo estudios relacionados.</span>
																<input name="pregunta9" id="pregunta9_1" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label   for="pregunta9_2" class="ui-marmots-label-radio marmots-label-left">
																<span>Si poseo estudios universitarios relacionados.</span>
																<input name="pregunta9" id="pregunta9_2" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label  for="pregunta9_3" class="ui-marmots-label-radio marmots-label-left">
																<span>Cuento con post-títulos en materia financiera.</span>
																<input name="pregunta9" id="pregunta9_3" value="value3" type="radio">
															</label>
														</li>
														<li>
															<label  for="pregunta9_4" class="ui-marmots-label-radio marmots-label-left">
																<span>Tengo un título de magister o doctorado en el área de las finanzas.</span>
																<input name="pregunta9" id="pregunta9_4" value="value3" type="radio">
															</label>
														</li> 
													</ul>
												</div>
											</div>
                                    	</div>
                                    </div>
                                </div>

                             


                                <div class="paso1 text-left" data-title="Datos personales">
                                    <div class="step-content-container"> 
                                    	<div class="modal-perfil-resultado">
                                		 	<h3><span class="check-verde-16"></span>Su Perfil de Inversor es: <strong>Perfil Moderado</strong></h3>
											<p><img src="img/icn_ampolleta.png" class="pull-left">Su principal objetivo es obtener un ingreso superior al de las alternativas tradicionales de ahorro, asumiendo una muy ligera volatilidad por periodos muy breves, aunque no nula. Su horizonte de inversión es de aproximadamente 6 meses o más.</p>
											
											
											<hr>
											<div class="text-right">
												<a href="content.php?src=S18-ahorro-e-inversion-creacion-perfil.php" class="btn">Comenzar a invertir</a>
											</div>  
                                    	</div>
                                    </div>
                                </div>

                            </article>
                        </form>
                    </div>
                 
			</div>
		</div>
</div>
</div>
		
	
	
		
	