<script type="text/javascript" src="js/soho-modificar-perfil-inversion.js"></script>
<div class="modal-dialog modal-perfil-inversion">
	<div class="modal-content">
		<div class="modal-box">

			<div class="modal-header">
			    <button type="button" class="close-icon" data-dismiss="modal" aria-hidden="true"></button>
				<h2 class="modal-title">Modificar perfil inversor</h2>
			</div>

			<div class="modal-body no-bottom">

				 <div class="cont-perfil-inversion"> 
					<div class="main-wizard <?php echo $step == '1' ? 'init-step1' : ''; ?>">
						<form id="anular-trans-pin-form" action="#" class="form-horizontal tooltip-validation" novalidate>
							<article class="wizard">

								<!--PASO 01-->
								<div class="paso1" data-title="Objetivo, plazo y actitud de la inversión">
									<h3>¿En general, cuál es su objetivo de inversión?</h3>
									<ul>
										<li>
											<label id="label-moneda" for="radio1" class="ui-marmots-label-radio marmots-label-left">
												Aumentar mi patrimonio de forma agresiva en el mediano plazo.
												<input name="radio1" id="radio1" value="value1" type="radio">
											</label>
										</li>
										<li>
											<label id="label-moneda" for="radio2" class="ui-marmots-label-radio marmots-label-left">
												Proyecto Familiar o Personal (ejemplos: Educación de mis hijos, Jubilación, Viajes).
												<input name="radio1" id="radio2" value="value1" type="radio">
											</label>
										</li>
										<li>
											<label id="label-moneda" for="radio3" class="ui-marmots-label-radio marmots-label-left">
												Aumentar mi patrimonio sin correr grandes riesgos.
												<input name="radio1" id="radio3" value="value1" type="radio">
											</label>
										</li>
									</ul>

									<h3>¿Por cuánto tiempo planea mantener su inversión?</h3>
									<ul>
										<li>
											<label id="label-moneda" for="radio4" class="ui-marmots-label-radio marmots-label-left">
												Hasta 1 año.
												<input name="radio2" id="radio4" value="value2" type="radio">
											</label>
										</li>
										<li>
											<label id="label-moneda" for="radio5" class="ui-marmots-label-radio marmots-label-left">
												Entre 1 y 3 años.
												<input name="radio2" id="radio5" value="value2" type="radio">
											</label>
										</li>
										<li>
											<label id="label-moneda" for="radio6" class="ui-marmots-label-radio marmots-label-left">
												Más de 3 años.
												<input name="radio2" id="radio6" value="value2" type="radio">
											</label>
										</li>
									</ul>

									<h3>Usted tiene disponibles $30 millones y debe mantenerlos durante 6 años más. ¿En qué invertiría mientras tanto?</h3>
									<ul>
										<li>
											<label id="label-moneda" for="radio7" class="ui-marmots-label-radio marmots-label-left">
												Sólo en depósito a plazo.
												<input name="radio3" id="radio7" value="value3" type="radio">
											</label>
										</li>
										<li>
											<label id="label-moneda" for="radio8" class="ui-marmots-label-radio marmots-label-left">
												Una parte en depósito a plazo y otra en acciones.
												<input name="radio3" id="radio8" value="value3" type="radio">
											</label>
										</li>
										<li>
											<label id="label-moneda" for="radio9" class="ui-marmots-label-radio marmots-label-left">
												Sólo en acciones.
												<input name="radio3" id="radio9" value="value3" type="radio">
											</label>
										</li>
										<li>
											<label id="label-moneda" for="radio10" class="ui-marmots-label-radio marmots-label-left">
												Compraría un bien raíz.
												<input name="radio3" id="radio10" value="value3" type="radio">
											</label>
										</li>
									</ul>

									<h3>Tienes una inversión en acciones que cae un 25% en una semana ¿Qué harías?</h3>
									<ul>
										<li>
											<label id="label-moneda" for="radio11" class="ui-marmots-label-radio marmots-label-left">
												Vendería todas las acciones.
												<input name="radio4" id="radio11" value="value4" type="radio">
											</label>
										</li>
										<li>
											<label id="label-moneda" for="radio12" class="ui-marmots-label-radio marmots-label-left">
												Vendería la mayor parte de las acciones.
												<input name="radio4" id="radio12" value="value4" type="radio">
											</label>
										</li>
										<li>
											<label id="label-moneda" for="radio13" class="ui-marmots-label-radio marmots-label-left">
												No vendería las acciones y compraría más de ellas.
												<input name="radio4" id="radio13" value="value4" type="radio">
											</label>
										</li>
									</ul>

									<h3>¿Cuál fondo elegirías para ahorrar para tu pensión, si no lo pudieras cambiar hasta que te jubilaras?</h3>
									<ul>
										<li>
											<label id="label-moneda" for="radio12" class="ui-marmots-label-radio marmots-label-left">
												Fondo A
												<input name="radio5" id="radio12" value="value5" type="radio">
											</label>
										</li>
										<li>
											<label id="label-moneda" for="radio13" class="ui-marmots-label-radio marmots-label-left">
												Fondo B
												<input name="radio5" id="radio13" value="value5" type="radio">
											</label>
										</li>
										<li>
											<label id="label-moneda" for="radio14" class="ui-marmots-label-radio marmots-label-left">
												Fondo C
												<input name="radio5" id="radio14" value="value5" type="radio">
											</label>
										</li>
									</ul>


								</div>
								<!--FIN PASO 01-->


								<!--PASO 02-->
								<div class="paso2" data-title="Fin">
									<div class="comprobante no-border">
										<div class="ok-layer">
											<div class="image">
												<img alt="Ok" title="Ok" src="img/tick.png">
											</div>
											<div class="ok-content">
												<div class="title light">Perfil inversor completado</div>
												<div>
													<p>Con la información aportada, el sistema ha evaluado sus respuestas y ha determinado que su perfil de inversión es:</p>
													<h4>Perfil Moderado</h4>
													<p>Recuerde que si no está de acuerdo con el perfil determinado o cambia sus aspiraciones de inversión podrá realizar de nuevo el perfilado.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--FIN PASO 02-->

							</article>
						
						</form>
					</div>
				</div>

				
			</div>
		</div>
</div>
</div>
		
	
	
		
	