<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-box">
			<div class="modal-header">
				<button type="button" class="close-icon" data-dismiss="modal" aria-hidden="true"></button>
				<h2 class="modal-title">Historial</h2>
			</div>
			<div class="modal-body">
				<div class="utility-icons">
					<a href="#"><span class="icon-16 gray m07-correspondenciavirtual" title="Enviar"></span></a> 
					<a href="#"><span class="icon-16 gray n01-imprimir" title="Imprimir"></span></a>
				</div>
				<article class="capgemini-tables personalizar-historial">
					<div class="tables-body">
						<table>
							<tr>
								<th class="hidden-xs col-md-3">FECHA</th>
								<th>TIPO MODIFICACIÓN</th>
								<th class="col-xs-5">CUENTA SIMPLE</th>
							</tr>
							<tr>
								<td class="hidden-xs">
									27/12/2013
									<small>Hora: 06:46:11</small>
								</td>
								<td>ALTA</td>
								<td><strong>10102014</strong></td>
							</tr>
							<tr>
								<td class="hidden-xs">
									27/12/2013
									<small>Hora: 06:46:11</small>
								</td>
								<td>ALTA</td>
								<td><strong>10102014</strong></td>
							</tr>
							<tr>
								<td class="hidden-xs">
									27/12/2013
									<small>Hora: 06:46:11</small>
								</td>
								<td>ALTA</td>
								<td><strong>10102014</strong></td>
							</tr>
							<tr>
								<td class="hidden-xs">
									27/12/2013
									<small>Hora: 06:46:11</small>
								</td>
								<td>ALTA</td>
								<td><strong>10102014</strong></td>
							</tr>
						</table>
					</div>
				</article>
			</div>
		</div>
	</div>
</div>