<aside class="capgemini-carousel links">
	<header>
		<h1>Promociones</h1>
	</header>
	<div id="sample-carousel" class="carousel mini slide">
		<div class="carousel-inner">
			<div class="item item-image active">
				<a data-href="includes/components/movements/tarjetas/dialogs/compra-todo-cuentas.html" class="modal-trigger">
					<h3>¿Sabías que?</h3>
					<p>... con las tarjetas BBVA puedes pagar cuando y como quieras?</p>
					<img src="img/img-carousel-lateral.jpg" alt="Promociones">
					<!-- <button class="btn small" type="button">Más información</button> -->
				</a>
			</div>
			<div class="item">
				<a data-href="includes/components/movements/tarjetas/dialogs/compra-todo-cuentas.html" class="modal-trigger">
					<h3>Sabías que...02</h3>
					<p>... con las tarjetas BBVA puedes pagar cuando y como quieras?</p>
					<img src="img/img-carousel-lateral.jpg" alt="Promociones">
				</a>
			</div>
			<div class="item">
				<a data-href="includes/components/movements/tarjetas/dialogs/compra-todo-cuentas.html" class="modal-trigger">
					<h3>Sabías que...03</h3>
					<p>... con las tarjetas BBVA puedes pagar cuando y como quieras?</p>
					<img src="img/img-carousel-lateral.jpg" alt="Promociones">
				</a>
			</div>
		</div>

		<div class="carousel-indicators-container">
			<div class="clearfix">
				<a href="#sample-carousel" class="arrow left" data-slide="prev"></a>
				<ul class="carousel-indicators bg-no">
					<li data-target="#sample-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#sample-carousel" data-slide-to="1"></li>
					<li data-target="#sample-carousel" data-slide-to="2"></li>
				</ul>
				<a href="#sample-carousel" class="arrow right" data-slide="next"></a>
			</div>
		</div>
	</div>
</aside> 	
