<aside class="capgemini-carousel visible-md visible-lg">
	<div id="sample-carousel" class="carousel mini slide carousel-lateral">
		<!--div class="close-icon" data-window=".capgemini-carousel"></div-->
		<div class="carousel-inner">
			<div class="item active">
				<img src="img/carousel/caorusel-001.jpg" alt="">
			</div>
			<div class="item">
				<img src="img/carousel/caorusel-001.jpg" alt="">
			</div>
			<div class="item">
				<img src="img/carousel/caorusel-001.jpg" alt="">
			</div>
		</div>

		<div class="carousel-indicators-container">
			<div class="clearfix">
				<!--a href="#sample-carousel" class="arrow left" data-slide="prev"></a-->
				<ul class="carousel-indicators">
					<li data-target="#sample-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#sample-carousel" data-slide-to="1"></li>
					<li data-target="#sample-carousel" data-slide-to="2"></li>
				</ul>
				<!--a href="#sample-carousel" class="arrow right" data-slide="next"></a-->
			</div>
		</div>
	</div>
</aside>