<article class="capgemini-tables mov-table">
	<div class="utility-icons">
		<a href="#"><span class="icon-16 gray l02-excel" title="Exportar a excel"></span></a>
		<a href="#"><span class="icon-16 gray l01-pdf" title="Descargar pdf"></span></a>
		<a href="#"><span class="icon-16 gray m07-correspondenciavirtual" title="Enviar"></span></a> 
		<a href="#"><span class="icon-16 gray n01-imprimir" title="Imprimir"></span></a> 
	</div>
	<h3>Últimos movimientos <!-- Resultados o Cartola enero (dependiendo dela consulta realizada) --></h3>
	<p class="iconed-24 block-warning aviso-no-encontrado hidden"><i class="icon-24 m03-aviso"></i>No se han encontrado resultados.</p>
	<div class="tables-body table-resultados">
		<table class="sortable">
			<tr class="hidden-xs">
				<th class="sorted desc"><a href="#">FECHA</a></th>
				<th><a href="#">Nº DOCUMENTO</a></th>
				<th><a href="#">ISAPRE</a></th>
				<th><a href="#">ESTADO</a></th>
				<th><a href="#">MONTO</a></th>
			</tr>
			<tr data-detail="includes/components/movements/bono-facil/detail/table-detail-1.html">
				<td>
					<span class="link">27/12/2013</span>
					<small>F. Estado: <strong>28/02/20014</strong></small>
				</td>
				<td>03424234</td>
				<td><em>Consalud</em></td>
				<td>Pago isapre</td>
				<td><em>$ 1.348.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Consalud</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small>Pago isapre</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/bono-facil/detail/table-detail-2.html">
				<td>
					<span class="link">28/02/2014</span>
					<small>F. Estado: <strong>28/02/20014</strong></small>
				</td>
				<td>03424234</td>
				<td><em>Fonasa</em></td>
				<td>Pago isapre</td>
				<td><em>$ 1.258.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Fonasa</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 1.258.900</em>
						<small>Pago isapre</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/bono-facil/detail/table-detail-3.html">
				<td>
					<span class="link">30/02/2014</span>
					<small>F. Estado: <strong>28/02/20014</strong></small>	
				</td>
				<td>03424234</td>
				<td><em>Banmedica</em></td>
				<td>En cobranza</td>
				<td><em>$ 2.785.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Banmedica</span>
						<small>30/02/2014</small>
					</div>
					<div class="right">
						<em>$ 2.785.900</em>
						<small>En cobranza</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/bono-facil/detail/table-detail-4.html">
				<td>
					<span class="link">30/02/2014</span>
					<small>F. Estado: <strong>28/02/20014</strong></small>	
				</td>
				<td>03424234</td>
				<td><em>Ing</em></td>
				<td>En cobranza</td>
				<td><em>$ 1.355.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Ing</span>
						<small>30/02/2014</small>
					</div>
					<div class="right">
						<em>$ 1.355.900</em>
						<small>En cobranza</small>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<span class="link">27/12/2013</span>
					<small>F. Estado: <strong>28/02/20014</strong></small>	
				</td>
				<td>03424234</td>
				<td><em>Consalud</em></td>
				<td>Pago isapre</td>
				<td><em>$ 2.000.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Consalud</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 2.000.900</em>
						<small>Pago isapre</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/bono-facil/detail/table-detail-1.html">
				<td>
					<span class="link">27/12/2013</span>
					<small>F. Estado: <strong>28/02/20014</strong></small>	
				</td>
				<td>03424234</td>
				<td><em>Consalud</em></td>
				<td>Pago isapre</td>
				<td><em>$ 1.348.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Consalud</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small>Pago isapre</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/bono-facil/detail/table-detail-2.html">
				<td>
					<span class="link">28/02/2014</span>
					<small>F. Estado: <strong>28/02/20014</strong></small>	
				</td>
				<td>03424234</td>
				<td><em>Fonasa</em></td>
				<td>Pago isapre</td>
				<td><em>$ 1.258.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Fonasa</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 1.258.900</em>
						<small>Pago isapre</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/bono-facil/detail/table-detail-3.html">
				<td>
					<span class="link">30/02/2014</span>
					<small>F. Estado: <strong>28/02/20014</strong></small>	
				</td>
				<td>03424234</td>
				<td><em>Banmedica</em></td>
				<td>En cobranza</td>
				<td><em>$ 2.785.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Banmedica</span>
						<small>30/02/2014</small>
					</div>
					<div class="right">
						<em>$ 2.785.900</em>
						<small>En cobranza</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/bono-facil/detail/table-detail-4.html">
				<td>
					<span class="link">30/02/2014</span>
					<small>F. Estado: <strong>28/02/20014</strong></small>	
				</td>
				<td>03424234</td>
				<td><em>Ing</em></td>
				<td>En cobranza</td>
				<td><em>$ 1.355.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Ing</span>
						<small>30/02/2014</small>
					</div>
					<div class="right">
						<em>$ 1.355.900</em>
						<small>En cobranza</small>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<span class="link">27/12/2013</span>
					<small>F. Estado: <strong>28/02/20014</strong></small>	
				</td>
				<td>03424234</td>
				<td><em>Consalud</em></td>
				<td>Pago isapre</td>
				<td><em>$ 2.000.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Consalud</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 2.000.900</em>
						<small>Pago isapre</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/bono-facil/detail/table-detail-1.html">
				<td>
					<span class="link">27/12/2013</span>
					<small>F. Estado: <strong>28/02/20014</strong></small>	
				</td>
				<td>03424234</td>
				<td><em>Consalud</em></td>
				<td>Pago isapre</td>
				<td><em>$ 1.348.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Consalud</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small>Pago isapre</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/bono-facil/detail/table-detail-2-1.html">
				<td>
					<span class="link">28/02/2014</span>
					<small>F. Estado: <strong>28/02/20014</strong></small>	
				</td>
				<td>03424234</td>
				<td><em>Fonasa</em></td>
				<td>Pago isapre</td>
				<td><em>$ 1.258.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Fonasa</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 1.258.900</em>
						<small>Pago isapre</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/bono-facil/detail/table-detail-3.html">
				<td>
					<span class="link">30/02/2014</span>
					<small>F. Estado: <strong>28/02/20014</strong></small>	
				</td>
				<td>03424234</td>
				<td><em>Banmedica</em></td>
				<td>En cobranza</td>
				<td><em>$ 2.785.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Banmedica</span>
						<small>30/02/2014</small>
					</div>
					<div class="right">
						<em>$ 2.785.900</em>
						<small>En cobranza</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/bono-facil/detail/table-detail-4.html">
				<td>
					<span class="link">30/02/2014</span>
					<small>F. Estado: <strong>28/02/20014</strong></small>	
				</td>
				<td>03424234</td>
				<td><em>Ing</em></td>
				<td>En cobranza</td>
				<td><em>$ 1.355.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Ing</span>
						<small>30/02/2014</small>
					</div>
					<div class="right">
						<em>$ 1.355.900</em>
						<small>En cobranza</small>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<span class="link">27/12/2013</span>
					<small>F. Estado: <strong>28/02/20014</strong></small>	
				</td>
				<td>03424234</td>
				<td><em>Consalud</em></td>
				<td>Pago isapre</td>
				<td><em>$ 2.000.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Consalud</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 2.000.900</em>
						<small>Pago isapre</small>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<footer class="tables-footer table-resultados">
		<button type="button" class="btn"><span>Mostrar más</span></button>
	</footer>
</article>