<aside class="product-header product-header-simple">	
	<div class="left">
		<h4>Prueba de alias</h4>
		<p><strong>Numero de cuenta 00</strong></p>
	</div>
	
	<div class="right">
		<p class="disponible">SALDO TOTAL</p>
		<span>$ 10.000.000</span>
	</div>

</aside>

<aside class="product-header product-header-bottom product-header-tar border-top">
	<div class="left">
		<p>Nº cuotas <strong> 1.493,9178</strong></p>
		<p>Valor cuota <strong>1.927,4483</strong></p>
	</div>
 
	<div class="right">
		<p>Saldo total de la inversión <br> <strong>$ 2.879.449</strong></p>
	</div>
</aside>
