<div class="modal-intro modal-intro-mobile">

	<!-- Bienvenido 1-->
	<div class="modal-interior modal-inter1">
		<header>
			<i class="icono-intro icono-bienvenida"></i>
			<h3>Te damos la bienvenida a la nueva web BBVA.cl Mobile</h3>
		</header>
		<div class="modal-intro-body">
			<p>Puedes ingresar desde cualquier dispositivo (Tablets o Smartphones) para que la uses, estés donde estés.</p>
		</div>
		<footer>
			<ul class="pasos-mobile">
				<li><a class="active"></a></li>
				<li><a href="#;" class="btn1-xs"></a></li>
				<li><a></a></li>
				<li><a></a></li>
				<li><a></a></li>
			</ul>
			<!--<div class="contador">
				<div class="pasos-de">
					<p><span class="active">1 / 5</p>
				</div>
			</div>
			<div class="btn-footer">
				<a href="#;" class="btn" id="btn1-xs">Comenzar</a>
			</div> -->
		</footer>
	</div>

	<!-- Tu Perfil 2-->
	<div class="modal-interior modal-inter2">
		<header>
			<i class="icono-intro icono-tu-perfil"></i>
			<h3>Tu Perfil</h3>
		</header>
		<div class="modal-intro-body">
			<p>Aquí encontrarás toda tu  información personalizada, como entre otras cosas:   tu  clave de acceso BBVA.CL,  tus destinatarios de transferencias  tus Notificaciones / Alertas.</p>
		</div>
		<footer>
			<ul class="pasos-mobile">
				<li><a></a></li>
				<li><a class="active"></a></li>
				<li><a href="#;" class="btn2-xs"></a></li>
				<li><a></a></li>
				<li><a></a></li>
			</ul>
			<!--<div class="contador">
				<div class="pasos-de">
					<p><span class="active">2 / 5</p>
				</div>
			</div>
			<div class="btn-footer">
				<a href="#;" class="btn" id="btn2-xs">Siguiente</a>
			</div>-->
		</footer>
	</div>  
	
	<!-- Tus Productos 3-->
	<div class="modal-interior modal-inter3">
		<header>
			<i class="icono-intro icono-tus-prodcutos"></i>
			<h3>Mis Productos</h3>
		</header>
		<div class="modal-intro-body">
			<p>Donde podrás ver en un simple vistazo el detalle de todos  los productos que tienes en nuestro banco.</p>
		</div>
		<footer>
			<ul class="pasos-mobile">
				<li><a></a></li>
				<li><a></a></li>
				<li><a class="active"></a></li>
				<li><a href="#;" class="btn3-xs"></a></li>
				<li><a></a></li>
			</ul>
			<!--<div class="contador">
				<div class="pasos-de">
					<p><span class="active">3 / 5</p>
				</div>
			</div>
			<div class="btn-footer">
				<a href="#;" class="btn" id="btn3-xs">Siguiente</a>
			</div>-->
		</footer>
	</div>

	<!-- Tu Chat 4-->
	<div class="modal-interior modal-inter4">
		<header>
			<i class="icono-intro icono-tu-chat"></i>
			<h3>Conoce tu sitio</h3>
		</header>
		<div class="modal-intro-body">
			<p>Aquí encontrarás videos, tutoriales sobre como operar en la nueva web.</p>
			<p>Si necesitas ayuda, podrás hablar con nosotros vía CHAT.</p>
		</div>
		<footer>
			<ul class="pasos-mobile">
				<li><a></a></li>
				<li><a></a></li>
				<li><a></a></li>
				<li><a class="active"></a></li>
				<li><a href="#;" class="btn4-xs"></a></li>
			</ul>
			<!--<div class="contador">
				<div class="pasos-de">
					<p><span class="active">4 / 5</p>
				</div>
			</div>
			<div class="btn-footer">
				<a href="#;" class="btn" id="btn4-xs">Siguiente</a>
			</div>-->
		</footer>
	</div>

	<!-- Quiero 5-->
	<div class="modal-interior modal-inter5">
		<header>
			<i class="icono-intro icono-quiero"></i>
			<h3>Nuevo Botón Quiero</h3>
		</header>
		<div class="modal-intro-body">
			<p>Presentamos el nuevo botón QUIERO, desde donde podrás realizar todas tus consultas y operaciones a sólo un click de distancia.</p>
			<p>Te invitamos ahora a entrar y conocer  la nueva web BBVA.CL.</p>
			<div class="form-group formline confirmar">
				<div class="item first check">
					<label for="no-volver-a-mostrar" class="ui-marmots-label-check marmots-label-left">No volver a mostrar este mensaje.
					<input id="no-volver-a-mostrar" name="no-volver-a-mostrar" type="checkbox"></label>
				</div>
			</div>
		</div>
		<footer>
			<a href="#;" class="btn btn5-xs">Entendido</a>

			<ul class="pasos-mobile">
				<li><a></a></li>
				<li><a></a></li>
				<li><a></a></li>
				<li><a></a></li>
				<li><a class="active"></a></li>
			</ul>
			
			<!--<div class="contador">
				<div class="pasos-de">
					<p><span class="active">5 / 5</p>
				</div>
			</div>
			<div class="btn-footer">
				<a href="#;" class="btn" id="btn5-xs">Ingresar</a>
			</div>-->
		</footer>
	</div>
</div>