<div class="modal-intro modal-intro-mobile">

	<div id="hint-mobile" class="owl-carousel hint-mobile">

	  <div class="inner"><!-- Bienvenida -->
	  	<i class="icono-intro icono-bienvenida"></i>
	  	<h3>Te damos la bienvenida a la nueva web BBVA.cl Mobile</h3>
	  	<p>Puedes ingresar desde cualquier dispositivo (Tablets o Smartphones) para que la uses, estés donde estés.</p>
	  </div>

	  <div class="inner"><!-- Mi perfil -->
	  	<i class="icono-intro icono-tu-perfil"></i>
	  	<h3>Tu Perfil</h3>
	  	<p>Aquí encontrarás toda tu información personalizada, como entre otras cosas: tu  clave de acceso BBVA.CL, tus destinatarios de transferencias tus Notificaciones / Alertas.</p>
	  </div>

	  <div class="inner"><!-- Mis Productos -->
	  	<i class="icono-intro icono-tus-productos"></i>
	  	<h3>Mis Productos</h3>
	  	<p>Donde podrás ver en un simple vistazo el detalle de todos  los productos que tienes en nuestro banco.</p>
	  </div>

	  <div class="inner"><!-- Conoce tu sitio -->
	  	<i class="icono-intro icono-tu-chat"></i>
	  	<h3>Conoce tu sitio</h3>
	  	<p>Aquí encontrarás videos, tutoriales sobre como operar en la nueva web. <br>Si necesitas ayuda, podrás hablar con nosotros vía CHAT.</p>
	  </div>

	  <div class="inner"><!-- Conoce tu sitio -->
	  	<i class="icono-intro icono-tu-chat"></i>
	  	<h3>Nuevo Botón Quiero</h3>
	  	<p>Presentamos el nuevo botón QUIERO, desde donde podrás realizar todas tus consultas y operaciones a sólo un click de distancia.</p>
	  	<p>Te invitamos ahora a entrar y conocer la nueva web BBVA.CL.</p>
	  	<div class="form-group formline confirmar">
			<div class="item first check">
				<label for="no-volver-a-mostrar" class="ui-marmots-label-check marmots-label-left">No volver a mostrar este mensaje.
				<input id="no-volver-a-mostrar" name="no-volver-a-mostrar" type="checkbox"></label>
			</div>
		</div>
		<a href="#;" class="btn btn-cerrar">Entendido</a>
	  </div>

	</div>
	

</div>