<div class="modal-intro modal-intro-desktop">
	<!-- Bienvenido -->
	<div class="modal-interior modal-inter1">
		<button type="button" class="close-icon" data-dismiss="modal" aria-hidden="true"></button>
		<header>
			<h3>La nueva BBVAnet llegó</h3>
		</header>
		<div class="modal-intro-body">
			<p>Queremos que el cambio sea fácil para ti así que tenemos <strong>2 consejos</strong> para hacértelo fácil.</p>
		</div>
		<footer>
			<div class="btn-footer">
				<a href="javascript:void(0);" class="btn" id="btn1">Siguiente <span class="glyphicon glyphicon-chevron-right"></span></a> 
			</div>
			<div class="contador">
				<ul>
					<li>
						<span class="dots active"></span>
					</li>
					<li>
						<span class="dots"></span>
					</li>
					<li>
						<span class="dots"></span>
					</li>
				</ul>
			</div>
		</footer>
	</div>

	<!-- Tus Acciones -->
	<div class="modal-interior modal-inter2">
		<button type="button" class="close-icon" data-dismiss="modal" aria-hidden="true"></button>
		<header>
			<h3>Tus acciones en el 'Quiero'</h3>
		</header>
		<div class="modal-intro-body">
			<p><strong>Para transferir, ver tu saldo y hacer otras transacciones</strong>, pulsa el Quiero del producto que quieres usar.</p>
		</div>
		<footer>
			<div class="btn-footer">
				<a href="javascript:void(0);" class="btn" id="btn2-adelante">Siguiente <span class="glyphicon glyphicon-chevron-right"></span></a>
				<a href="javascript:void(0);" class="btn btn-blanco" id="btn2-atras"><span class="glyphicon glyphicon-chevron-left"></span> Anterior</a> 
			</div>
			<div class="contador">
				<ul>
					<li>
						<span class="dots"></span>
					</li>
					<li>
						<span class="dots active"></span>
					</li>
					<li>
						<span class="dots"></span>
					</li>
				</ul>
			</div>
		</footer>
		<div class="pointer left"></div>
	</div>

	<!-- Tus Acciones -->
	<div class="modal-interior modal-inter3">
		<button type="button" class="close-icon" data-dismiss="modal" aria-hidden="true"></button>
		<header>
			<h3>Consultas rápidas vía chat</h3>
		</header>
		<div class="modal-intro-body">
			<p>Cuando tengas una duda de tu cuenta o de la página podrás <strong>consultar en línea a un</strong> ejectivo.</p>
			<div class="form-group formline confirmar">
				<div class="item first check">
					<input type="checkbox">
					No volver a mostrar este mensaje.
					
				</div>
			</div>

		</div>
		<footer>
			<div class="btn-footer">
				<a href="javascript:void(0);" class="btn" id="btn3-adelante">Siguiente <span class="glyphicon glyphicon-chevron-right"></span></a>
				<a href="javascript:void(0);" class="btn btn-blanco" id="btn3-atras"><span class="glyphicon glyphicon-chevron-left"></span> Atras</a> 
			</div>
			<div class="contador">
				<ul>
					<li>
						<span class="dots"></span>
					</li>
					<li>
						<span class="dots "></span>
					</li>
					<li>
						<span class="dots active"></span>
					</li>
				</ul>
			</div>
		</footer>
		<div class="pointer right"></div>
	</div>

</div>