<div class="modal-intro">

	<!-- Bienvenido 
	<div class="modal-interior modal-inter1">
		<header>
			<i class="icono-intro icono-bienvenida"></i>
			<h3>Te damos la bienvenida al nuevo sitio Privado BBVA</h3>
		</header>
		<div class="modal-intro-body">
			<p>Aquí encontraras toda la información que necesitas. Organiza tus productos con facilidad y opera con ellos de manera fácil e intuitiva.</p>
		</div>
		<footer>
			<div class="contador">
				<ul>
					<li></li>
					<li class="active"></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="btn-footer">
				<a href="#;" class="btn">Comenzar</a>
			</div>
		</footer>
	</div>-->

	<!-- Tu Perfil  
	<div class="modal-interior modal-inter2">
		<span class="flecha"></span>
		<header>
			<i class="icono-intro icono-tu-perfil"></i>
			<h3>Tu Perfil</h3>
		</header>
		<div class="modal-intro-body">
			<p>Aquí encontraras toda la información de tu perfil, podrás editar y ver información de tu cuenta.</p>
		</div>
		<footer>
			<div class="contador">
				<ul>
					<li></li>
					<li class="active"></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="btn-footer">
				<a href="#;" class="btn btn-blanco">Atrás</a>
				<a href="#;" class="btn">Siguiente</a>
			</div>
		</footer>
	</div>--> 
	
	<!-- Tus Productos
	<div class="modal-interior modal-inter3">
		<header>
			<i class="icono-intro icono-tus-prodcutos"></i>
			<h3>Tus Productos</h3>
		</header>
		<div class="modal-intro-body">
			<p>Encontrarás todos los productos que tienes en BBVA, el primer producto estará desplegado pero puedes navegar entre tus respectivos productos.</p>
		</div>
		<footer>
			<div class="contador">
				<ul>
					<li></li>
					<li></li>
					<li class="active"></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="btn-footer">
				<a href="#;" class="btn btn-blanco">Atrás</a>
				<a href="#;" class="btn">Siguiente</a>
			</div>
		</footer>
	</div> -->

	<!-- Tu Chat 
	<div class="modal-interior modal-inter4">
		<header>
			<i class="icono-intro icono-tu-chat"></i>
			<h3>Tu Chat</h3>
		</header>
		<div class="modal-intro-body">
			<p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. </p>
		</div>
		<footer>
			<div class="contador">
				<ul>
					<li></li>
					<li></li>
					<li class="active"></li>
					<li></li>
					<li></li>
				</ul>
			</div>
			<div class="btn-footer">
				<a href="#;" class="btn btn-blanco">Atrás</a>
				<a href="#;" class="btn">Siguiente</a>
			</div>
		</footer>
	</div>-->

	<!-- Quiero 
	<div class="modal-interior modal-inter5">
		<header>
			<i class="icono-intro icono-quiero"></i>
			<h3>Quiero</h3>
		</header>
		<div class="modal-intro-body">
			<p>Encontrarás de manera eficaz todas las opciones de tu cuenta además de tener todas las opciones en un solo click.</p>
			<div class="form-group formline confirmar">
				<div class="item first check">
					<label for="pagar-deuda-nacional-notificar-email-check" class="ui-marmots-label-check marmots-label-left">No volver a mostrar este mensaje.
					<input id="pagar-deuda-nacional-notificar-email-check" name="pagar-deuda-nacional-notificar-email-check" type="checkbox"></label>
				</div>
			</div>	
		</div>
		<footer>												
			<div class="contador">
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li class="active"></li>
				</ul>
			</div>
			<div class="btn-footer">
				<a href="#;" class="btn btn-blanco">Atrás</a>
				<a href="#;" class="btn">Siguiente</a>
			</div>
		</footer>
	</div>-->

</div>


