<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-box coronita">
			<div class="cartola-puntos">
				<div class="modalCartola">
					<div class="modal-header">
					    <button type="button" class="close-icon" data-dismiss="modal" aria-hidden="true"></button>
						<h2 class="modal-title">Cartola de Beneficios</h2>
					</div>

					<div class="modal-body no-bottom"> 
		                <!-- paso 1-->
		                <div class="metas transferir-dinero">
							
							<div class="vincular-1">
								
								<div class="card">          
							        <ul class="nav nav-tabs" role="tablist">
							            <li role="presentation" class="active" data-name="aTerceros">
							                <a href="#tab1" role="tab" data-toggle="tab">Mis puntos</a>
							            </li>
							            <li role="presentation" data-name="misCuentas">
							                <a href="#tab2" role="tab" data-toggle="tab">Mi ahorro</a>
							            </li>
							        </ul>
							        <!-- Tab panes -->
							        <div class="tab-content">
							            <div role="tabpanel" class="tab-pane active mgTop-25px" id="tab1">
							                <div class="row">
							                	<aside class="dated aside-consolidado aside-inversiones">	
													<article class="capgemini-tables ffmm-inicio">
														<h2>Resumen de mis puntos</h2>
														<div class="mgLeft-20px mgRight-20px cartola-puntos">
															<div class="boxGreenItem">
																<h1 class="text-center">
																	<i class="icon-star" style="font-weight: bold;"></i> 
																	Puntos disponible: 0
																</h1>
															</div>

															<div class="boxGreen mgTop0px">
																<div class="row mgTop30px mgBottom30px"> 
																	<div class="col-md-4 col-lg-4 col-xs-12 pd0px mgBottom10px">
																		<div class="col-md-5 col-xs-4">
																			<div class="soportCircle">
																				<i class="icon-credit-card"></i>
																			</div>
																		</div>
																		<div class="col-md-7 col-xs-8 pd0px items">
																			<h1>Compra</h1>
																			<p>Con tus Tarjetas de Crédito y Débito BBVA</p>
																		</div>
																	</div>
																	<div class="col-md-4 col-lg-4 col-xs-12 pd0px mgBottom10px">
																		<div class="col-md-5 col-xs-4">
																			<div class="soportCircle">
																				<div class="acumular">
																					<i class="icon-support-1"></i>
																					<i class="icon-box" ></i>
																				</div>
																			</div>
																		</div>
																		<div class="col-md-7 col-xs-8 pd0px items">
																			<h1>Acumula</h1>
																			<p>Puntos y aprovecha las promociones</p>
																		</div>
																	</div>
																	<div class="col-md-4 col-lg-4 col-xs-12 pd0px mgBottom10px">
																		<div class="col-md-5 col-xs-4">
																			<div class="soportCircle">
																				<i class="icon-gift""></i>
																			</div>
																		</div>
																		<div class="col-md-7 col-xs-8 pd0px items">
																			<h1>Canjea</h1>
																			<p>En nuestros comercios</p>
																		</div>	
																	</div>
																</div>
																<div class="text-center">
																	<p>Conoce cómo acumular puntos extra aquí</p>
																</div>
																
															</div>
														</div>

														<h2 class="pdTop15px pdBottom10px">Mis movimientos de puntos</h2>
														<div class="mgLeft-10px mgRight-10px ">
															<div class="row">
																<div class="col-md-5 col-xs-12 mgBottom10px">
																	<p class="col-md-3 col-xs-12 pdLeft0px pdTop4px">Desde:</p>
																	<div class="col-md-9 pd0px col-xs-12">
																		<input type="text" class="datepicker form-control dateFieldTo " id="dateFieldTo" name="dateFieldTo" data-format="dd/mm/yy" placeholder="dd/mm/yyyy" autocomplete="off">
																	</div>
																	
																</div>
																<div class="col-md-5 col-xs-12 mgBottom10px">
																	<p class="col-md-3 col-xs-12 pdRight0px pdTop4px">Hasta:</p>
																	<div class="col-md-9 pd0px col-xs-12">
																		<input type="text" class="datepicker form-control dateFieldTo " id="dateFieldTo" name="dateFieldTo" data-format="dd/mm/yy" placeholder="dd/mm/yyyy" autocomplete="off">
																	</div>
																</div>
																<div class="col-md-2 col-xs-12 text-right">
																	<a href="#" class="btn  pdbottom5px pdLeft16px pdRight16px">consultar</a>
																</div>
															</div>
														</div>
														<hr>
														<div class="mgLeft-10px mgRight-10px">
															<div class="row">
																<div class="col-lg-6 col-md-6 col-sx-12">
																	<span>Movimientos actualizados al cierre del día hábil anterior</span>
																</div>
																

																<div class="col-lg-6 col-md-6 col-sx-12" disabled>
																	<div class="col-md-3 col-lg-3 col-xs-12 pdLeft0px pdRight0px">
																		<button disabled class="btn pdtop2px pdBottom2px pd0px pdLeft4px pdRight4px primary">
																			<span class="icon-16 blue l01-pdf"></span>
																		</button>
																		<button disabled class="btn pdtop2px pdBottom2px pd0px pdLeft4px pdRight4px primary">
																			<span class="icon-16 blue l02-excel"></span>
																		</button>
																	</div>
																	<div class="col-md-9 col-lg-9 col-xs-12">
																		<div class="select selectpicker-out select-largo-maq" style="width: 100%">
																			<select class="selectpicker" disabled>
																				<option value="01">Todos los movimientos</option>
																				<option value="02">Acumulación</option>
																				<option value="02">Canje</option>
																			</select>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</article>
													
													<article class="capgemini-tables holder mgTop20px">
							                        	<div class="row block_two_columns">
							                                <div class="small-12 medium-12 large-12 columns">
							                                    <div class="tables-body table-scroll">
						                                        	<div class="body-tab tables-body">
						                                        		<table id="simulaTab" class="responsive">
							                                        		<thead>
								                                        		<tr>
									                                        		<th style="width:11%">Fecha</th>
									                                        		<th style="width:23%">Degtalle</th>
									                                        		<th style="width:16%">Tipo de mov.</th>
									                                        		<th style="width:14%">Nº Tarjeta</th>
									                                        		<th>Puntos</th>
									                                        		<th>Saldo</th>
								                                        		</tr>
							                                        		</thead>
							                                        		<tbody>
								                                        		<tr  class="blockSmall" style="display: none">
								                                        			<td data-content="Fecha" style="line-height: 2em"></td>
								                                        			<td data-content="Degtalle" style="line-height: 2em"><td>
								                                        			<td data-content="Tipo de mov" style="line-height: 2em"></td>
								                                        			<td data-content="Nº Tarjeta" style="line-height: 2em"></td>
								                                        			<td data-content="Puntos" style="line-height: 2em"></td>
								                                        		</tr>
					 														</tbody>
																		</table>
																		<div class="text-center mgTop10px">
																			<span>No se registran movimientos de puntos en el período</span>
																		</div>
																	</div>
							                               		</div>
							                            	</div>
							                            </div>
							                    	</article>
							                    	
												</aside>
							                </div>
							            </div>

							            <div role="tabpanel" class="tab-pane mgTop-25px" id="tab2">
							                <div class="row">
							                	<aside class="dated aside-consolidado aside-inversiones">	
													<article class="capgemini-tables ffmm-inicio">
														<h2>Mi Ahorro</h2>
														<div class="mgLeft-20px mgRight-20px cartola-puntos">
															<div class="boxGreenItem">
																<h1 class="text-center">
																	<i class="icon-funds" ></i> 
																	Ahorro actual: 0
																</h1>
															</div>

															<div class="boxGreen mgTop0px">
																<div class="row mgTop30px mgBottom30px"> 
																	<div class="col-lg-1 col-md-1 hidden-xs"></div>
																	<div class="col-md-10 col-lg-10 col-xs-12 pd0px">
																		<div class="col-md-2 col-xs-12">
																			<div class="soportCircle">
																				<i class="icon-procentMoney"></i>
																			</div>
																		</div>
																		<div class="col-md-9 col-xs-12 pd0px">
																			<h1>¡Ahorra con tus Tarjetas!</h1>
																			<p>Conoce cómo ahorrar con tus Tarjetas de Crédito BBVA. Ingresa aquí</p>
																		</div>
																	</div>
																	<div class="col-lg-1 col-md-1 hidden-xs"></div>
																</div>
															</div>
														</div>

														<h2 class="pdTop15px pdBottom10px">Cartola de ahorro</h2>
														<div class="mgLeft-10px mgRight-10px ">
															<div class="row">
																<div class="col-md-5 col-xs-12 mgBottom10px">
																	<p class="col-md-3 col-xs-12 pdLeft0px pdTop4px">Desde:</p>
																	<div class="col-md-9 pd0px col-xs-12">
																		<input type="text" class="datepicker form-control dateFieldTo" id="dateFieldTo" name="dateFieldTo" data-format="dd/mm/yy" placeholder="dd/mm/yyyy" autocomplete="off">
																	</div>
																	
																</div>
																<div class="col-md-5 col-xs-12 mgBottom10px">
																	<p class="col-md-3 col-xs-12 pdRight0px pdTop4px">Hasta:</p>
																	<div class="col-md-9 pd0px col-xs-12">
																		<input type="text" class="datepicker form-control dateFieldTo" id="dateFieldTo" name="dateFieldTo" data-format="dd/mm/yy" placeholder="dd/mm/yyyy" autocomplete="off">
																	</div>
																</div>
																<div class="col-md-2 col-xs-12 text-right">
																	<a href="#" class="btn pdbottom5px pdLeft16px pdRight16px">consultar</a>
																</div>
															</div>
														</div>
														<hr>
														<div class="mgLeft-10px mgRight-10px">
															<div class="row">
																<div class="col-lg-6 col-md-6 col-sx-12">
																	<span>Movimientos actualizados al cierre del día hábil anterior</span>
																</div>
																<div class="col-lg-6 col-md-6 col-sx-12 text-right">
																
																	<button class="btn pdtop2px pdBottom2px pd0px pdLeft10px pdRight10px primary">
																		<span class="icon-16 blue l01-pdf"></span>
																	</button>
																	<button class="btn pdtop2px pdBottom2px pd0px pdLeft10px pdRight10px primary">
																		<span class="icon-16 blue l02-excel"></span>
																	</button>
																</div>
															</div>
														</div>
													</article>
													<article class="capgemini-tables holder mgTop20px">
							                        	<div class="row block_two_columns">
							                                <div class="small-12 medium-12 large-12 columns">
							                                    <div class="tables-body table-scroll">
					                                        		<table id="simulaTab" class="responsive">
						                                        		<thead>
							                                        		<tr>
								                                        		<th>Fecha</th>
								                                        		<th>Comercio</th>
								                                        		<th>Nº Tarjeta</th>
								                                        		<th>Abono</th>
							                                        		</tr>
						                                        		</thead>
						                                        		<tbody>
						                                        			
							                                        		<tr class="blockSmall" style="display: none">
							                                        			<td data-content="Fecha" ></td>
							                                        			<td data-content="Degtalle"><td>
							                                        			<td data-content="Tipo de mov"></td>
							                                        		</tr>
				 														</tbody>
																	</table>
																	<div class="text-center mgTop10px">
																		<span>No se registran movimientos de abonos en el período</span>
																	</div>
							                               		</div>
							                            	</div>
							                            </div>
							                    	</article>
												</aside>
							                </div>
							            </div>
							        </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		

<script type="text/javascript"> 
$(function(){
 	$('.nav-tabs').scrollingTabs();
});
</script>

		
	