<aside class="links editable analista-fondos menu-btn-lateral">
	<header> 
		<h1>Analista de fondos y ahorro</h1>
	</header>

	<section>
		<ul>
			<li><a href="content.php?src=S08-rentabilizar.php" class="btn-analista"><span class="icon-analista asesor"></span><strong>Asesor de inversiones</strong></a></li>
			<li><a href="content.php?src=S08-filtrar-catalogo.php" class="btn-analista"><span class="icon-analista catalogo"></span><strong>Catálogo de fondos mutuos</strong></a></li>
			<li class="sin-span"><a href="includes/components/movements/ahorro-movimientos/dialogs/simulador-rentabilidad-ffmm.html" class="btn-analista modal-trigger">
				<strong>Simulador de rentabilidad FFMM</strong></a></li>
		</ul>
	</section>		

</aside>