<aside class="links dated mini-triangled avisos">
	<header>
		<h1>Avisos
		<span class="badge pull-right">8</span></h1>
	</header>
	<ul>
		<li>
			<a href="#"><span class="icon-info-16"></span>Usa las transferencias programadas
			<span class="dateText">12-11-2012</span>
			</a>
		</li>
		<li>
			<a href="#" class="warning"><span class="icon-16 red m01-alerta"></span>Retirada dinero en efectivo..
			<span class="dateText">20-10-2012
				<strong>12:35</strong>
			</span>
			</a>
		</li>
		<li>
			<a href="#"><span class="icon-info-16"></span>Nueva tarjeta a tu ritmo BBVA
			<span class="dateText">22-10-2012</span>
			</a>
		</li>
		<li>
			<a href="#" class="warning"><span class="icon-16 red m01-alerta"></span>Transferencia programada
			<span class="dateText">23-10-2012
				<strong>MAÑANA</strong>
			</span>
			</a>
		</li>
	</ul>
	<footer>
		<button class="btn small" type="button">Ver Todos</button>
	</footer>
</aside>