<aside class="caja-base caja-base-bbva-link">
	<div class="caja-base-inter">
		<header>
			<h2><i class="icono-new icono-caja-base icono-bbva-link"></i>BBVA Link</h2>
		</header>

		<div class="body">
			<p>Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum fastidii accumsan eum liber hendrerit an.</p>
			<a href="#;" class="btn">Abrir Cuenta <i class="icono-new icono-flecha-derecha"></i></a>
			<a href="#;" class="link">¿Como funciona?</a>
		</div>
	</div>
</aside>