<aside class="caja-base caja-base-inscripcion-promociones">
	<div class="caja-base-inter">
		<header>
			<h2><i class="icono-new icono-caja-base icono-inscripcion-promo"></i>Inscripción de promociones</h2>
		</header>

		<div class="body">
			<div class="popup-content opciones-promociones">
				<select class="selectpicker chart-selection-account">
					<option value="CyT" selected>Seleccionar</option>
					<option value="L">Lorem</option>
					<option value="I">Ipsum</option>
				</select>
				<button type="button" class="btn btn-inscripcion modal-trigger" data-href="includes/components/movements/tarjetas/dialogs/inscripcion-a-promociones.html">Inscribir</button>
			</div>
		</div>

	</div>
</aside>