<aside class="caja-base caja-base-bbva-link">
	<div class="caja-base-inter">
		<header>
			<h2><i class="icono-new icono-caja-base icono-club-adelante"></i>BBVA Club Adelante</h2>
		</header>

		<div class="body">
			<p>Disfruta Hoy de grandes beneficios todos los días y de variados y novedosos canjes on line</p>
			<a href="https://clubadelante.cl/home_site" class="btn">Ir al Club Adelante <i class="icono-new icono-flecha-derecha"></i></a>
		</div>

	</div>

	<footer class="footer-caja-base">
		<a class="cursor modal-trigger" data-href="includes/components/movements/tarjetas/dialogs/puntos-disponibles.html">Puntos disponibles <span>987</span><i class="icono-new icono-flecha-derecha"></i></a>
		<a class="cursor modal-trigger" data-href="includes/components/movements/tarjetas/dialogs/puntos-vencer.html">Puntos disponibles <span>32</span><i class="icono-new icono-flecha-derecha"></i></a>
	</footer>
</aside>

