<div class="footer-box">
	<div class="container">
		<div class="row row-calugas">

			<div class="col-md-4 cal cal-uno">
				<h3>Simuladores</h3>
				<div class="row">
					<div class="col-xs-8">
						<ul>
							<li><a href="https://www.bbva.cl/personas/simulador-credito-de-consumo.jsp" target="_blank" class="lista-link">Simula tu crédito de Consumo<span class="icono-new icono-flecha-derecha"></span></a></li>
							<li><a href="https://www.bbva.cl/personas/simulador-hipotecario.jsp" target="_blank" class="lista-link">Cotiza tu Crédito Hipotecario<span class="icono-new icono-flecha-derecha"></span></a></li>
							<li><a href="content.php?src=S12-contratar-deposito.php" class="lista-link">Simula tus Depósitos a Plazos<span class="icono-new icono-flecha-derecha"></span></a></li>
						</ul>
					</div>
					<div class="col-xs-4">
						<img src="img/ico-footer-opciones.jpg" alt="opciones">
					</div>
				</div>
			</div>
			<div class="col-md-4 cal cal-dos">
				<h3>Club Adelante</h3>
				<div class="row">
					<div class="col-xs-8">
						<p>Disfruta Hoy de grandes beneficios todos los días y de variados y novedosos canjes on line en <a href="https://clubadelante.cl/home_site/">clubadelante.cl</a></p>
					</div>
					<div class="col-xs-4">
						<img src="img/ico-footer-club-adelante.jpg" alt="Club Adelante">
					</div>
				</div>
				<!--a href="#;" class="link-caja">Más información <span class="icono-new icono-flecha-derecha"></span></a-->
			</div>
			<div class="col-md-4 cal cal-tres">
				<h3>Atención al Cliente</h3>
				<div class="row">
					<div class="col-xs-9">
						<p>Llámanos al <strong>600-600-1100</strong> <br class="hidden-xs">(Desde celular y extranjero al <br class="hidden-xs">02 2 3460910).</p>
						<p>O bien, háblanos en nuestro<br class="hidden-xs"> <a href="#;">CHAT online</a></p>
						<p>Si necesitas ayuda sobre como operar en la nueva web ingresa <a href="#;">Aquí</a></p>
					</div>
					<div class="col-xs-3">
						<img src="img/ico-footer-atencion.jpg" alt="Atencion">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>