<aside class="coronita">
<div class="cartola-puntos">
	<div class="sideLeft links">
		<header>
			<h1>
				<strong>Mis Beneficios</strong>
			</h1>	
		</header>

		<div class="content">
			<div class="textBlue titleSize">
				<strong>Mis puntos</strong>
			</div>
			<div class="row mgTop10px">
				<div class="col-md-8 pd0px textGrey paragraphSize">
					Disponibles
				</div>
				<div class="col-md-4 pd0px text-right textBlue paragraphSize"> 
					<strong>1.500</strong>
				</div>
				<div class="col-md-8 pd0px textGrey paragraphSize">
					Por vencer (30/06/2017)
				</div>
				<div class="col-md-4 pd0px text-right textBlue paragraphSize"> 
					<strong>231</strong>
				</div>
			</div>
			<div class="boxGreen mgLeft-8px mgRight-8px">
				<div class="header titleSize">Mi ahorro</div>
			</div>
			<div class="boxGreenItem mgLeft-8px mgRight-8px">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sx-12 pdLeft0px">
						Enero 2017
					</div>
					<div class="col-lg-6 col-md-6 col-sx-12 text-right">
						<strong>$35.758</strong>
					</div>
				</div>
			</div>
		</div>
		<aside class="editable analista-fondos menu-btn-lateral">
			<section>
				<ul>
					<li>
						<a href="includes/components/cartola-beneficios/cartola-beneficios.html"  class="btn-analista  modal-trigger" >
							<strong>Ver mi Cartola de Beneficios</strong>
						</a>
					</li>
					<li>
						<a href="includes/components/cartola-beneficios/cartola-beneficios-canjear.html"  class="btn-analista  modal-trigger" >
							<strong>Ver mi Cartola de Beneficios</strong>
						</a>
					</li>
					<li>
						<a href="#"  class="btn-analista  modal-trigger" >
							<strong>Canjear mis Puntos</strong>
						</a>
					</li>
				</ul>
			</section>
		</aside>
	</div>
</div>
</aside>
<div class="coronita mgTop10px mgBottom10px">
	<div class="cartola-puntos">
		<div class="acumula-puntos">
			<div class="sop-tarjeta">
				<i class="icon-procentMoney"></i>
			</div>
			<p>¡Todas las compras con tus <br> <strong>Tarjetas de Crédito BBVA acumulan puntos!</strong></p>
			<ul>
				<li class="mgLeft-16px mgRight-16px">¿Cómo acumular puntos extra?
					<i class="ico arrow-right"></i>
				</li>
				<li class="mgLeft-16px mgRight-16px">¿Cómo ahorrar con tus Tarjetas?
					<i class="ico arrow-right"></i>
				</li>
			</ul>
		</div>
	</div>
</div>
	

<script type="text/javascript">
	$(function(){
	});
</script>


