<aside class="links mini-triangled lateral-cerficados-tributarios latera-ofertas-un-click">

	<a href="content.php?src=S17-ofertas-un-click.php" class="ofertas-click">
		<span class="icon"></span>
		<strong>Mis ofertas a un Click</strong>
	</a>

	<a href="content.php?src=S17-cuenta-bbva-link.php" class="link-bbva-link">
		<span class="icon ico-certificado-tributario-logo-azul"></span>
		<strong>Crear Cuenta BBVA Link</strong>
		<span class="ico-calendario"></span>
	</a>

	<a href="includes/components/movements/creditos/dialogs/certificados-tributarios.html" class="modal-trigger show-operation">
		<span class="ico-certificados"></span>
		<strong>Certificados tributarios</strong>
	</a>

</aside>
