<aside class="links dated mini-triangled club-adelante">

	<header class="header-club">
		<div>
			<img src="img/club-adelante-logo.jpg" alt="club-adelante">
			<div>
				<p>Simplifica tu vida con los mejores beneficios</p>
				<a href="https://clubadelante.cl/home_site/" target="_blank">Visita clubadelante.cl <span></span></a>
			</div>
		</div>
	</header>
	<ul>
		<li>
			<a class="cursor modal-trigger" data-href="includes/components/movements/tarjetas/dialogs/puntos-disponibles.html"><span class="propiedad">Puntos disponibles</span>
			<span class="valor">18.375</span></a>
		</li>
		<li>
			<a class="cursor modal-trigger" data-href="includes/components/movements/tarjetas/dialogs/puntos-vencer.html"><span class="propiedad">Puntos por vencer</span>
			<span class="valor">539</span></a> 
		</li>
	</ul>
	<footer>
		<button class="btn small modal-trigger maxWidth" data-href="includes/components/dialogs/canjear-puntos.html" type="button">Canjear puntos</button>
	</footer>
	<footer>
		<button class="btn small modal-trigger maxWidth" data-href="includes/components/movements/tarjetas/dialogs/historico-canjes.html" type="button">Histórico de canjes</button>
	</footer>
	
	
</aside>	