<aside class="links editable compra-venta menu-btn-lateral">
	<header>
		<h1>Compraventa de divisas</h1>
	</header>

	<section>
		<ul>
			<li><a data-href="includes/components/movements/ahorro-inversiones/dialogs/comprar-dolares.html" class="btn-analista cursor modal-trigger"><strong>Comprar dólares</strong></a></li>
			<li><a data-href="includes/components/movements/ahorro-inversiones/dialogs/vender-dolares.html" class="btn-analista cursor modal-trigger"><strong>Venta dólares</strong></a></li>
		</ul>
	</section>		

</aside>