<aside class="links dated aside-consolidado">

	<article class="capgemini-tables ffmm-inicio">
		<header class="tables-header"><!--header-->
			<h1>Consolidado <span class="icon-16 blue d06-masinformacion tooltip-help-der zindex" title="" data-original-title="En esta sección podrá visualizar la distribución de sus inversiones y ahorros."></span></h1>

			<span class="btn-group">
				<button type="button" data-target=".capgemini-chart" class="btn sprite-cheese active"></button>
				<button type="button" data-target=".tables-body" class="btn sprite-lines"></button>
			</span>
		</header><!--header-->

		<div class="body-consolidado capgemini-chart" style="display:block;"><!--body-consolidado-->

			<div class="saldo-total">
				<p class="pull-left text">Saldo total</p>
				<p class="pull-right valor">$ 300.000.000</p>
			</div>

			<div class=" plus-one big-blue">
				<!--div class="form-group">
					<div class="switch-tabs st-graphics">
						<ul>
							<li class="productos"><a href="#productos">Productos</a></li>
							<li class="tributario"><a href="#tributario">R. Tributario</a></li>
						</ul>
					</div>
				</div-->

				<div id="productos" class="switch-content"><!--productos-->

					<div class="switch-tabs st-graphics text"><b><i>Consolidado de Productos</i></b></div>

					<div data-json="includes/components/tables/data/ahorro-consolidado.json" class="chart-cheese graphic-consolidado"></div>

					<div class="inner-consolidado"><!--inner-consolidado-->
						<!--div class="select">
							<select class="selectpicker">
								<option value="" selected>Pesos ($)</option>
								<option value="">Dólares (US$)</option>
								<option value="">Euros (€)</option>
								<option>UF</option>
							</select>
						</div-->

						
					</div><!--Fin inner-consolidado-->

				</div><!--Fin productos-->


			</div>

		</div><!--Fin body-consolidado-->




		<div class="tables-body" style="display:none"><!--capgemini-chart-->

			<div class="body-consolidado margen2-top"><!--body-consolidado-->

				<div class=" plus-one big-blue">
					<!--div class="form-group">
						<div class="switch-tabs">
							<ul>
								<li class="productos"><a href="#productos2">Productos</a></li>
								<li class="tributario"><a href="#tributario2">R. Tributario</a></li>
							</ul>
						</div>
					</div-->

					<div id="productos2" class="switch-content"><!--productos-->

						<div class="switch-tabs text" style="margin-bottom:20px;"><b><i>Consolidado de Productos</i></b></div>

						<!--div class="inner-consolidado">
							<div class="select">
								<select class="selectpicker">
									<option value="" selected>Pesos ($)</option>
									<option value="">Dólares (US$)</option>
									<option value="">Euros (€)</option>
									<option>UF</option>
								</select>
							</div>
						</div-->
						

						<table class="table-consolidado">
							<tr>
								<th>FONDOS MUTUOS</th>
								<td>$ 1.649.451</td>
							</tr>
							<tr>
								<th>DEPOSITO DE PLAZO</th>
								<td>$ 2.783.637</td>
							</tr>
							<tr>
								<th>ACCIONES</th>
								<td>$ 2.102.296.530</td>
							</tr>
							<tr>
								<th>CUENTA DE AHORRO</th>
								<td>$ 0</td>
							</tr>
						</table>

					</div><!--Fin productos-->

					
				</div><!-- Fin tributario-->
			</div>

		</div><!--Fin capgemini-chart-->
	
	</article>

</aside>