<aside class="links editable analista-fondos menu-btn-lateral">
	<header> 
		<h1>Fondos mutuos</h1>
	</header>

	<section>
		<ul>
			<li><a href="content.php?src=S08-filtrar-catalogo.php" class="btn-analista"><span class="icon-analista catalogo"></span><strong>Catálogo de fondos mutuos</strong></a></li>
			<li class="abre-catalogo"><a href="?src=S08-ahorro-inversion.php" class="btn-analista"><span class="icon-analista valorcuota"></span><strong>Valores cuota</strong></a></li>
		</ul>
	</section>		

</aside>