<script type="text/javascript" src="js/soho-grafico-indicadores.js"></script>
<aside class="links dated aside-indicadores-economicos menu-btn-lateral"><!--aside-->
	<header>
		<h1>Indicadores económicos <span class="icon-16 blue d06-masinformacion tooltip-help zindex" title="" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore."></span></h1>
	</header>

	<section class="graphic-economicos" style="display:none;"><!--graphic-economicos-->
		<div class="graphic" id="grafico-indicadores"><!--graphic-->
		</div><!--Fin graphic-->
			

		<div class="option-select"><!--option-select-->
			<div class="select">
				<select class="selectpicker">
					<option value="" selected>UF</option>
					<option value="">Dólar</option>
					<option value="">Euro</option>
					<option>UTM</option>
					<option>IPC</option>
				</select>
			</div>

			<div class="select">
				<select class="selectpicker">
					<option value="" selected>1 Semana</option>
					<option value="">2 Semanas</option>
					<option value="">3 Semanas</option>
				</select>
			</div>
		</div><!--Fin option-select-->
			
	</section><!--Fin graphic-economicos-->

	<section class="body-economicos"><!--body-economicos-->
		<table>
			<thead>
				<tr>
					<th><span>INDICADOR</span></th>
					<th><span>13/01/2014</span></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>UF</td>
					<td class="text-right">$ 23.041,05</td>
				</tr>
				<tr>
					<td>Dólar (observado)</td>
					<td class="text-right">$ 527.53</td>
				</tr>
				<tr>
					<td>Euro</td>
					<td class="text-right">$ 790,05</td>
				</tr>
				<tr>
					<td>UTM</td>
					<td class="text-right">$ 40.731,00</td>
				</tr>
				<tr>
					<td>IPC</td>
					<td class="text-right">0,40 %</td>
				</tr>
			</tbody>
		</table>
	</section><!--Fin body-economicos-->	

	<footer>
		<!--a class="btn small modal-trigger" data-href="includes/components/movements/ahorro-movimientos/dialogs/indicadores-economicos.html">Ver histórico</a-->
	</footer>

</aside><!--Fin aside-->

