<aside class="links mini-triangled inscripcion-promo">
	<div>
		<header>
			<span class="ico-tarj-ins"></span>
			<h2>Inscripción de <br>promociones</h2>
		</header>
		<div class="popup-content">
				<select class="selectpicker chart-selection-account">
					<option value="CyT" selected>Seleccionar promoción</option>
					<option value="L">Lorem</option>
					<option value="I">Ipsum</option>
				</select>
				<button type="button" class="btn help  modal-trigger" data-href="includes/components/movements/tarjetas/dialogs/inscripcion-a-promociones.html">Aceptar</button>
			</div>
	</div>
</aside>
