<aside class="links dated aside-consolidado aside-inversiones">

	<article class="capgemini-tables ffmm-inicio">
		<header class="tables-header clearfix"><!--header-->
			<div class="pull-left">
				<h1>Mi saldo total en Inversiones <small>(11-05-2016)</small></h1>
				<p>Ganancia/perdida</p>
			</div>
			<div class="pull-right">
				<p><strong>$9.500.000</strong></p>
				<p>$120.000</p>
			</div>
			

			<span class="btn-group ">
				<button type="button" data-target=".capgemini-chart" class="btn sprite-cheese active"></button>
				<button type="button" data-target=".tables-body" class="btn sprite-lines"></button>
				<button type="button" class="btn sprite-arrow"></button>
			</span>
		</header><!--header-->

		<div class="body-consolidado capgemini-chart" style="display:block;"><!--body-consolidado-->

			<div class="saldo-total clearfix">
				<p class="pull-left text">Mostrar por:</p> 
				<div class="pull-left select">
					<select class="selectpicker">
						<option value="" selected>Productos</option>
						<option value="">Opcion 1</option>
						<option value="">Opcion 2</option>
						<option value="">Opcion 3</option>
					</select>
				</div>
			</div>

			<div class=" plus-one big-blue text-center"> 
				<div id="productos" class="switch-content"><!--productos-->  
					<div data-json="includes/components/tables/data/mis-productos-1.json" class="chart-cheese graphic-consolidado"></div> 
				</div><!--Fin productos--> 
			</div>

			<div class="utility-icons">
				<span>Descargar:</span>
				<a href="#"><span class="icon-16 blue l02-excel" title="Exportar a excel"></span></a>
				<a href="#"><span class="icon-16 blue l01-pdf" title="Descargar pdf"></span></a> 
			</div>

		</div><!--Fin body-consolidado--> 




		<div class="tables-body" style="display:none"><!--capgemini-chart-->

			<div class="body-consolidado margen2-top"><!--body-consolidado-->

				<div class=" plus-one big-blue">
					<!--div class="form-group">
						<div class="switch-tabs">
							<ul>
								<li class="productos"><a href="#productos2">Productos</a></li>
								<li class="tributario"><a href="#tributario2">R. Tributario</a></li>
							</ul>
						</div>
					</div-->

					<div id="productos2" class="switch-content"><!--productos-->

						<div class="switch-tabs text" style="margin-bottom:20px;"><b><i>Prueba</i></b></div>

						<!--div class="inner-consolidado">
							<div class="select">
								<select class="selectpicker">
									<option value="" selected>Pesos ($)</option>
									<option value="">Dólares (US$)</option>
									<option value="">Euros (€)</option>
									<option>UF</option>
								</select>
							</div>
						</div-->
						

						<table class="table-consolidado">
							<tr>
								<th>FONDOS MUTUOS</th>
								<td>$ 1.649.451</td>
							</tr>
							<tr>
								<th>DEPOSITO DE PLAZO</th>
								<td>$ 2.783.637</td>
							</tr>
							<tr>
								<th>ACCIONES</th>
								<td>$ 2.102.296.530</td>
							</tr>
							<tr>
								<th>CUENTA DE AHORRO</th>
								<td>$ 0</td>
							</tr>
						</table>

					</div><!--Fin productos-->

					
				</div><!-- Fin tributario-->
			</div>

		</div><!--Fin capgemini-chart-->
	
	</article>

</aside>