<aside class="links dated aside-consolidado aside-inversiones aside-deposito">

	<article class="capgemini-tables ffmm-inicio">
		<header class="tables-header clearfix"><!--header-->
			<div class="pull-left">
				<h1>Depósitos a plazo  <small>(11-05-2016)</small></h1>
				<p>Ganancia/perdida</p>
			</div>
			<div class="pull-right">
				<p><strong>$950.000</strong></p>
				<p>$120.000</p>
			</div>
			

			<span class="btn-group ">
				<button type="button" data-target=".capgemini-chart" class="btn sprite-cheese active"></button>
				<button type="button" data-target=".tables-body" class="btn sprite-lines"></button>
				<button type="button" class="btn sprite-arrow"></button>
			</span>
		</header><!--header-->

		<div class="body-consolidado capgemini-chart not-select" style="display:block;"><!--body-consolidado-->
			<div class=" plus-one big-blue text-center"> 
				<div id="productos" class="switch-content"><!--productos-->  
					<div data-json="includes/components/tables/data/mis-productos-2.json" class="chart-cheese graphic-consolidado"></div>

					<ul class="datos-movil">
						<li><span style="background:#FFB800;"></span> <strong>10.0%</strong> Deposito a Plazo</li>
						<li><span style="background:#F18F00;"></span> <strong>90.0%</strong> Deposito a Plazo</li> 
					</ul> 
				</div><!--Fin productos--> 
			</div>

			<div class="utility-icons">
				<span>Descargar:</span>
				<a href="#"><span class="icon-16 blue l02-excel" title="Exportar a excel"></span></a>
				<a href="#"><span class="icon-16 blue l01-pdf" title="Descargar pdf"></span></a> 
			</div>

		</div><!--Fin body-consolidado--> 

		<div class="tables-body" style="display:none"><!--capgemini-chart-->
			<div class="tables-body table-quiero padding-all-15 table-dropdown">
				<table>
					<tbody>
						<tr>
							<td>
								<div class="quiero-info">	
									<a href="?src=S12-deposito-a-plazo-a.php"><span class="link">Depósito</span></a>
									<span class="tipo-cuenta">0504-0134-0300059543-0001</span>
								</div>
							</td>
							<td class="dropdown">
								<div class="quiero-info">
									<div class="tables-button cursor">
										<span class="quiero">Quiero</span>
										<button type="button" class="btnInside button" >
											<span class="dropdown_title">Ver detalles</span>
										</button>
										<ul class="list listInversiones listQuiero">
											<li Style="padding-right: 0px!important">
												<ul class="subList">
													<li class="title">
														<span class="triangle"></span>
														<h5>VER TRANSACCIONES</h5>
													</li>
													<li><a href="?src=S09-deposito-a-plazo.php&tab=operaciones&operation=rescatar">Ver detalle</a></li>
													
												</ul>
											</li>
											<li>
												<ul class="subList">
													<li class="title">
														<h5>REALIZAR ACCIONES</h5>
													<li><a href="?src=S09-deposito-a-plazo.php&tab=operaciones&operation=rescatar">Rescatar depósitos</a></li>
												</ul>
											</li>
										</ul>
									</div>
									<button type="button" class="btn button go" data-href="javacript:void(0);">
										<span class="glyphicon glyphicon-chevron-down"></span>
									</button>
									<script>
										$('.quiero').unbind('click vclick');
										
										$('.quiero').on('click, vclick', function(e){
										 	e.preventDefault(); 
										 	$(this).next(".btnInside.button").click(); 
										});

										$('.go').unbind('click vclick');

										$('.go').on('click, vclick', function(e){ 
											e.preventDefault(); 
											$(this).parents('.quiero-info').find('.btnInside.button').click(); 
										});
									</script>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="body-consolidado"><!--body-consolidado-->
				<div class=" plus-one big-blue no-padding-bottom"> 
					<div id="productos2" class="switch-content"><!--productos--> 
						<div class="capgemini-tables">
							<div class="tables-body" style="display:none">
								<div class="body-consolidado margen2-top">
									<div class=" plus-one big-blue no-padding-bottom"> 
										<div id="productos2" class="switch-content">
											<table class="table-consolidado">
												<tr>
													<th>Vencimiento</th>
													<td>17-05-2016</td>
												</tr>
												<tr>
													<th>Saldo Final</th>
													<td>$ 1.187.500</td>
												</tr>
												<tr>
													<th>Ganancia</th>
													<td>$ 20.345</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
								<div class="meta-ahorro">
									<i class="ico-auto"></i>
									<span>Meta de ahorro: <strong>Auto nuevo</strong></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tables-body table-quiero padding-all-15 table-dropdown">
				<table>
					<tbody>
						<tr>
							<td>
								<div class="quiero-info">	
									<a href="?src=S12-deposito-a-plazo-a.php"><span class="link">Depósito</span></a>
									<span class="tipo-cuenta">0504-0134-0300059543-0002</span>
								</div>
							</td>
							<td class="dropdown">
								<div class="quiero-info">
									<div class="tables-button cursor">
										<span class="quiero">Quiero</span>
										<button type="button" class="btnInside button" >
											<span class="dropdown_title">Ver detalles</span>
										</button>
										<ul class="list listInversiones listQuiero">
											<li Style="padding-right: 0px!important">
												<ul class="subList">
													<li class="title">
														<span class="triangle"></span>
														<h5>VER TRANSACCIONES</h5>
													</li>
													<li><a href="?src=S09-deposito-a-plazo.php&tab=operaciones&operation=rescatar">Ver detalle</a></li>
													
												</ul>
											</li>
											<li>
												<ul class="subList">
													<li class="title">
														<h5>REALIZAR ACCIONES</h5>
													<li><a href="?src=S09-deposito-a-plazo.php&tab=operaciones&operation=rescatar">Rescatar depósitos</a></li>
												</ul>
											</li>
										</ul>
									</div>
									<button type="button" class="btn button go" data-href="javacript:void(0);">
										<span class="glyphicon glyphicon-chevron-down"></span>
									</button>
									<script>
										$('.quiero').unbind('click vclick');
										
										$('.quiero').on('click, vclick', function(e){
										 	e.preventDefault(); 
										 	$(this).next(".btnInside.button").click(); 
										});

										$('.go').unbind('click vclick');

										$('.go').on('click, vclick', function(e){ 
											e.preventDefault(); 
											$(this).parents('.quiero-info').find('.btnInside.button').click(); 
										});
									</script>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="body-consolidado"><!--body-consolidado-->
				<div class=" plus-one big-blue no-padding-bottom"> 
					<div id="productos2" class="switch-content"><!--productos--> 
						<div class="capgemini-tables">
							<div class="tables-body" style="display:none">
								<div class="body-consolidado margen2-top">
									<div class=" plus-one big-blue no-padding-bottom"> 
										<div id="productos2" class="switch-content">
											<table class="table-consolidado">
												<tr>
													<th>Vencimiento</th>
													<td>23-05-2016</td>
												</tr>
												<tr>
													<th>Saldo Final</th>
													<td>$ 1.325.768</td>
												</tr>
												<tr>
													<th>Ganancia</th>
													<td>$ 15.345</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
								<div class="meta-ahorro">
									<i class="ico-vivienda"></i>
									<span>Meta de ahorro: <strong>Pie para casa</strong></span>
								</div>
							</div>
						</div>
					</div><!--Fin productos-->
					<div class="utility-icons2">
						<span>Descargar:</span>
						<a href="#"><span class="icon-16 blue l02-excel" title="Exportar a excel"></span></a>
						<a href="#"><span class="icon-16 blue l01-pdf" title="Descargar pdf"></span></a> 
					</div>					
				</div><!-- Fin tributario-->
			</div>
		</div><!--Fin capgemini-chart-->



	
	</article>

</aside>