<aside class="links dated aside-consolidado aside-inversiones">
	<article class="capgemini-tables ffmm-inicio">
		<header class="tables-header clearfix"><!--header-->
			<div class="pull-left">
				<h1>Fondos mutuos <small>(11-05-2016)</small></h1>
				<p>Ganancia/perdida</p>
			</div>
			<div class="pull-right">
				<p><strong>$8.050.000</strong></p>
				<p>$120.000</p>
			</div>
			<span class="btn-group">
				<button type="button" data-target=".capgemini-chart" class="btn sprite-cheese active"></button>
				<button type="button" data-target=".tables-body" class="btn sprite-lines"></button>
				<button type="button" class="btn sprite-arrow"></button>
			</span>
		</header><!--header-->

		<div class="body-consolidado capgemini-chart not-select" style="display:block;">
			<!--body-consolidado-->
			<div class=" plus-one big-blue text-center"> 
				<div id="productos" class="switch-content"><!--productos-->  
					<div data-json="includes/components/tables/data/mis-productos-3.json" class="chart-cheese graphic-consolidado"></div> 
					<ul class="datos-movil">
						<li><span style="background:#00529A;"></span> <strong>90.0%</strong> BBVA Disponible - Serie A</li>
						<li><span style="background:#00A3E2;"></span> <strong>10.0%</strong> BBVA Disponible - Serie B</li>
					</ul>
				</div>
			<!--Fin productos--> 
			</div>
			<div class="utility-icons">
				<span>Descargar:</span>
				<a href="#"><span class="icon-16 blue l02-excel" title="Exportar a excel"></span></a>
				<a href="#"><span class="icon-16 blue l01-pdf" title="Descargar pdf"></span></a>
			</div>
		</div><!--Fin body-consolidado-->

		<div class="tables-body" style="display:none; margin-bottom: 0px !important;">
		<!--capgemini-chart-->
		
			<aside class="notification-bar" style="margin: 16px 16px 16px 16px;">
				<div class="row">
					<div class="col-xs-2 notification-left-clock ">
						<i class="ico-clock"></i>
					</div>
					<div class="col-xs-9 notification-content">
						<div>Horario no disponible</div>
						<div class="blue">Jhon Doe, la información sobre tus Fondos Mutuos está disponible de <strong>lunes a viernes entre las 07:00 hrs. y las 19:00 hrs.</strong></div>
					</div>
				</div>
			</aside>
				

		</div><!--Fin capgemini-chart-->
	
	</article>

</aside>