<aside class="links dated aside-consolidado aside-inversiones">
	<article class="capgemini-tables ffmm-inicio">
		<header class="tables-header clearfix"><!--header-->
			<div class="pull-left">
				<h1>Fondos mutuos <small>(11-05-2016)</small></h1>
				<p>Ganancia/perdida</p>
			</div>
			<div class="pull-right">
				<p><strong>$8.050.000</strong></p>
				<p>$120.000</p>
			</div>
			<span class="btn-group">
				<button type="button" data-target=".capgemini-chart" class="btn sprite-cheese active"></button>
				<button type="button" data-target=".tables-body" class="btn sprite-lines"></button>
				<button type="button" class="btn sprite-arrow"></button>
			</span>
		</header><!--header-->

		<div class="body-consolidado capgemini-chart not-select" style="display:block;">
			<!--body-consolidado-->
			<div class=" plus-one big-blue text-center"> 
				<div id="productos" class="switch-content"><!--productos-->  
					<div data-json="includes/components/tables/data/mis-productos-3.json" class="chart-cheese graphic-consolidado"></div> 
					<ul class="datos-movil">
						<li><span style="background:#00529A;"></span> <strong>90.0%</strong> BBVA Disponible - Serie A</li>
						<li><span style="background:#00A3E2;"></span> <strong>10.0%</strong> BBVA Disponible - Serie B</li>
					</ul>
				</div>
			<!--Fin productos--> 
			</div>
			<div class="utility-icons">
				<span>Descargar:</span>
				<a href="#"><span class="icon-16 blue l02-excel" title="Exportar a excel"></span></a>
				<a href="#"><span class="icon-16 blue l01-pdf" title="Descargar pdf"></span></a>
			</div>
		</div><!--Fin body-consolidado-->

		<div class="tables-body" style="display:none">
		<!--capgemini-chart-->
			<div class="tables-body table-quiero padding-all-15 table-dropdown">
				<table>
					<tbody>
						<tr>
							<td class="td60">
								<div class="quiero-info">
									<a href="?src=S12-deposito-a-plazo-a.php"><span class="link">BBVA Disponible Serie A</span></a>
									<span class="tipo-cuenta">Inversión con PAC asociado </span>
								</div>
							</td>
							<td class="dropdown">
								<div class="quiero-info">
									<div class="tables-button cursor">
										<span class="quiero">Quiero</span>
										<button type="button" class="btnInside button" >
											<span class="dropdown_title">Ver detalles</span>
										</button>
										<ul class="list listInversiones listQuiero">
											<li Style="padding-right: 0px!important">
												<ul class="subList">
													<li class="title">
														<span class="triangle"></span><h5>VER TRANSACCIONES</h5>
													</li>
													<li><a href="?src=S08-ffmm.php">Ver saldos y movimientos</a></li>
														
														<li><a href="?src=S08-ffmm.php&tab=operaciones&operation=ffmmConsultarCartolaHistorica">Consultar cartola hist&#243;rica</a></li>
														<li><a href="?src=S08-ffmm.php&tab=operaciones&operation=">Valor cuota</a></li>
												</ul>
											</li>
											<li>
												<ul class="subList">
													<li class="title"><h5>REALIZAR ACCIONES</h5></li>
													<li><a href="?src=S09-ffmm.php&tab=operaciones&operation=gestionarPac">Gestionar PAC &nbsp;<div class="new-item">nuevo</div></a></a></li>
													<li><a href="?src=S08-ffmm.php&tab=operaciones&operation=invertir-fondo">Invertir</a></li>
													<li><a href="?src=S08-ffmm.php&tab=operaciones&operation=rescatar-fondo">Rescatar</a></li>
													<li><a href="?src=S08-ffmm.php&tab=operaciones&operation=ffmmTraspasarEntreFondos">Traspasar entre mis fondos</a></li>
												</ul>
											</li>
										</ul>
									</div>
									<button type="button" class="btn button go" data-href="javacript:void(0);">
										<span class="glyphicon glyphicon-chevron-down"></span>
									</button>
									<script>
										$('.quiero').unbind('click vclick');$('.quiero').on('click, vclick', function(e){ e.preventDefault(); $(this).next(".btnInside.button").click(); });
										$('.go').unbind('click vclick');$('.go').on('click, vclick' , function(e){ e.preventDefault(); $(this).parents('.quiero-info').find('.btnInside.button').click(); });
									</script>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>		
			<div class="body-consolidado margen2-top"><!--body-consolidado-->
				<div class=" plus-one big-blue"> 
					<div id="productos2" class="switch-content"><!--productos-->
						<table class="table-consolidado">
							<tr>
								<th>Nº de Cuotas</th>
								<td>0,0005</td>
							</tr>
							<tr>
								<th>Valor Cuota</th>
								<td>$ 200.000</td>
							</tr>
							<tr>
								<th>Saldo</th>
								<td>$ 3.325.000</td>
							</tr>
							<tr>
								<th>Ganancia</th>
								<td><strong>$ 10.435</strong></td>
							</tr>
						</table>
					</div><!--Fin productos-->
				</div>
			</div>
			<div class="tables-body table-quiero padding-all-15 table-dropdown">
				<table>
					<tbody>
						<tr>
							<td class="td60">
								<div class="quiero-info">	
									<a href="?src=S12-deposito-a-plazo-a.php"><span class="link">BBVA Activa E - serie inver</span></a>
									<span class="tipo-cuenta">Inversión con PAC asociado</span>
								</div>
							</td>
							<td class="dropdown">
								<div class="quiero-info">
									<div class="tables-button cursor">
										<span class="quiero">Quiero</span>
										<button type="button" class="btnInside button" >
											<span class="dropdown_title">Ver detalles</span>
										</button>
										<ul class="list listInversiones listQuiero">
											<li Style="padding-right: 0px!important">
												<ul class="subList">
													<li class="title">
														<span class="triangle"></span>
														<h5>VER TRANSACCIONES</h5>
													</li>
													<li><a href="?src=S08-ffmm.php">Ver saldos y movimientos</a></li>
													<li><a href="?src=S08-ffmm.php&tab=operaciones&operation=ffmmConsultarCartolaHistorica">Consultar cartola hist&#243;rica</a></li>
													<li><a href="?src=S08-ffmm.php&tab=operaciones&operation=">Valor cuota</a></li>
												</ul>
											</li>
											<li>
												<ul class="subList">
													<li class="title">
														<h5>REALIZAR ACCIONES</h5>
													</li>
													<li><a href="?src=S09-ffmm.php&tab=operaciones&operation=gestionarPac">Gestionar PAC &nbsp;<div class="new-item">nuevo</div></a></a></li>
													<li><a href="?src=S08-ffmm.php&tab=operaciones&operation=invertir-fondo">Invertir</a></li>
													<li><a href="?src=S08-ffmm.php&tab=operaciones&operation=rescatar-fondo">Rescatar</a></li>
													<li><a href="?src=S08-ffmm.php&tab=operaciones&operation=ffmmTraspasarEntreFondos">Traspasar entre mis fondos</a></li>
												</ul>
											</li>
										</ul>
									</div>
									<button type="button" class="btn button go" data-href="javacript:void(0);">
										<span class="glyphicon glyphicon-chevron-down"></span>
									</button>
									<script>
										$('.quiero').unbind('click vclick');
										
										$('.quiero').on('click, vclick', function(e){
										 	e.preventDefault(); 
										 	$(this).next(".btnInside.button").click(); 
										});

										$('.go').unbind('click vclick');

										$('.go').on('click, vclick', function(e){ 
											e.preventDefault(); 
											$(this).parents('.quiero-info').find('.btnInside.button').click(); 
										});
									</script>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>		
			<div class="body-consolidado margen2-top"><!--body-consolidado-->
				<div class=" plus-one big-blue"> 
					<div id="productos2" class="switch-content"><!--productos-->
						<table class="table-consolidado">
							<tr>
								<th>Nº de Cuotas</th>
								<td>0,00082</td>
							</tr>
							<tr>
								<th>Valor Cuota</th>
								<td>$ 100.000</td>
							</tr>
							<tr>
								<th>Saldo</th>
								<td>$ 3.325.000</td>
							</tr>
							<tr>
								<th>Ganancia</th>
								<td><strong>$ 3.325</strong></td>
							</tr>
						</table>
					</div><!--Fin productos-->
					<div class="paginador">
						<button class="btn primary"><span class="blue">1</span></button>
						<button class="btn primary"><span class="blue">2</span></button>
						<button class="btn primary"><span class="blue">3</span></button>
					</div>
					<div class="utility-icons2">
						<span>Descargar:</span>
						<a href="#">
							<span class="icon-16 blue l02-excel" title="Exportar a excel"></span>
						</a>
						<a href="#">
							<span class="icon-16 blue l01-pdf" title="Descargar pdf"></span>
						</a> 
					</div>					
				</div>
			</div>

		</div><!--Fin capgemini-chart-->
	
	</article>

</aside>