<aside class="links dated aside-consolidado aside-inversiones">

	<article class="capgemini-tables ffmm-inicio">
		<header class="tables-header clearfix"><!--header-->
			<div class="pull-left">
				<h1>Mi saldo total en Inversiones <small>(11-05-2016)</small></h1>
				<p>Ganancia/perdida</p>
			</div>
			<div class="pull-right">
				<p><strong>$9.500.000</strong></p>
				<p>$120.000</p>
			</div>
			

			<span class="btn-group ">
				<button type="button" data-target=".capgemini-chart" class="btn sprite-cheese active"></button>
				<button type="button" data-target=".tables-body" class="btn sprite-lines"></button>
				<button type="button" class="btn sprite-arrow"></button>
			</span>
		</header><!--header-->

		<div class="body-consolidado capgemini-chart" style="display:block;"><!--body-consolidado-->

			<div class="saldo-total clearfix">
				<p class="pull-left text">Mostrar por:</p> 
				<div class="pull-left select">
					<select class="selectpicker">
						<option value="" selected>Productos</option>
						<option value="">Opcion 1</option>
						<option value="">Opcion 2</option>
						<option value="">Opcion 3</option>
					</select>
				</div>
			</div>

			<div class=" plus-one big-blue text-center"> 
				<div id="productos" class="switch-content"><!--productos-->  
					<div data-json="includes/components/tables/data/mis-productos-1.json" class="chart-cheese graphic-consolidado"></div> 

					<ul class="datos-movil">
						<li><span style="background:#C9066B;"></span> <strong>7.0%</strong> Acciones</li>
						<li><span style="background:#F18F00;"></span> <strong>11.0%</strong> Deposito a Plazo</li>
						<li><span style="background:#00529A;"></span> <strong>82.0%</strong> Fondos Mutuos</li>
					</ul>
				</div><!--Fin productos--> 
			</div>

			<div class="utility-icons">
				<span>Descargar:</span>
				<a href="#"><span class="icon-16 blue l02-excel" title="Exportar a excel"></span></a>
				<a href="#"><span class="icon-16 blue l01-pdf" title="Descargar pdf"></span></a> 
			</div>

		</div><!--Fin body-consolidado--> 




		<div class="tables-body" style="display:none"><!--capgemini-chart-->

			<div class="saldo-total clearfix no-padding-bottom">
				<p class="pull-left text">Mostrar por:</p> 
				<div class="pull-left select">
					<select class="selectpicker">
						<option value="" selected>Productos</option>
						<option value="">Opcion 1</option>
						<option value="">Opcion 2</option>
						<option value="">Opcion 3</option>
					</select>
				</div>
			</div>

			<div class="body-consolidado"><!--body-consolidado-->

				<div class=" plus-one big-blue"> 

					<div id="productos2" class="switch-content"><!--productos--> 
						<div class="capgemini-tables">
							<div class = "tables-body table-resultados padding-td-border">
								<table class="highlight-element">
										<tbody class="">
												<tr>
														<th>Producto</th>
														<th>Saldo</th>
														<th>Ganancia</th>
												</tr>
												<tr>
														<td>Fondos Mutuos</td>
														<td><strong>$6.650.000</strong></td>
														<td><strong>$30.675</strong></td>
												</tr>
												<tr>
														<td>Depósito a Plazo</td>
														<td><strong>$2.375.000</strong></td>
														<td><strong>$20.465</strong></td>
												</tr>
												<tr>
														<td>Acciones</td>
														<td><strong>$475.000</strong></td>
														<td><strong>$18.456</strong></td>
												</tr><!-- 
												<tr>
														<td>Cuentas de Ahorro</td>
														<td><em>$4.327.530</em></td>
														<td><em>$0</em></td>
												</tr> -->
										</tbody>
								</table>						
							</div>	
						</div>
					</div><!--Fin productos-->
				<div class="utility-icons2">
					<span>Descargar:</span>
					<a href="#"><span class="icon-16 blue l02-excel" title="Exportar a excel"></span></a>
					<a href="#"><span class="icon-16 blue l01-pdf" title="Descargar pdf"></span></a> 
				</div>					
				</div><!-- Fin tributario-->
			</div>
		</div><!--Fin capgemini-chart-->
	</article>

</aside>