<div id="operaciones-favoritas">
	<article class="capgemini-tables holder">
		<aside class="links dated mini-triangled favoritas editable">
			<header>
				<h1><span class="star-blue"></span>Operaciones favoritas<span class="icon-info-16 tooltip-help" title="Puedes añadirlas en los procesos de cada operativa." data-trigger="hover"></span><span class="edit-gray"></span></h1>
			</header>
			
			<ul class="operaciones-lista">
				<li class="operation">
					<div class="fav-buttons">
						<a title="Editar" class="btn white trans"><span class="icon-16 blue n04-editar"></span></a>
						<a title="Anular" class="btn white trans modal-trigger" href="includes/components/movements/cuentas/dialogs/eliminar-operacion-favorita.html"><span class="icon-16 blue n05-eliminar"></span></a>								
					</div>
					<a href="javascript:void(0);">
						<span class="dateText">Última vez realizada: 12-11-2013</span>
						Transferencia de $ 1.000.000 
						<span class="dateText">Cuenta Casa <img class="arrow" src="css/img/arrow_right.png"> Cuenta Juan</span>
					</a>				
					<div class="detailed hidden">
						<form novalidate="novalidate" class="form-horizontal tooltip-validation" name="form1">
							<div class="form-group">				
								<a class="detail-line"><span class="detailedText">Alias de la Operación</span> <input type="text" maxlength="15"  data-msg-required="El campo es obligatorio" class="form-control required" name="alias"></a>
							</div>
							<div class="form-group">
								<a class="detail-line"><span class="detailedText">Monto</span> <input type="text" data-msg-required="El campo es obligatorio" maxlength="12" greater="0" smaller="5000001" class="form-control required number dollar monto" name="monto"></a>
							</div>
							<a class="buttoned-double">
								<button class="btn small accept-edit-item" type="button">Aceptar</button>
								<button class="btn small close-edit-item" type="button">Cancelar</button>
							</a>
						</form>
					</div>
				</li>

				<li class="operation">
					<div class="fav-buttons">
						<a title="Editar" class="btn white trans"><span class="icon-16 blue n04-editar"></span></a>
						<a title="Anular" class="btn white trans modal-trigger" href="includes/components/movements/cuentas/dialogs/eliminar-operacion-favorita.html"><span class="icon-16 blue n05-eliminar"></span></a>								
					</div>
					<a href="javascript:void(0);">
						<span class="dateText">Última vez realizada: 12-11-2013</span>
						Transferencia de $ 1.000.000 
						<span class="dateText">Cuenta Casa <img class="arrow" src="css/img/arrow_right.png"> Cuenta Juan</span>
					</a>				
					<div class="detailed hidden">
						<form novalidate="novalidate" class="form-horizontal tooltip-validation" name="form1">
							<div class="form-group">				
								<a class="detail-line"><span class="detailedText">Alias de la Operación</span> <input type="text" maxlength="15"  data-msg-required="El campo es obligatorio" class="form-control required" name="alias"></a>
							</div>
							<div class="form-group">
								<a class="detail-line"><span class="detailedText">Monto</span> <input type="text" data-msg-required="El campo es obligatorio" maxlength="12" greater="0" smaller="5000001" class="form-control required number dollar monto" name="monto"></a>
							</div>
							<a class="buttoned-double">
								<button class="btn small accept-edit-item" type="button">Aceptar</button>
								<button class="btn small close-edit-item" type="button">Cancelar</button>
							</a> 
						</form>
					</div>
				</li>

				<li class="operation">
					<div class="fav-buttons">
						<a title="Editar" class="btn white trans"><span class="icon-16 blue n04-editar"></span></a>
						<a title="Anular" class="btn white trans modal-trigger" href="includes/components/movements/cuentas/dialogs/eliminar-operacion-favorita.html"><span class="icon-16 blue n05-eliminar"></span></a>								
					</div>
					<a href="javascript:void(0);">
						<span class="dateText">Última vez realizada: 12-11-2013</span>
						Transferencia de $ 1.000.000 
						<span class="dateText">Cuenta Casa <img class="arrow" src="css/img/arrow_right.png"> Cuenta Juan</span>
					</a>				
					<div class="detailed hidden">
						<form novalidate="novalidate" class="form-horizontal tooltip-validation" name="form1">
							<div class="form-group">				
								<a class="detail-line"><span class="detailedText">Alias de la Operación</span> <input type="text" maxlength="15"  data-msg-required="El campo es obligatorio" class="form-control required" name="alias"></a>
							</div>
							<div class="form-group">
								<a class="detail-line"><span class="detailedText">Monto</span> <input type="text" data-msg-required="El campo es obligatorio" maxlength="12" greater="0" smaller="5000001" class="form-control required number dollar monto" name="monto"></a>
							</div>
							<a class="buttoned-double">
								<button class="btn small accept-edit-item" type="button">Aceptar</button>
								<button class="btn small close-edit-item" type="button">Cancelar</button>
							</a>
						</form>
					</div>
				</li>

				<li class="operation">
					<div class="fav-buttons">
						<a title="Editar" class="btn white trans"><span class="icon-16 blue n04-editar"></span></a>
						<a title="Anular" class="btn white trans modal-trigger" href="includes/components/movements/cuentas/dialogs/eliminar-operacion-favorita.html"><span class="icon-16 blue n05-eliminar"></span></a>								
					</div>
					<a href="javascript:void(0);">
						<span class="dateText">Última vez realizada: 12-11-2013</span>
						Transferencia de $ 1.000.000 
						<span class="dateText">Cuenta Casa <img class="arrow" src="css/img/arrow_right.png"> Cuenta Juan</span>
					</a>				
					<div class="detailed hidden">
						<form novalidate="novalidate" class="form-horizontal tooltip-validation" name="form1">
							<div class="form-group">				
								<a class="detail-line"><span class="detailedText">Alias de la Operación</span> <input type="text" maxlength="15"  data-msg-required="El campo es obligatorio" class="form-control required" name="alias"></a>
							</div>
							<div class="form-group">
								<a class="detail-line"><span class="detailedText">Monto</span> <input type="text" data-msg-required="El campo es obligatorio" maxlength="12" greater="0" smaller="5000001" class="form-control required number dollar monto" name="monto"></a>
							</div>
							<a class="buttoned-double">
								<button class="btn small accept-edit-item" type="button">Aceptar</button>
								<button class="btn small close-edit-item" type="button">Cancelar</button>
							</a>
						</form>
					</div>
				</li>

				<li class="operation">
					<div class="fav-buttons">
						<a title="Editar" class="btn white trans"><span class="icon-16 blue n04-editar"></span></a>
						<a title="Anular" class="btn white trans modal-trigger" href="includes/components/movements/cuentas/dialogs/eliminar-operacion-favorita.html"><span class="icon-16 blue n05-eliminar"></span></a>								
					</div>
					<a href="javascript:void(0);">
						<span class="dateText">Última vez realizada: 12-11-2013</span>
						Transferencia de $ 1.000.000 
						<span class="dateText">Cuenta Casa <img class="arrow" src="css/img/arrow_right.png"> Cuenta Juan</span>
					</a>				
					<div class="detailed hidden">
						<form novalidate="novalidate" class="form-horizontal tooltip-validation" name="form1">
							<div class="form-group">				
								<a class="detail-line"><span class="detailedText">Alias de la Operación</span> <input type="text" maxlength="15"  data-msg-required="El campo es obligatorio" class="form-control required" name="alias"></a>
							</div>
							<div class="form-group">
								<a class="detail-line"><span class="detailedText">Monto</span> <input type="text" data-msg-required="El campo es obligatorio" maxlength="12" greater="0" smaller="5000001" class="form-control required number dollar monto" name="monto"></a>
							</div>
							<a class="buttoned-double">
								<button class="btn small accept-edit-item" type="button">Aceptar</button>
								<button class="btn small close-edit-item" type="button">Cancelar</button>
							</a>
						</form>
					</div>
				</li>			
			</ul>

			<div class="buttoned">
				<button class="btn small finish-edit" type="button">Terminar edición</button>
			</div>

		</aside>
	</article>
</div>   