<aside class="links dated mini-triangled operaciones-programadas-ahorro favoritas editable">
	<header>
		<h1>Operaciones programadas en FFMM</h1>
	</header>

	<section class="section">
		<ul>
			<li class="operation">
				<div class="fav-buttons">
					<a title="Editar" class="btn white trans"><span class="icon-16 blue n04-editar"></span></a>
					<a title="Anular" class="btn white trans modal-trigger" href="includes/components/movements/cuentas/dialogs/eliminar-operacion-favorita.html"><span class="icon-16 blue n05-eliminar"></span></a>								
				</div>
				<a href="#">
					Transferencia pago renta
					<span class="dateText">21-10-2013 HOY</span>
				</a>				
				<div class="detailed hidden">
					<form novalidate="novalidate" class="form-horizontal tooltip-validation" name="form1">
						<div class="form-group">				
							<a class="detail-line"><span class="detailedText">Alias de la Operación</span> <input type="text" maxlength="15"  data-msg-required="El campo es obligatorio" class="form-control required" name="alias"></a>
						</div>
						<div class="form-group">
							<a class="detail-line"><span class="detailedText">Monto</span> <input type="text" data-msg-required="El campo es obligatorio" maxlength="12" greater="0" smaller="5000001" class="form-control required number dollar monto" name="monto"></a>
						</div>
				 	<a class="buttoned-double"><button class="btn small accept-edit-item" type="button">Aceptar</button>
					<button class="btn small close-edit-item" type="button">Cancelar</button></a>
					</form>
				</div>				
			</li>			
			<li class="operation">
				<div class="fav-buttons">
					<a title="Editar" class="btn white trans"><span class="icon-16 blue n04-editar"></span></a>
					<a title="Anular" class="btn white trans modal-trigger" href="includes/components/movements/cuentas/dialogs/eliminar-operacion-favorita.html"><span class="icon-16 blue n05-eliminar"></span></a>								
				</div>
				<a href="#">
					Transferencia periódica escuela
					<span class="dateText">21-10-2013 Mañana</span>
				</a>				
				<div class="detailed hidden">
					<form novalidate="novalidate" class="form-horizontal tooltip-validation" name="form1">
						<div class="form-group">				
							<a class="detail-line"><span class="detailedText">Alias de la Operación</span> <input type="text" maxlength="15"  data-msg-required="El campo es obligatorio" class="form-control required" name="alias"></a>
						</div>
						<div class="form-group">
							<a class="detail-line"><span class="detailedText">Monto</span> <input type="text" data-msg-required="El campo es obligatorio" maxlength="12" greater="0" smaller="5000001" class="form-control required number dollar monto" name="monto"></a>
						</div>
				 	<a class="buttoned-double"><button class="btn small accept-edit-item" type="button">Aceptar</button>
					<button class="btn small close-edit-item" type="button">Cancelar</button></a>
					</form>
				</div>				
			</li>
			<li class="operation">
				<div class="fav-buttons">
					<a title="Editar" class="btn white trans"><span class="icon-16 blue n04-editar"></span></a>
					<a title="Anular" class="btn white trans modal-trigger" href="includes/components/movements/cuentas/dialogs/eliminar-operacion-favorita.html"><span class="icon-16 blue n05-eliminar"></span></a>								
				</div>
				<a href="#">
					Ingreso en Cuenta Ahorro
					<span class="dateText">21-10-2013 EN 2 DÍAS</span>
				</a>				
				<div class="detailed hidden">
					<form novalidate="novalidate" class="form-horizontal tooltip-validation" name="form1">
						<div class="form-group">				
							<a class="detail-line"><span class="detailedText">Alias de la Operación</span> <input type="text" maxlength="15"  data-msg-required="El campo es obligatorio" class="form-control required" name="alias"></a>
						</div>
						<div class="form-group">
							<a class="detail-line"><span class="detailedText">Monto</span> <input type="text" data-msg-required="El campo es obligatorio" maxlength="12" greater="0" smaller="5000001" class="form-control required number dollar monto" name="monto"></a>
						</div>
				 	<a class="buttoned-double"><button class="btn small accept-edit-item" type="button">Aceptar</button>
					<button class="btn small close-edit-item" type="button">Cancelar</button></a>
					</form>
				</div>				
			</li>
			<li class="buttoned">
				 <button class="btn small finish-edit" type="button">Terminar edición</button>
			</li>
		</ul>
		
	</section>
	
	<footer>
		<button class="btn small modal-trigger" data-href="includes/components/movements/ahorro-movimientos/dialogs/seleccionar-cuenta.html" type="button">
			Gestionar operaciones (6)
		</button>
	</footer>
		
</aside>