<aside class="links dated mini-triangled agiles">
	<header>
		<h1>Operaciones ágiles
		<span class="icon-16 gray n04-editar"></span></h1>
	</header>
	<ul>
		<li>
			<a href="#">Transferencia de 100,00 €
			<span class="dateText">Última vez realizada: 12-11-2013</span>
			</a>
		</li>
		<li>
			<a href="#">Alias de la operación
			<span class="dateText">Última vez realizada: 10-11-2013</span>
			</a>
		</li>
	</ul>
	<footer>
		<p class="seeMore">Ver más
		<img alt="double-arrow" src="css/img/double-arrow.png">
		</p>
	</footer>
</aside>