<aside class="links dated mini-triangled favoritas editable perfil-inversor perfil-inversor-lateral">
	<header>
		<h1>Perfil inversor</h1>
	</header>

	<section>
		<p>Su perfil de inversión es:</p>
		<ul>
			<li>Conservador</li>
			<li class="active">Moderado</li>
			<li class="last">Arriesgado</li>
		</ul>
		<div class="barra">
			<span class="barra-azul moderado"></span>
		</div>
		<p>Si desea cambiarlo, puede hacerlo desde el Área personal</p>
	</section>

	<footer>
		<a href="?src=S11-mi-perfil-inversor.php" class="btn small">Cambiar perfil de inversión</a>
		<a href="?src=S08-rentabilizar.php" class="btn small btn-asesor">Asesor de inversiones</a>
	</footer>
</aside>