<aside class="sabias-que">
	<header>
		<i class="icono-new icono-ampolleta"></i>
		<h3>Sabías que?</h3>
		<span class="detail-header"></span>
	</header>

	<div class="body">
		<article>
			<p>Puedes conocer tu perfil de inversionista respondiendo una simple encuesta.</p>
			<a href="includes/components/dialogs/modificar-perfil-inversion.html" class="link modal-trigger">Conocer mi perfil de inversionista</a>
		</article>

		<article>
			<p>Ahora puedes ahorrar sistemáticamente en fondos mutuos mes a mes.</p>
			<a class="link" href="content.php?src=S08-filtrar-catalogo.php">Conocer los tipos de fondos</a>
		</article>

		<article>
			<p>Puedes poner un Alias a tus inversiones para identificarlas fácilmente (ej: Fondo universidad).</p>
			<a href="#;" class="link">Personalizar mis inversiones</a>
		</article>
	</div>
	
	<footer>
		
	</footer>
</aside>