<aside class="sabias-que">
	<header>
		<i class="icono-new icono-ampolleta"></i>
		<h3>Sabías que?</h3>
		<span class="detail-header"></span>
	</header>

	<div class="body">
		<article>
			<h4>Lorem ipsum ad his scripta blandit </h4>
			<p>partiendo, eum fastidii accumsan euripidis </p>
			<a href="#;" class="link">in, eum fastidii accumsan eum liber.</a>
		</article>

		<article>
			<h4>Lorem ipsum ad his scripta blandit </h4>
			<p>partiendo, eum fastidii accumsan euripidis </p>
			<a href="#;" class="link">in, eum fastidii accumsan eum liber.</a>
		</article>

		<article>
			<h4>Lorem ipsum ad his scripta blandit </h4>
			<p>partiendo, eum fastidii accumsan euripidis </p>
			<a href="#;" class="link">in, eum fastidii accumsan eum liber.</a>
		</article>
	</div>
	
	<footer>
		
	</footer>
</aside>