<aside id="sabias-que-enviar">
	<div class="links separated">
		<div class="sabias-que-bbva">
			<h3>Sabías que?</h3>
			<ul>
				<li>
					<span class="color-p">La propiedad</span> estará hipotecada como garantía, pero puedes solicitar que se elimine una vez terminado de pagar el crédito y las otras deudas con el Banco. 
				</li>
				
				<li>
					La hipoteca de una <span class="color-p">vivienda</span> conlleva una serie de gastos operacionales, los cuales siempre corren a cargo del comprador. 
				</li>

				<li class="last">		
					Puedes traer una póliza de <span class="color-p">seguros</span> de cualquier compañía que cumpla con las mismas condiciones que nuestra póliza vigente y usarla en tu crédito.	
				</li>
			</ul>
		</div>
	</div>
</aside>