<aside class="sabias-que">
	<header>
		<i class="icono-new icono-ampolleta"></i>
		<h3>Sabías que?</h3>
		<span class="detail-header"></span>
	</header>

	<div class="body">
		<article>
			<p>Puedes simular y solicitar un <strong>crédito de consumo</strong> online.</p>
			<a class="link" href="https://www.bbva.cl/personas/simulador-credito-de-consumo.jsp" target="_blank">Simular un crédito de consumo</a>
		</article>

		<article>
			<p>Puedes cotizar tu <strong>crédito hipotecario</strong> en nuestro simulador.</p>
			<a class="link" href="https://www.bbva.cl/personas/simulador-hipotecario.jsp" target="_blank">Simular un crédito hipotecario</a>
		</article>

		<article>
			<p>Podemos asesorarte en materia de <strong>ahorro</strong><br class="hidden-xs"> y ayudarte a optimizar tus <strong>inversiones.</strong></p>
			<a class="link" href="content.php?src=S08-rentabilizar.php">Visitar el asesor de inversiones</a>
		</article>
	</div>
	
	<footer>
		
	</footer>
</aside>