<aside class="sabias-que">
	<header>
		<i class="icono-new icono-ampolleta"></i>
		<h3>Sabías que?</h3>
		<span class="detail-header"></span>
	</header>

	<div class="body">
		<!--article>
			<p>Por tu seguridad, se recomienda cambies tu clave de acceso BBVA.CL frecuentemente.</p>
			<a class="link" href="content.php?src=S13-mi-perfil-clave-acceso.php">Cambiar mi clave BBVA</a>
		</article-->

		<article>
			<p>Revisa todos los seguros que BBVA tiene para ti (Aut, Salud, Vida, Viaje, Hogar, Cesantía).</p>
			<a class="link" href="https://www.bbva.cl/personas/seguros/" target="_blank">Cambiar mi clave BBVA</a>
		</article>

		<article>
			<p>Puedes conocer tu perfil de inversionista respondiendo una simple encuesta.</p>
			<a href="includes/components/dialogs/modificar-perfil-inversion.html" class="link modal-trigger">Conocer mi perfil de inversionista</a>
		</article>

		<article>
			<p>Puedes simular y solicitar un <strong>crédito de consumo</strong> online.</p>
			<a class="link" href="https://www.bbva.cl/personas/simulador-credito-de-consumo.jsp" target="_blank">Simular un crédito de consumo</a>
		</article>
	</div>
	
	<footer>
		
	</footer>
</aside>