<aside id="sabias-que-enviar">
	<div class="links separated">
		<div class="sabias-que-bbva">
			<h3>Sabías que?</h3>
			<ul>
				<li>
					Puedes conocer tu <span class="color-p">perfil de inversionista</span> respondiendo una simple encuesta.
				</li>
				
				<li>
					Ahora puedes <span class="color-p">ahorrar sistemáticamente</span> en fondos mutuos mes a mes. Conoce los tipos de fondos.
				</li>

				<li class="last">		
					<span class="color-p">Puedes crear un alias</span> a tus inversiones para identificarlas fácilmente (ej: fondo universidad).	
				</li>
			</ul>
		</div>
	</div>
</aside>