<aside class="sabias-que">
	<header>
		<i class="icono-new icono-ampolleta"></i>
		<h3>Sabías que?</h3>
		<span class="detail-header"></span>
	</header>

	<div class="body">
		<article>
			<p>Ahora puedes <strong>ver el saldo de tu cuenta</strong><br class="hidden-xs"> en el detalle de tus últimos movimientos.</p>
			<a href="?src=S03-cuentas.php&amp;tab=operaciones&amp;operation=mas-consultas-movimientos" class="link">Ver mis últimos movimientos</a>
		</article>

		<article>
			<p>Puedes <strong>pagar tu línea de crédito</strong><br class="hidden-xs"> de forma rápida y simple.</p>
			<a href="?src=S03-linea-credito.php&amp;tab=operaciones&amp;operation=linea" class="link">Pagar mi línea de crédito</a>
		</article>

		<article>
			<p>Puedes <strong>personalizar tu número cuenta</strong><br class="hidden-xs"> para hacerla más fácil de recordar.</p>
			<a href="content.php?src=S03-cuentas.php#tab-personalizar" class="link abrir-personalizar">Personaliza tu número de cuenta</a>
		</article>
	</div>
	
	<footer>
		
	</footer>
</aside>