<aside class="sabias-que">
	<header>
		<i class="icono-new icono-ampolleta"></i>
		<h3>Sabías que?</h3>
		<span class="detail-header"></span>
	</header>

	<div class="body">
		<article>
			<p>Puedes consultar tus movimientos por <br class="hidden-xs">facturar en un mismo lugar.</p>
			<a href="?src=S03-tarjetas.php&amp;tab=operaciones&amp;operation=tarjetaMovimientoPorFacturar" class="link">Revisa tus movimientos</a>
		</article>

		<!--article>
			<p>Ahora puedes revisar tu saldo de <strong>puntos Adelante</strong> y el histórico de los canjes que has realizado.</p>
			<a href="includes/components/dialogs/canjear-puntos.html" class="link modal-trigger">Revisar mis puntos adelante</a>
		</article>

		<article>
			<p>Puedes <strong>inscribirte en las promociones</strong> <br class="hidden-xs">del Club Adelante en un solo click.</p>
			<a href="https://clubadelante.cl/home_site/" target="_blank" class="link">Revisa si hay promociones vigentes</a>
		</article-->

		<article>
			<p>Revisa tu histórico de canjes en puntos adelante que haz realizado.</p>
			<a href="includes/components/dialogs/canjear-puntos.html" class="link modal-trigger">Ver mis canjes</a>
		</article>

		<article>
			<p>Entérate de todas las promociones y descuentos especiales que el club adelante tiene para ti.</p>
			<a href="https://clubadelante.cl/home_site/" target="_blank" class="link">Ingresa al sitio Club adelante</a>
		</article>
	</div>
	
	<footer>
		
	</footer>
</aside>