<aside class="simplica-pagos">
	<div class="inner-pagos">
		<header>
			<h1>Simplifica tus pagos con los PAC´s</h1>
		</header>

		<span class="icon-pagos-pac pull-left"></span>
		<ul class="bullet-verde">
			<li><span class="icon-check"></span>Ahorra <strong>tiempo</strong></li>
			<li><span class="icon-check"></span>Evita cobros por <strong>retratos</strong></li>
			<li><span class="icon-check"></span>Revisa el <strong>detalle</strong> de pagos</li>
			<li><span class="icon-check"></span><strong>Controla</strong> con montos máximos</li>
			<li><span class="icon-check"></span>Recibe <strong>emails</strong> por cada pago</li>
		</ul>
		<p>Suscribe tus PAC y pruébalo! Sólo necesitas el <strong>número de cliente</strong> de tu proveedor de servicio.</p>
		<a href="#" class="btn small">Más información</a>

	</div>
	
</aside>