<style type="text/css">
	.laterales-titulo {
        line-height: 0px !important;
	}
	.links-simples {
		margin-top: -10px;
	}
</style>

<aside class="links-simples">
	<h2 class="laterales-titulo">Tambien te puede interesar</h2>
	<ul>
		<li>
			<a href="https://www.bbva.cl/personas/simulador-credito-de-consumo.jsp" target="_blank">Simula tu Crédito <span class="icono-new icono-flecha-derecha"></span></a>
		</li>
		<li>
			<a href="https://www.bbva.cl/personas/simulador-hipotecario.jsp" target="_blank">Cotiza tu hipotecario <span class="icono-new icono-flecha-derecha"></span></a>
		</li>
		<li>
			<a href="https://clubadelante.cl/home_site/" target="_blank">Club adelante <span class="icono-new icono-flecha-derecha"></span></a>
		</li>
		<!--li>
			<a href="#;">Refiere a un amigo y gana <span class="icono-new icono-flecha-derecha"></span></a>
		</li-->

	</ul>
</aside>


