<aside class="links dated mini-triangled trans-programadas">
	<header>
		<h1>Transferencias programadas</h1>
	</header>
	<ul>
		<li>
			<a href="includes/components/movements/cuentas/operations/transferencia-step2.php" class="show-operation">Transferencia pago renta
			<span class="dateText">21-11-2013 HOY</span>
			</a>
		</li>
		<li>
			<a href="includes/components/movements/cuentas/operations/transferencia-step2.php" class="show-operation">Transferencia pago crédito
			<span class="dateText">25-11-2013</span>
			</a>
		</li>
		<li>
			<a href="includes/components/movements/cuentas/operations/transferencia-step2.php" class="show-operation">Transferencia ayuda
			<span class="dateText">25-12-2013</span>
			</a>
		</li>
	</ul>
	<footer>
		<button class="btn small modal-trigger" data-href="includes/components/movements/cuentas/dialogs/seleccionar-cuenta.html" type="button">Gestionar transferencias (6)</button>
	</footer>
</aside>