<article class="capgemini-tables cheese-right visible-md visible-lg">
	<header class="tables-header">
		<h4>
			<button id="volver-situacion" class="btn arrow-left primary volver-situacion" type="button">Volver</button>
			<span id="titulo-tu-situacion">Tu situación</span>
		</h4>
	</header>
	<div class="capgemini-chart">
		<div>
			<div id="tu-situacion-grafico" data-json="includes/components/tables/data/tu-situacion.json" class="chart-cheese"></div>
		</div>
		
		<div id="tu-situacion-activos" data-json="includes/components/tables/data/activos.json" class="chart-cheese"></div>
		<div id="tu-situacion-financiacion" data-json="includes/components/tables/data/financiacion.json" class="chart-cheese"></div>
	</div>
	<footer>
		<ul>
			<li id="situacion-activos"><a>Activos</a>
				<span class="icon-info-16"></span><span class="importe-situacion">$ 15.000.000,00</span>
			</li>
			
			<li id="situacion-financiacion"><a>Financiación</a>
				<span class="icon-info-16"></span><span class="importe-situacion">$ 21.000.000,00</span>
			</li>
		</ul>
	</footer>
</article>