<aside class="links image-links separated triangled">
	<ul>
		<li>
			<a href="?src=S17-ofertas-un-click.php"><span class="icon-16 blue g07-interactividad"></span>Mis ofertas a un click</a>
		</li>
		<li>
			<a href="https://www.bbva.cl/personas/simulador-credito-de-consumo.jsp"><span class="icon-16 blue b14-financiacion"></span>Simula tu Crédito</a>
		</li>
		<li onclick="location.href='#'">
			<a href="?src=S03-cuentaspago-servicios.php&tab=operaciones"><span class="icon-16 blue l05-recibo"></span>Pago Servicios en Línea</a>
		</li>
		<li>
			<a href="https://www.bbva.cl/personas/simulador-hipotecario.jsp"><span class="icon-16 blue b18-hipoteca"></span>Cotiza tu Hipotecario</a>
		</li>
		<li onclick="location.href='#'">
			<a href="https://clubadelante.cl/home_site/"><span class="icon-16 blue p19-regalos"></span>Club adelante</a>
		</li>
		<li onclick="location.href='#'">
			<a href="includes/components/movements/cuentas/dialogs/seleccionar-cuenta-aporte.html" class="modal-trigger"><span class="icon-16 blue p36-donacionesong"></span>Aporte Solidario</a>
		</li>
		<li>
			<a href="includes/components/movements/cuentas/dialogs/factura-electronica.html" class="modal-trigger"><span class="icon-16 blue l05-recibo"></span>Factura electrónica</a>
		</li>
		<li onclick="location.href='#'">
			<a href="?src=S14-pago-automatico-de-cuentas.php"><span class="icon-16 blue l05-recibo"></span>Pago Automático de Cuentas</a>
		</li>
	</ul>
</aside>


