<aside id="lateral-opciones-bbva">
	<div class="caja-opciones-bbva links image-links separated triangled">
		<h2 class="laterales-titulo">Acciones</h2>
		<div class="inter-caja-opciones-bbva">
			<ul>
				<li><a href="content.php?src=S03-cuentas.php&tab=operaciones&operation=transferirdinero"><span class="glyphicon glyphicon-chevron-right"></span>Transferir dinero</a></li> 
				<li><a class="modal-trigger" href="includes/components/movements/creditos/dialogs/certificados-tributarios.html"><span class="glyphicon glyphicon-chevron-right"></span>Certificados tributarios</a></li>
				<li><a  class="modal-trigger" href="includes/components/movements/creditos/dialogs/refiere-a-un-amigo.html"><span class="glyphicon glyphicon-chevron-right"></span>Refiere a un amigo y gana </a></li>
				<li><a class="modal-trigger" href="includes/components/dialogs/pagar-cuentas-servicios.html"><span class="glyphicon glyphicon-chevron-right"></span>Pagar mis cuentas de servicios</a></li>
				<li><a href="content.php?src=S03-cuentas.php&tab=operaciones&operation=recarga"><span class="glyphicon glyphicon-chevron-right"></span>Recargar el celular</a></li>
				<li><a href="content.php?src=S03-cuentas.php&tab=operaciones&operation=aporte"><span class="glyphicon glyphicon-chevron-right"></span>Realizar aporte solidario</a></li>
				<li><a href="content.php?src=S03-cuentas.php&tab=operaciones&operation=cotizaciones"><span class="glyphicon glyphicon-chevron-right"></span>Pagar cotizaciones (Previred)</a></li>
				<li><a href="includes/components/movements/creditos/dialogs/facturas-electronicas.html" class="modal-trigger show-operation"><span class="glyphicon glyphicon-chevron-right"></span>Factura electrónica</a></li> 
 
				
				
			</ul>
			<a class="expandLink" href="#">Ver más<i class="icono-new icono-flecha-abajo"></i></a>
		</div>
	</div>
</aside>



