<aside class="links image-links separated triangled">
	<ul>
		<li>
			<a href="?src=S12-cuentas.php"><span class="icon-16 blue c23-monedas"></span>Mis gastos</a>
		</li>
		<li onclick="location.href='#'">
			<a href="content.php?src=S14-pago-automatico-de-cuentas.php"><span class="icon-pac pago"></span>Pago Automático de Cuentas</a>
		</li>
		<li onclick="location.href='#'">
			<a href="includes/components/movements/cuentas/dialogs/seleccionar-cuenta-pagar-servicio.html" class="modal-trigger"><span class="ico-pago-servicios"></span>Pago de servicios</a>
		</li>
		<li onclick="location.href='#'">
			<a href="#"><span class="icon-16 blue p19-regalos"></span>Club adelante</a>
		</li>
		<li onclick="location.href='#'">
			<a href="#"><span class="icon-16 blue c14-transferirtarjetaacuenta"></span>Avance en línea</a>
		</li>
		<li onclick="location.href='#'">
			<a href="#"><span class="icon-16 blue p36-donacionesong"></span>Aporte Solidario</a>
		</li>
	</ul>
</aside>