<aside class="product-header product-header-tar page-ahorro-detalle">	
	<div class="left">
		<h2>Ahorro Tradicional BBVA</h2>
		<p>0182-2379-450201520255</p>
		<p>Ahorro tradicional</p>
		<p>Moneda <strong>Pesos</strong></p>
	</div>

	<div class="right">
		<p class="small">DISPONIBLE</p>
		$ 10.000.000<br>
		<p>Contable <strong>$ 10.000.000</strong></p>
	</div>
</aside>

<aside class="product-header product-header-bottom product-header-tar border-top">
	<div class="left">
		<p>Giros realizados <strong>0</strong></p>
		<p>Giros pactados <strong> 6 / año</strong>
			<span class="icon-16 blue d06-masinformacion tooltip-help zindex hide-mobile" title="" data-original-title="Número de giros pactados al año sin perder 
derecho al pago de interes."></span>
		</p>
	</div>
 
	<div class="right max-right">
		<p>Intereses por abonar  <strong>$ 4.000 </strong></p>
		<p> Reajustes por abonar  
			<span class="icon-16 blue d06-masinformacion tooltip-help zindex margen-span hide-mobile" title="" data-original-title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."></span> 
			<strong> $ 80.000</strong> 
		</p>
	</div>
</aside>