<article class="capgemini-tables mov-table resultado-busqueda hidden">
	<div class="utility-icons">
		<a href="#"><span class="icon-16 gray l02-excel" title="Exportar a excel"></span></a>
		<a href="#"><span class="icon-16 gray l01-pdf" title="Descargar pdf"></span></a>
		<a href="#"><span class="icon-16 gray m07-correspondenciavirtual" title="Enviar"></span></a> 
		<a href="#"><span class="icon-16 gray n01-imprimir" title="Imprimir"></span></a> 
	</div>
	<h3>Resultado de Busqueda</h3>
    <p class="iconed-24 block-warning aviso-no-encontrado hidden"><i class="icon-24 m03-aviso"></i>No se han encontrado resultados.</p>

	<div class="tables-body table-resultados">
		<table class="sortable">
			<tr class="hidden-xs">
				<th class="sorted desc"><a href="#">Fecha</a></th>
				<th><a href="#">Descripción</a></th>
				<th><a href="#">Monto</a></th>
				<th><a href="#">Saldo</a></th>
			</tr>
			<tr data-detail="includes/components/movements/ahorro-movimientos/detail/table-detail-1.php">
				<td>28/02/2014</td>
				<td><strong>Liquidación reajuste</strong></td>
				<td class="text-right"><strong>$1.000</strong></td>
				<td><strong>$ 7.300</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Liquidación reajuste</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 7.300</em>
						<small>$ 10.100.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/ahorro-movimientos/detail/table-detail-1.php">
				<td>28/02/2014</td>
				<td><strong>Liquidación reajuste</strong></td>
				<td class="text-right"><strong>$1.000</strong></td>
				<td><strong>$ 7.300</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Liquidación reajuste</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 7.300</em>
						<small>$ 10.100.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/ahorro-movimientos/detail/table-detail-1.php">
				<td>28/02/2014</td>
				<td><strong>Liquidación reajuste</strong></td>
				<td class="text-right"><strong>$1.000</strong></td>
				<td><strong>$ 7.300</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Liquidación reajuste</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 7.300</em>
						<small>$ 10.100.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/ahorro-movimientos/detail/table-detail-1.php">
				<td>28/02/2014</td>
				<td><strong>Liquidación reajuste</strong></td>
				<td class="text-right"><strong>$1.000</strong></td>
				<td><strong>$ 7.300</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Liquidación reajuste</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 7.300</em>
						<small>$ 10.100.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/ahorro-movimientos/detail/table-detail-1.php">
				<td>28/02/2014</td>
				<td><strong>Liquidación reajuste</strong></td>
				<td class="text-right"><strong>$1.000</strong></td>
				<td><strong>$ 7.300</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Liquidación reajuste</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 7.300</em>
						<small>$ 10.100.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/ahorro-movimientos/detail/table-detail-1.php">
				<td>28/02/2014</td>
				<td><strong>Liquidación reajuste</strong></td>
				<td class="text-right"><strong>$1.000</strong></td>
				<td><strong>$ 7.300</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Liquidación reajuste</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 7.300</em>
						<small>$ 10.100.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/ahorro-movimientos/detail/table-detail-1.php">
				<td>28/02/2014</td>
				<td><strong>Liquidación reajuste</strong></td>
				<td class="text-right"><strong>$1.000</strong></td>
				<td><strong>$ 7.300</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Liquidación reajuste</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 7.300</em>
						<small>$ 10.100.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/ahorro-movimientos/detail/table-detail-1.php">
				<td>28/02/2014</td>
				<td><strong>Liquidación reajuste</strong></td>
				<td class="text-right"><strong>$1.000</strong></td>
				<td><strong>$ 7.300</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Liquidación reajuste</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 7.300</em>
						<small>$ 10.100.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/ahorro-movimientos/detail/table-detail-1.php">
				<td>28/02/2014</td>
				<td><strong>Liquidación reajuste</strong></td>
				<td class="text-right"><strong>$1.000</strong></td>
				<td><strong>$ 7.300</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Liquidación reajuste</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 7.300</em>
						<small>$ 10.100.000</small>
					</div>
				</td>
			</tr>
			
		</table>
	</div>
	<footer class="tables-footer table-resultados">
		<button type="button" class="btn"><span>Mostrar más</span></button>
	</footer>
	
	<!-- Warning para cuando no hay resultados -->
	<!-- 
	<div class="block-warning">
		<i class="icon-24 gray m03-aviso"></i> No se han encontrado resultados
	</div> 
	-->
</article>
<article class="capgemini-tables mov-table tabs-ocultar-consulta">
	<div class="utility-icons">
		<a href="#"><span class="icon-16 gray l02-excel" title="Exportar a excel"></span></a>
		<a href="#"><span class="icon-16 gray l01-pdf" title="Descargar pdf"></span></a>
		<a href="#"><span class="icon-16 gray m07-correspondenciavirtual" title="Enviar"></span></a> 
		<a href="#"><span class="icon-16 gray n01-imprimir" title="Imprimir"></span></a> 
	</div>
	<h3>Últimos movimientos</h3>
	<div class="tables-body table-resultados tabs-ocultar-consulta">
		<table class="sortable">
			<tr class="hidden-xs">
				<th class="sorted desc"><a href="#">Fecha</a></th>
				<th><a href="#">Descripción</a></th>
				<th><a href="#">Monto</a></th>
				<th><a href="#">Saldo</a></th>
			</tr>
			<tr data-detail="includes/components/movements/ahorro-movimientos/detail/table-detail-1.php">
				<td>28/02/2014</td>
				<td><strong>Liquidación reajuste</strong></td>
				<td class="text-right"><strong>$1.000</strong></td>
				<td><strong>$ 7.300</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Liquidación reajuste</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 7.300</em>
						<small>$ 10.100.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/ahorro-movimientos/detail/table-detail-1.php">
				<td>28/02/2014</td>
				<td><strong>Liquidación reajuste</strong></td>
				<td class="text-right"><strong>$1.000</strong></td>
				<td><strong>$ 7.300</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Liquidación reajuste</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 7.300</em>
						<small>$ 10.100.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/ahorro-movimientos/detail/table-detail-1.php">
				<td>28/02/2014</td>
				<td><strong>Liquidación reajuste</strong></td>
				<td class="text-right"><strong>$1.000</strong></td>
				<td><strong>$ 7.300</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Liquidación reajuste</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 7.300</em>
						<small>$ 10.100.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/ahorro-movimientos/detail/table-detail-1.php">
				<td>28/02/2014</td>
				<td><strong>Liquidación reajuste</strong></td>
				<td class="text-right"><strong>$1.000</strong></td>
				<td><strong>$ 7.300</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Liquidación reajuste</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 7.300</em>
						<small>$ 10.100.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/ahorro-movimientos/detail/table-detail-1.php">
				<td>28/02/2014</td>
				<td><strong>Liquidación reajuste</strong></td>
				<td class="text-right"><strong>$1.000</strong></td>
				<td><strong>$ 7.300</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Liquidación reajuste</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 7.300</em>
						<small>$ 10.100.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/ahorro-movimientos/detail/table-detail-1.php">
				<td>28/02/2014</td>
				<td><strong>Liquidación reajuste</strong></td>
				<td class="text-right"><strong>$1.000</strong></td>
				<td><strong>$ 7.300</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Liquidación reajuste</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 7.300</em>
						<small>$ 10.100.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/ahorro-movimientos/detail/table-detail-1.php">
				<td>28/02/2014</td>
				<td><strong>Liquidación reajuste</strong></td>
				<td class="text-right"><strong>$1.000</strong></td>
				<td><strong>$ 7.300</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Liquidación reajuste</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 7.300</em>
						<small>$ 10.100.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/ahorro-movimientos/detail/table-detail-1.php">
				<td>28/02/2014</td>
				<td><strong>Liquidación reajuste</strong></td>
				<td class="text-right"><strong>$1.000</strong></td>
				<td><strong>$ 7.300</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Liquidación reajuste</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 7.300</em>
						<small>$ 10.100.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/ahorro-movimientos/detail/table-detail-1.php">
				<td>28/02/2014</td>
				<td><strong>Liquidación reajuste</strong></td>
				<td class="text-right"><strong>$1.000</strong></td>
				<td><strong>$ 7.300</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Liquidación reajuste</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 7.300</em>
						<small>$ 10.100.000</small>
					</div>
				</td>
			</tr>
			
		</table>
	</div>
	<footer class="tables-footer table-resultados">
		<button type="button" class="btn"><span>Mostrar más</span></button>
	</footer>
	
	<!-- Warning para cuando no hay resultados -->
	<!-- 
	<div class="block-warning">
		<i class="icon-24 gray m03-aviso"></i> No se han encontrado resultados
	</div> 
	-->
</article>