<article class="capgemini-tables creditCards">
	<header class="tables-header">
		<h4>
			Seguros<span class="btn-group">
				<button type="button" class="btn sprite-arrow"></button>
			</span>
		</h4>
	</header>
	<div class="tables-body">
		<table>
			<tr>
				<th></th>
				<th class="hidden-xs">INICIO VIGENCIA</th>
				<th>PRIMA ASOCIADA</th>
			</tr>
			<tr data-url="?src=S12-seguro-hogar.php">
				<td>0182-2379-450201520255
					<?php include 'actions/seguros.html'; ?>
					<small>Hogar</small>
				</td>
				<td class="hidden-xs"><strong>04/03/2008</strong></td>
				<td><strong>$ 100.000</strong></td>
			</tr>
			<tr data-url="?src=S12-seguro-hogar.php">
				<td>Seguro contra incendios
					<?php include 'actions/seguros.html'; ?>
					<small>0182-2379-450201520255<br>Incencio y Sismo</small>
				</td>
				<td class="hidden-xs"><strong>01/01/2010</strong></td>
				<td><strong>UF 0,48</strong></td>
			</tr>
		</table>
	</div>
</article>