<div class="archivos">
	<p>Aquí puedes guardar la factura, el ticket, etc. El tamaño de los archivos no puede superar 1 MB</p>
	<div class="fileupload">
		<div id="files" class="files"></div>
		<div class="btn-container">
			<span class="btn btn-success fileinput-button">
			    <span>Añadir</span>
			    <!-- The file input field used as target for the file upload widget -->
			    <input id="fileupload" class="table-button" type="file" name="files[]" multiple="">
			</span>
			<div id="progress" class="progress">
		    	<div class="progress-bar progress-bar-success"></div>
			</div>
		</div>
	</div>
</div>