<div class="notas">
	<form action="#" class="notas-form tooltip-validation simple" novalidate="novalidate">
		<div class="buttons hidden">
			<button class="btn primary iconed table-button delete" type="button"><span class="icon-16 blue n05-eliminar"></span></button>
			<button class="btn primary iconed table-button edit" type="button"><span class="icon-16 blue n04-editar"></span></button>						
		</div>
		<div class="input info hidden">
			<span class="info-text">Ej:123456</span>
		</div>
		<fieldset class="input data">
			<input type="text" class="form-control required" maxlength="50" name="notas-input" placeholder="Añadir nota">
		</fieldset>		
		<button class="btn table-button save" type="submit">Guardar</button>
	</form>
</div>