<article class="capgemini-tables creditCards table-home-seguros">
	<header class="tables-header">
		<h4>
			Seguros<span class="btn-group">
				<button type="button" class="btn sprite-arrow"></button>
			</span>
		</h4>
	</header>
	<div class="tables-body table-quiero table-inicial">
		<table>
			<tr>
				<th></th>
				<th class="hidden-xs">INICIO VIGENCIA</th>
				<th>PRIMA ASOCIADA</th>
			</tr>
			<tr >
				<td>
					<div class="quiero-info">
						<a href="?src=S12-seguro-hogar.php"><span class="link">DESGRAVAMEN L. CREDITO </span></a>
						<span class="tipo-cuenta">0504-0011-4000 | DESGR. LINEA SOBREGIRO P.N.</span>
					</div>
				</td>
				<td class="hidden-xs"><span class="dato-strong">04/03/2008</span></strong></td>
				<td><strong>$ 100.000</strong></td>
			</tr>
			<tr>
				<td colspan="3" class="dropdown">
					<div class="quiero-info">
						<?php include 'actions/seguros.html'; ?>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="quiero-info">
						<a href="?src=S12-seguro-hogar.php"><span class="link">CESANTIA HIPOTECARIO </span></a>
						<span class="tipo-cuenta">0504-0011-5000 | CARTERA HIPOTECARIA (UF)</span>
					</div>
				</td>
				<td class="hidden-xs"><span class="dato-strong">04/03/2008</span></td>
				<td><strong>UF 0,48</strong></td>
			</tr>
			<tr>
				<td colspan="3" class="dropdown">
					<div class="quiero-info">
						<?php include 'actions/seguros.html'; ?>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="quiero-info">
						<a href="?src=S12-seguro-hogar.php"><span class="link">FRAUDE </span></a>
						<span class="tipo-cuenta">0504-0011-6000 | SEGURO FRAUDE CLASICO</span>
					</div>
				</td>
				<td class="hidden-xs"><span class="dato-strong">04/03/2008</span></td>
				<td><strong>$ 100.000</strong></td>
			</tr>
			<tr>
				<td colspan="3" class="dropdown">
					<div class="quiero-info">
						<?php include 'actions/seguros.html'; ?>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="quiero-info">
						<a href="?src=S12-seguro-hogar.php"><span class="link">DESGRAVAMEN CONSUMO</span></a>
						<span class="tipo-cuenta">0504-0011-7000 | DESG. CANALES REMOTOS ($))</span>
					</div>
				</td>
				<td class="hidden-xs"><span class="dato-strong">04/03/2008</span></td>
				<td><strong>UF 0,48</strong></td>
			</tr>
			<tr>
				<td colspan="3" class="dropdown">
					<div class="quiero-info">
						<?php include 'actions/seguros.html'; ?>
					</div>
				</td>
			</tr>
		</table>
	</div>
</article>