<aside class="product-header product-header-tar">	
	<div class="left">
		<p><strong>1000-1000-0123456789</strong></p>
		<p>Préstamo Hipotecario</p>
	</div>

	<div class="right">
		<p class="small">SALDO PENDIENTE</p>
		UF 5.775,26<br>
		<p>Monto solicitado <strong>UF 7.054,46</strong></p>
	</div>
</aside>

<aside class="product-header product-header-bottom product-header-tar border-top">
	<div class="left">
		<p>Fecha otorgamiento  <strong>30/04/2010</strong></p>
		<p>Fecha término <strong> 01/12/2029</strong></p>
		<p>Nº Dividendos <strong>235</strong></p>
	</div>
 
	<div class="right">
		<p>Próximo Dividendo  <strong>01/04/2015</strong></p>
		<p>Monto Dividendo  <strong>$ 1.141.096</strong></p>
	</div>
</aside>