<aside class="product-header product-header-simple product-header-tar">	
	<div class="left">
		<h4>4000-4000-0123456789</h4>
		<h5><strong>Crédito Consumo</strong></h5>
		<p>Prestamo Funcionario</p>
	</div>

	<div class="right">
		<p class="disponible">SALDO PENDIENTE</p>
		<span>UF 400,22</span>
		<span>$ 10.000.000<span>
		<p>Monto solicitado <strong>$ 10.000.000</strong></p>
	</div>
</aside>

<aside class="product-header product-header-bottom product-header-tar border-top">
	<div class="left">
		<p>Fecha otorgamiento  <strong>01/12/2014</strong></p>
		<p>Fecha término <strong> 01/12/2016</strong></p>
		<p>Nº Cuotas <strong>18</strong></p>
	</div>
 
	<div class="right">
		<p>Próxima cuota  <strong>01/01/2015</strong></p>
		<p>Monto cuota  <strong>$ 100.000</strong></p>
	</div>
</aside>