<article class="capgemini-tables mov-table resultado-busqueda hidden">
	<div class="utility-icons">
		<a href="#"><span class="icon-16 gray l02-excel" title="Exportar a excel"></span></a>
		<a href="#"><span class="icon-16 gray l01-pdf" title="Descargar pdf"></span></a>
		<a href="#"><span class="icon-16 gray m07-correspondenciavirtual" title="Enviar"></span></a> 
		<a href="#"><span class="icon-16 gray n01-imprimir" title="Imprimir"></span></a> 
	</div>
	<h3>Resultado de Busqueda</h3>
	<p class="iconed-24 block-warning aviso-no-encontrado hidden"><i class="icon-24 m03-aviso"></i>No se han encontrado resultados.</p>
	
    <div class="tables-body table-resultados">
		<table class="sortable">
			<tr class="hidden-xs">
				<th class="sorted desc"><a href="#">Fecha</a></th>
				<th><a href="#">Descripción</a></th>
				<th><a href="#">Monto</a></th>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-gastos-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Tasación</strong></td>
				<td><em>$ 355.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Tasación</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-gastos-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Conservador de Bienes Raices (CBR)</strong></td>
				<td><em>$ 355.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Tasación</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-gastos-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Estudio de títulos</strong></td>
				<td><em>$ 355.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Tasación</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-gastos-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Impuestos de timbres y estampillas</strong></td>
				<td><em>$ 355.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Tasación</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-gastos-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Impuestos de timbres y estampillas</strong></td>
				<td><em>$ 355.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Tasación</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-gastos-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Notario</strong></td>
				<td><p>Sin Costo</p></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Tasación</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<p>Sin costo</p>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-gastos-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Gestoría de documentos</strong></td>
				<td><p>Sin costo</p></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Tasación</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<p>Sin costo</p>
					</div>
				</td>
			</tr>
		</table>
	</div>
</article>
<article class="capgemini-tables mov-table tabs-ocultar-consulta">
	<div class="utility-icons">
		<a href="#"><span class="icon-16 gray l02-excel" title="Exportar a excel"></span></a>
		<a href="#"><span class="icon-16 gray l01-pdf" title="Descargar pdf"></span></a>
		<a href="#"><span class="icon-16 gray m07-correspondenciavirtual" title="Enviar"></span></a> 
		<a href="#"><span class="icon-16 gray n01-imprimir" title="Imprimir"></span></a> 
	</div>
	<h3>Detalles gastos operacionales</h3>
	<p class="iconed-24 block-warning aviso-no-encontrado hidden"><i class="icon-24 m03-aviso"></i>No se han encontrado resultados.</p>
	<div class="tables-body table-resultados">
		<table class="sortable">
			<tr class="hidden-xs">
				<th class="sorted desc"><a href="#">Fecha</a></th>
				<th><a href="#">Descripción</a></th>
				<th><a href="#">Monto</a></th>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-gastos-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Tasación</strong></td>
				<td><em>$ 355.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Tasación</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-gastos-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Conservador de Bienes Raices (CBR)</strong></td>
				<td><em>$ 355.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Tasación</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-gastos-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Estudio de títulos</strong></td>
				<td><em>$ 355.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Tasación</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-gastos-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Impuestos de timbres y estampillas</strong></td>
				<td><em>$ 355.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Tasación</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-gastos-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Impuestos de timbres y estampillas</strong></td>
				<td><em>$ 355.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Tasación</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-gastos-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Notario</strong></td>
				<td><p>Sin Costo</p></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Tasación</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<p>Sin costo</p>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-gastos-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Gestoría de documentos</strong></td>
				<td><p>Sin costo</p></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Tasación</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<p>Sin costo</p>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<footer class="valor-tabla">
		<span>$ 620.027</span>
	</footer>
	
	<!-- Warning para cuando no hay resultados -->
	<!-- 
	<div class="block-warning">
		<i class="icon-24 gray m03-aviso"></i> No se han encontrado resultados
	</div> 
	-->
</article>