<article class="capgemini-tables mov-table resultado-busqueda hidden">
	<div class="utility-icons">
		<a href="#"><span class="icon-16 gray l02-excel" title="Exportar a excel"></span></a>
		<a href="#"><span class="icon-16 gray l01-pdf" title="Descargar pdf"></span></a>
		<a href="#"><span class="icon-16 gray m07-correspondenciavirtual" title="Enviar"></span></a> 
		<a href="#"><span class="icon-16 gray n01-imprimir" title="Imprimir"></span></a> 
	</div>
	<h3>Resultado de Busqueda</h3>
	<p class="iconed-24 block-warning aviso-no-encontrado hidden"><i class="icon-24 m03-aviso"></i>No se han encontrado resultados.</p>
	
    <div class="tables-body table-resultados table-nodetalle">
		<table class="sortable">
			<tr class="hidden-xs">
				<th class="sorted desc"><a href="#">Fecha</a></th>
				<th><a href="#">N° de dividendo</a></th>
				<th><a href="#">Estado</a></th>
				<th><a href="#">Saldo pendiente</a></th>
				<th><a href="#">Monto</a></th>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>35</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.100.000</strong></td>
				<td><em>$ 355.523</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-2-hipotecario.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>35</strong></td>
				<td><strong>PAGADO</strong></td>
				<td><strong>$ 9.100.000</strong></td>
				<td><em>$ 355.523</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PAGADO</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>35</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.100.000</strong></td>
				<td><em>$ 355.523</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-2-hipotecario.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>35</strong></td>
				<td><strong>PAGADO</strong></td>
				<td><strong>$ 9.100.000</strong></td>
				<td><em>$ 355.523</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PAGADO</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>35</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.100.000</strong></td>
				<td><em>$ 355.523</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>35</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.100.000</strong></td>
				<td><em>$ 355.523</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>35</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.100.000</strong></td>
				<td><em>$ 355.523</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>35</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.100.000</strong></td>
				<td><em>$ 355.523</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>35</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.100.000</strong></td>
				<td><em>$ 355.523</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-2-hipotecario.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>35</strong></td>
				<td><strong>PAGADO</strong></td>
				<td><strong>$ 9.100.000</strong></td>
				<td><em>$ 355.523</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>35</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.100.000</strong></td>
				<td><em>$ 355.523</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-2-hipotecario.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>35</strong></td>
				<td><strong>PAGADO</strong></td>
				<td><strong>$ 9.100.000</strong></td>
				<td><em>$ 355.523</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>35</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.100.000</strong></td>
				<td><em>$ 355.523</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-2-hipotecario.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>35</strong></td>
				<td><strong>PAGADO</strong></td>
				<td><strong>$ 9.100.000</strong></td>
				<td><em>$ 355.523</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>35</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.100.000</strong></td>
				<td><em>$ 355.523</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>35</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.100.000</strong></td>
				<td><em>$ 355.523</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 355.523</em>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<footer class="tables-footer table-resultados">
		<button type="button" class="btn"><span>Mostrar más</span></button>
	</footer>
	
	<!-- Warning para cuando no hay resultados -->
	<!-- 
	<div class="block-warning">
		<i class="icon-24 gray m03-aviso"></i> No se han encontrado resultados
	</div> 
	-->
</article>

<article class="capgemini-tables mov-table tabla-gastos-operaciones hidden">
	<div class="utility-icons">
		<a href="#"><span class="icon-16 gray l01-pdf" title="Descargar pdf"></span></a>
	</div>
	<h3>Detalles gastos operacionales</h3>
	
    <div class="tables-body table-resultados no-hover">
		<table class="sortable">
			<tr class="hidden-xs">
				<th class="sorted desc"><a href="#">Fecha</a></th>
				<th><a href="#">Descripción</a></th>
				<th><a href="#">Monto</a></th>
			</tr>
			<tr>
				<td><span class="link">01/12/2014</span></td>
				<td><strong>055</strong></td>
				<td class="toRight"><em>PAGADO!""""""</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Tasación</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 55.730</em>
					</div>
				</td>
			</tr>
			<tr>
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Conservador de Bienes Raices (CBR)</strong></td>
				<td class="toRight"><em>$ 146.780</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Conservador de Bienes Raices (CBR)</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 146.780</em>
					</div>
				</td>
			</tr>
			<tr>
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Estudio de títulos</strong></td>
				<td class="toRight"><em>$ 39.702</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Estudio de títulos</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 39.702</em>
					</div>
				</td>
			</tr>
			<tr>
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Impuestos de timbres y estampillas</strong></td>
				<td class="toRight"><em>$ 176.909</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Impuestos de timbres y estampillas</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 176.909</em>
					</div>
				</td>
			</tr>
			<tr>
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Impuestos de timbres y estampillas</strong></td>
				<td class="toRight"><em>$ 176.909</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Impuestos de timbres y estampillas</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 176.909</em>
					</div>
				</td>
			</tr>
			<tr>
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Notario</strong></td>
				<td class="toRight"><em>sin costo</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Notario</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>sin costo</em>
					</div>
				</td>
			</tr>
			<tr>
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Gestoría de documentos</strong></td>
				<td class="toRight"><em>sin costo</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Gestoría de documentos</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>sin costo</em>
					</div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td class="toRight"><span style="color:#0065b7!important; font-weight:bold; font-size:18px;">$ 620.027</td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Total</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 620.027</em>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
	<!-- Warning para cuando no hay resultados -->
	<!-- 
	<div class="block-warning">
		<i class="icon-24 gray m03-aviso"></i> No se han encontrado resultados
	</div> 
	-->
</article>

<article class="capgemini-tables mov-table tabs-ocultar-consulta">
	<div class="utility-icons">
		<a href="#"><span class="icon-16 gray l01-pdf" title="Descargar pdf"></span></a>
	</div>
	<h3>Pagos históricos</h3>
	<p class="iconed-24 block-warning aviso-no-encontrado hidden"><i class="icon-24 m03-aviso"></i>No se han encontrado resultados.</p>
	<div class="tables-body table-resultados">
		<table class="sortable">
			<tr class="hidden-xs">
				<th class="sorted desc"><a href="#">Fecha</a></th>
				<th><a href="#">N° de dividendo</a></th>
				<th><a href="#">Estado</a></th>
				<th><a href="#">Saldo pendiente</a></th>
				<th><a href="#">Monto</a></th>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">01/12/2014</span></td>
				<td class="text-left"><strong>055</strong></td>
				<td><strong>PAGADO</strong></td>
				<td><strong>UF 0,00</strong></td>
				<td><em>UF 43.25</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PAGADO</span>
						<small>01/12/2014</small>
					</div>
					<div class="right">
						<em>UF 43.25</em>
					</div>
				</td>
			</tr>

			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">01/01/2015</span></td>
				<td class="text-left"><strong>056</strong></td>
				<td><strong>PAGADO</strong></td>
				<td><strong>UF 0,00</strong></td>
				<td><em>UF 43.25</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PAGADO</span>
						<small>01/01/2015</small>
					</div>
					<div class="right">
						<em>UF 43.25</em>
					</div>
				</td>
			</tr>

			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">01/02/2015</span></td>
				<td class="text-left"><strong>057</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>UF 5.703,02</strong></td>
				<td><em>UF 43.25</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>01/12/2014</small>
					</div>
					<div class="right">
						<em>UF 43.25</em>
					</div>
				</td>
			</tr>

			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">01/03/2015</span></td>
				<td class="text-left"><strong>058</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>UF 5.678,78</strong></td>
				<td><em>UF 43.25</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>01/12/2014</small>
					</div>
					<div class="right">
						<em>UF 43.25</em>
					</div>
				</td>
			</tr>

			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">01/04/2015</span></td>
				<td class="text-left"><strong>059</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>UF 5.654,08</strong></td>
				<td><em>UF 43.25</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>01/12/2014</small>
					</div>
					<div class="right">
						<em>UF 43.25</em>
					</div>
				</td>
			</tr>

			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">01/05/2015</span></td>
				<td class="text-left"><strong>060</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>UF 5.508,95</strong></td>
				<td><em>UF 43.25</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>01/12/2014</small>
					</div>
					<div class="right">
						<em>UF 43.25</em>
					</div>
				</td>
			</tr>

			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">01/06/2015</span></td>
				<td class="text-left"><strong>061</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>UF 5.499,18</strong></td>
				<td><em>UF 43.25</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>01/12/2014</small>
					</div>
					<div class="right">
						<em>UF 43.25</em>
					</div>
				</td>
			</tr>

			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1-hipotecario.php">
				<td><span class="link">01/07/2015</span></td>
				<td class="text-left"><strong>062</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>UF 5.456,47</strong></td>
				<td><em>UF 43.25</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>01/12/2014</small>
					</div>
					<div class="right">
						<em>UF 43.25</em>
					</div>
				</td>
			</tr>

		</table>
	</div>
	<footer class="tables-footer table-resultados">
		<button type="button" class="btn"><span>Mostrar más</span></button>
	</footer>
	
	<!-- Warning para cuando no hay resultados -->
	<!-- 
	<div class="block-warning">
		<i class="icon-24 gray m03-aviso"></i> No se han encontrado resultados
	</div> 
	-->
</article>