<article class="capgemini-tables mov-table tabs-ocultar-consulta">
	<div class="utility-icons">
		<a href="#"><span class="icon-16 gray l02-excel" title="Exportar a excel"></span></a>
		<a href="#"><span class="icon-16 gray l01-pdf" title="Descargar pdf"></span></a>
		<a href="#"><span class="icon-16 gray m07-correspondenciavirtual" title="Enviar"></span></a> 
		<a href="#"><span class="icon-16 gray n01-imprimir" title="Imprimir"></span></a> 
	</div>
	<h2 class="title-sh">Últimos movimientos</h2>
	<div class="tables-body table-resultados tabs-ocultar-consulta">
		<table class="sortable">
			<tr class="hidden-xs">
				<th class="sorted desc"><a href="#">Fecha</a></th>
				<th><a href="#">Tipo de servicio</a></th>
				<th><a href="#">Empresa</a></th>
				<th><a href="#">Monto</a></th>
			</tr>
			<tr data-detail="includes/components/movements/pago-automatico/detail/table-detail-consulta-pagos.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Tipo de servicio</strong></td>
				<td><strong>Empresa</strong></td>
				<td class="text-right"><em>$ 9.500</em></td>

				<td class="xs-view">
					<div class="left">
						<span class="link">Tipo de servicio</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 9.500</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/pago-automatico/detail/table-detail-consulta-pagos.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Tipo de servicio</strong></td>
				<td><strong>Empresa</strong></td>
				<td class="text-right"><em>$ 9.500</em></td>

				<td class="xs-view">
					<div class="left">
						<span class="link">Tipo de servicio</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 9.500</em>
					</div>
				</td>
			</tr>

			<tr data-detail="includes/components/movements/pago-automatico/detail/table-detail-consulta-pagos.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Tipo de servicio</strong></td>
				<td><strong>Empresa</strong></td>
				<td class="text-right"><em>$ 9.500</em></td>

				<td class="xs-view">
					<div class="left">
						<span class="link">Tipo de servicio</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 9.500</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/pago-automatico/detail/table-detail-consulta-pagos.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Tipo de servicio</strong></td>
				<td><strong>Empresa</strong></td>
				<td class="text-right"><em>$ 9.500</em></td>

				<td class="xs-view">
					<div class="left">
						<span class="link">Tipo de servicio</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 9.500</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/pago-automatico/detail/table-detail-consulta-pagos.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Tipo de servicio</strong></td>
				<td><strong>Empresa</strong></td>
				<td class="text-right"><em>$ 9.500</em></td>

				<td class="xs-view">
					<div class="left">
						<span class="link">Tipo de servicio</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 9.500</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/pago-automatico/detail/table-detail-consulta-pagos.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Tipo de servicio</strong></td>
				<td><strong>Empresa</strong></td>
				<td class="text-right"><em>$ 9.500</em></td>

				<td class="xs-view">
					<div class="left">
						<span class="link">Tipo de servicio</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 9.500</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/pago-automatico/detail/table-detail-consulta-pagos.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Tipo de servicio</strong></td>
				<td><strong>Empresa</strong></td>
				<td class="text-right"><em>$ 9.500</em></td>

				<td class="xs-view">
					<div class="left">
						<span class="link">Tipo de servicio</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 9.500</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/pago-automatico/detail/table-detail-consulta-pagos.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Tipo de servicio</strong></td>
				<td><strong>Empresa</strong></td>
				<td class="text-right"><em>$ 9.500</em></td>

				<td class="xs-view">
					<div class="left">
						<span class="link">Tipo de servicio</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 9.500</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/pago-automatico/detail/table-detail-consulta-pagos.php">
				<td><span class="link">28/02/2014</span></td>
				<td><strong>Tipo de servicio</strong></td>
				<td><strong>Empresa</strong></td>
				<td class="text-right"><em>$ 9.500</em></td>

				<td class="xs-view">
					<div class="left">
						<span class="link">Tipo de servicio</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 9.500</em>
					</div>
				</td>
			</tr>
		</table>
	</div>
</article>

<article class="capgemini-tables mov-table tabs-ocultar-consulta hidden tabla-resultado-consulta">
	<h3>Resultado de Busqueda</h3>
	<div class="tables-body table-resultados">
		<table class="sortable">
			<tr>
				<th class="sorted desc"><a href="#">Valor cuota</a></th>
				<th><a href="#">Valor actual</a></th>
			</tr>
			<tr>
				<td><span class="link">$ 4.345</span><br><span>21/05/2014</span></td>
				<td class="text-right"><strong>$ 4.560</strong></td>
 			</tr>
			
		</table>
	</div>
</article>
