<aside class="product-header product-header-simple">
	<div class="left">
		<h4>Prueba de alias</h4>
		<h5>Tarjeta <strong>XXXX-6012</strong></h5>
		<p><strong>Visa Corporate Titular</strong></p>
		<p>Fecha próxima facturación: //- -</p>
		<p>Fecha vencimiento: <strong>31/07/2015</strong></p>
	</div>
	
	<div class="right">
		<p class="disponible">CUPO UTILIZADO</p>
		<span>$ 10.000.000</span>
		<span>US$ 1,000.00 </span>
		<p>Monto facturado<strong>$ 0 </strong></p>
		<p><strong>US$ 00.0</strong></p>
	</div>
</aside>

<aside class="product-header product-header-bottom product-header-tar border-top">
	<div class="left">
		<img src="img/tarjeta.jpg" alt="Tarjeta BBVA">
	</div>
 
	<div class="right">
		<p>Total cupo disponible <strong> $ 10.000.000</strong></p>
		<p><strong>US$ 1.700,00</strong></p>
		<p>Total cupo autorizado <strong>US$ 7,000.00</strong></p> 
		<p><strong>US$ 1.700,00</strong></p>
	</div>
</aside>