<article class="capgemini-tables mov-table">
	<div class="utility-icons">
		<a href="#"><span class="icon-16 gray l02-excel" title="Exportar a excel"></span></a>
		<a href="#"><span class="icon-16 gray l01-pdf" title="Descargar pdf"></span></a>
		<a href="#"><span class="icon-16 gray m07-correspondenciavirtual" title="Enviar"></span></a> 
		<a href="#"><span class="icon-16 gray n01-imprimir" title="Imprimir"></span></a> 
	</div>
	<h3>Últimos movimientos <!-- Resultados o Cartola enero (dependiendo dela consulta realizada) --></h3>
	<p class="iconed-24 block-warning aviso-no-encontrado hidden"><i class="icon-24 m03-aviso"></i>No se han encontrado resultados.</p>
	<div class="tables-body table-resultados">
		<table class="sortable">
			<tr class="hidden-xs">
				<th class="sorted desc"><a href="#">Fecha</a></th>
				<th><a href="#">Descripción</a></th>
				<th><a href="#">Monto</a></th>
				<th><a href="#">Saldo</a></th>
			</tr>
			<tr data-detail="includes/components/movements/linea-credito/detail/table-detail-1.html">
				<td>
					<span class="link">27/12/2013</span>					
				</td>
				<td>Cargo Lin. Cdto.</td>
				<td><em>$ -75.568</em></td>
				<td><em>$ 1.348.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Cargo Lin. Cdto.</span>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small>$ -75.568</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/linea-credito/detail/table-detail-2.html">
				<td>
					<span class="link">28/02/2014</span>						
				</td>
				<td>Cargo Lin. Cdto.</td>
				<td><em>$ -7.000</em></td>
				<td><em>$ 1.258.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Cargo Lin. Cdto.</span>
					</div>
					<div class="right">
						<em>$ 1.258.900</em>
						<small>$ -7.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/linea-credito/detail/table-detail-3.html">
				<td>
					<span class="link">30/02/2014</span>						
				</td>
				<td>Cargo Lin. Cdto.</td>
				<td><em>$ -90.000</em></td>
				<td><em>$ 2.785.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Cargo Lin. Cdto.</span>
					</div>
					<div class="right">
						<em>$ 2.785.900</em>
						<small>$ -90.000</small>
					</div>
				</td>
			</tr>
		</table>
		<div class="footer-btn">
			<a href="?src=S03-linea-credito.php&tab=operaciones&operation=busqueda-linea" class="btn-ir"><span>Mostrar más</span></a>
		</div>
	</div>
</article>