<div class="tables-body">
	<div class="row Contenido-cloud"> <!--titulo de bienvenida-->
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12" style="text-align:center">
							<h1><strong class=" text-bold-arial">Bienvenidos a BBVA</strong> CLOUD</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" style="text-align:center">
							<P>Simplificamos el intercambio de Documentaci&oacute;n Para hacerle la vida m&aacute;s F&aacute;cil</P>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row"><!--Barra de comentario-->
		<div class="col-md-12 Margen">
			<div class="row Estilo-Lineal" style="height: 100px;">
				<div class="col-md-5 col-md-offset-1">
					<div class="row"  style="float: right;">
						<div class="col-md-4 Circulo-lineal">
							<p style="color:#FFFFFF">1</p>
						</div>
						<div class="col-md-6 ">
							<h3 style="width: 200px;">Selecciona un Producto</h3>
							<p>y env&iacute;a tu solicitud</p>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-md-offset-1">
					<div class="row">
						<div class="col-md-4 Circulo-lineal">
							<p style="color:#FFFFFF">2</p>
						</div>
						<div class="col-md-6">
							<h3 style="width: 200px;">Sube tus Documentos</h3>
							<p>a tu carpeta personal</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1" style="padding-bottom: 20px;margin-bottom: 20px;">
			<div class="tab-pos-global hide-mobile">
				<div class="text-left">
					<p><i class="ico-un-click"></i>A un click</p>
				</div>
				<div class="cont-right">
					<span class="arrow"></span>
					<div class="carrousel">
						<a href="#;" class="prev"></a>
						<div>
							<p>Refinancia <span>tu actual</span> crédito de consumo <span>y llévate hasta</span> $ 10.000.000 para lo que quieras</p>
						</div>
						<a href="content.php?src=S17-ofertas-un-click.php" class="btn btn-big btn-big-green">Me interesa</a>
						<a href="#;" class="close-icon" id="close-tab-pos-global"></a>	
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2" style="padding: 0px">
			<article class=" capgemini-tables cuentas-personales identificador-principal"style="margin-left: 43px;"> <!--Productos Cloud-->
				<header class="tables-header">
					<h4>Registro de solicitudes 
						<span class="btn-group">
							<button type="button" class="btn sprite-arrow"></button>
						</span>
					</h4>
				</header>
				<div class="row" style=" border: 1px solid #dcdcdc;border-top: 0;">
					<div class="col-md-12">
						<div class="row" style="border: 2px solid #006fc1;margin: 20px 20px;">
							<div class="col-md-12 titulo-solicitud" style="padding:0;font-family: BBVA Web MEDIUM;font-size: 15px;color: #434a58;background: #f0f2ef;">
								<div style="background: #006fc1;width: 10px;height: 41px;position: absolute;"></div>
								<div class="col-md-3" style="padding: 10px 15px;">
									<span>Solicitud N°</span><span>123456</span>
								</div>
								<div class="col-md-5 text-left" style="padding: 10px;">
									<a class="cursor nombre-tipo-solicitud">Cuenta Corriente</a>
								</div>
								<div>
								<div class="col-md-2" style="padding: 10px 0;color: white;background: #67C600;text-align: center;">
									<a data-href="includes/components/movements/cloud/modal-firma-contrato.html" data-dismiss="modal" style="color:white;width: 50% !important;font-size: 16px;" class="cursor modal-trigger">Firmar carta</a>
								</div>
								</div>
								<div class="col-md-2" style="padding: 10px;">
									<span>15/03/2016</span>
								</div>
							</div>
							<div class="col-md-12 contenedor-solicitud" style="display: none;padding:10px 0;">
								<div class="row">
									<div class="col-md-12" style="font-family: BBVA Web Book;font-size: 12px;">
										<div class="col-md-12 documentos-solicitados" style="padding 10px 0">
											<div class="row">
												<div class="col-md-12">
												<p>Documento Requerido</p>
												</div>
											</div>
											<div class="row">
												<div class="col-md-4">
													<span class="icono-documento-cargado"></span>
													<span>Cedula de Identidad</span>
													<span style="color:blue; text-decoration:underline; display:none;">Actualizar</span>
												</div>
												<div class="col-md-4">
													<span class="icono-documento-no-cargado"></span>
													<span class="cursor carga-documento-solicitado" style="color:blue; text-decoration:underline;">Cedula de Identidad</span>
													<span style="color:blue; text-decoration:underline; display:none;">Actualizar</span>
												</div>
												<div class="col-md-4">
													<span class="icono-documento-no-cargado"></span>
													<span class="cursor carga-documento-solicitado" style="color:blue; text-decoration:underline;">Cedula de Identidad</span>
													<span style="color:blue; text-decoration:underline; display:none;">Actualizar</span>
												</div>
											</div>
											<div class="row">
												<div class="col-md-4">
													<span class="icono-documento-no-cargado"></span>
													<span>Liquidaciones de Sueldo</span>
													<span class="cursor carga-documento-solicitado" style="color:blue; text-decoration:underline; display:inline-block;">Actualizar</span>
												</div>
												<div class="col-md-4">
													<span class="icono-documento-no-cargado"></span>
													<span class="cursor carga-documento-solicitado" style="color:blue; text-decoration:underline;">Cedula de Identidad</span>
													<span style="color:blue; text-decoration:underline; display:none;">Actualizar</span>
												</div>
												<div class="col-md-4">
													<span class="icono-documento-no-cargado"></span>
													<span class="cursor carga-documento-solicitado" style="color:blue; text-decoration:underline;">Cedula de Identidad</span>
													<span style="color:blue; text-decoration:underline; display:none;">Actualizar</span>
												</div>
											</div>
											<div class="row" style="margin-top: 10px;">
												<div class="col-md-12">
													<p>Haga click sobre el docuemento que desea subir, archivos en formato pdf, doc, jpg, png y txt. Peso máximo: 3MB</p>
												</div>
											</div>
										</div>
										<!--inicio carga de archivo-->
										<div class="col-md-12 contenedor-cargable-contenido" style="background: #009EE5;margin-bottom:10px;font-family: BBVA Web Light; display:none;">
											<div class="row" style="padding: 10px 0px 10px 15px;">
												<div id="zona1"class="col-md-12" style="border: 4px dashed white; height:100px;">
													<div class="row">
														<div class="col-md-1" style="padding: 0;">
															<img src="img/cloud-nube-cargaDoc.png" style="height:100px; padding: 30px 0 30px 10px;">
														</div>
														<div class="col-md-11" style="padding-left: 0px;">
															<div class="row" style="padding: 0px;">
																<div class="col-md-9 text-center seleccion-zona-solicitud" style="color: white;">
																	<p style="margin: 0;font-size: 14px;">Para subir tus archivos arrastralos directamente sobre esta zona.</p>
																	<p style="margin: 0;font-size: 14px;">o si prefieres.</p>
																</div>
																<div class="col-md-12 text-center" style="color: white;">
																	<output id="list"></output>
																</div>
															</div>
															<div class="row" style="padding:5px;">
																<div class="col-md-3 col-md-offset-9 estilo-boton" >
																	<form class="file-input btn btn-primary btn-file">
																		Buscar Archivos<input type="file" multiple="">
																	</form>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div ><!--fin carga de documentación-->
										<div class="col-md-12 contenedor-cargable-contenido" style="background: #E6E6E6 ; margin-bottom:10px;font-family: BBVA Web Light; display:block;">
											<div class="row" style="padding: 10px 0px 10px 15px;">
												<div class="col-md-12" style="height:100px;">
													<div class="row">
														<div class="col-md-1">
															<img src="img/cloud-nube-cargaDoc.png" style="height:100px; padding: 30px 0 30px 10px;">
														</div>
														<div class="col-md-4 col-md-offset-1" style="padding-top:20px;"><h3 style="font-size:22px; color:black;">Cargando Archivo...</h3></div>
														<div class="col-md-5" style="padding-top:50px;">
															<div class="contaner-fluid">
																<div class="progress" style="height:15px;">
																	<div class="progress-bar progress-bar-success" role ="progressbar" style="    background-color: #67C600; width:10%; "></div>
																	<div class="percent" style="text-align:center;">100%</div>
																</div>
															</div> 
														</div>
													</div>
												</div>
											</div>
										</div> 
										<div class="col-md-12 contenedor-cargable-contenido" style="display:block; background: #E6E6E6; margin-bottom:10px;font-family: BBVA Web Light;">
											<div class="row" style="padding: 10px 0px 10px 15px;">
												<div class="col-md-12" style=" height:100px;">
													<div class="row">
														<div class="col-md-1">
															<img src="img/cloud-nube-cargaDoc.png" style="height:100px; padding: 30px 0 30px 10px;">
														</div>
														<div class="col-md-1 col-md-offset-1" style="margin-right: 15px;">
															<img src="img/cloud-click-ok.jpg" style="height: 90px;">
														</div>
														<div class="col-md-8" style="margin-top: 25px">
															<h3 style="font-size:22px; color:black;">Su Archivo Fue Cargado Exitosamente</h3>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" style="border: 2px solid #006fc1;margin: 20px 20px;">
							<div class="col-md-12 titulo-solicitud" style="padding:0;font-family: BBVA Web MEDIUM;font-size: 15px;color: #434a58;background: #f0f2ef;">
								<div style="background: #006fc1;width: 10px;height: 41px;position: absolute;"></div>
								<div class="col-md-3" style="padding: 10px 15px;">
									<span>Solicitud N°</span><span>999999</span>
								</div>
								<div class="col-md-5 text-left" style="padding: 10px;">
									<a class="cursor nombre-tipo-solicitud">Credito de Consumo</a>
								</div>
								<div>
									<div class="col-md-2" style="display:none;padding: 10px 0;color: white;background: #67C600;text-align: center;">
										<div>Firma Contrato</div>
									</div>
									<div class="col-md-2" style="padding: 10px;">
										<span class="icono-documento-rechazado"></span>
										<span>Rechazado</span>
									</div>
								</div>
								<div class="col-md-2" style="padding: 10px;">
									<span>15/03/2016</span>
								</div>
							</div>
							<div class="col-md-12 contenedor-solicitud" style="display: none;padding:0;">
								<div class="row">
									<div class="col-md-12 " style="font-family: BBVA Web Book;font-size: 12px;">
										<div class="col-md-12 documentos-solicitados" style="padding 10px 0">
											<div class="row">
												<div class="col-md-12">
												<p>Documento Requerido</p>
												</div>
											</div>
											<div class="row">
												<div class="col-md-4">
													<span class="icono-documento-cargado"></span>
													<span>Cedula de Identidad</span>
													<span style="color:blue; text-decoration:underline; display:none;">Actualizar</span>
												</div>
												<div class="col-md-4">
													<span class="icono-documento-no-cargado"></span>
													<span class="cursor  carga-documento-solicitado" style="color:blue; text-decoration:underline;">Cedula de Identidad</span>
													<span style="color:blue; text-decoration:underline; display:none;">Actualizar</span>
												</div>
												<div class="col-md-4">
													<span class="icono-documento-no-cargado"></span>
													<span class="cursor  carga-documento-solicitado" style="color:blue; text-decoration:underline;">Cedula de Identidad</span>
													<span style="color:blue; text-decoration:underline; display:none;">Actualizar</span>
												</div>
											</div>
											<div class="row">
												<div class="col-md-4">
													<span class="icono-documento-no-cargado"></span>
													<span>Liquidaciones de Sueldo</span>
													<span class="cursor  carga-documento-solicitado" style="color:blue; text-decoration:underline; display:inline-block;">Actualizar</span>
												</div>
												<div class="col-md-4">
													<span class="icono-documento-no-cargado"></span>
													<span class="cursor  carga-documento-solicitado" style="color:blue; text-decoration:underline;">Cedula de Identidad</span>
													<span style="color:blue; text-decoration:underline; display:none;">Actualizar</span>
												</div>
												<div class="col-md-4">
													<span class="icono-documento-no-cargado"></span>
													<span class="cursor  carga-documento-solicitado" style="color:blue; text-decoration:underline;">Cedula de Identidad</span>
													<span style="color:blue; text-decoration:underline; display:none;">Actualizar</span>
												</div>
											</div>
											<div class="row" style="margin-top: 10px;">
												<div class="col-md-12">
													<p>Haga click sobre el docuemento que desea subir, archivos en formato pdf, doc, jpg, png y txt. Peso máximo: 3MB</p>
												</div>
											</div>
										</div>
										<!--inicio carga de archivo-->
										<div class="col-md-12 contenedor-cargable-contenido" style="background: #009EE5;margin-bottom:10px;font-family: BBVA Web Light;display:none;"><!--inicio carga de documentación-->
											<div class="row" style="padding: 10px 0px 10px 15px;">
												<div class="col-md-12" style="border: 4px dashed white; height:100px;">
													<div class="row">
														<div class="col-md-1" style="padding: 0;">
															<img src="img/cloud-nube-cargaDoc.png" style="height:100px; padding: 30px 0 30px 10px;">
														</div>
														<div class="col-md-11" style="padding-left: 0px;">
															<div class="row" style="padding: 0px;">
																<div class="col-md-9 text-center seleccion-zona-solicitud" style="color: white;">
																	<p style="margin: 0;font-size: 14px;">Para subir tus archivos arrastralos directamente sobre esta zona.</p>
																	<p style="margin: 0;font-size: 14px;">o si prefieres.</p>
																</div>
																	<div class="col-md-12 text-center" style="color: white;">
																	<output id="list"></output>
																</div>
															</div>
															<div class="row" style="padding:5px;">
																<div class="col-md-3 col-md-offset-9 estilo-boton">
																	<span class="file-input btn btn-primary btn-file">
																		Buscar Archivos<input type="file" multiple="">
																	</span>
																</div>
																<div class="progress" min=0 max=100 style="display: none;">
																	<div class="bar"></div>
																	<div class="percent">0%</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div><!--fin carga de documentación-->
										<div class="col-md-12 contenedor-cargable-contenido" style="background: #E6E6E6 ; margin-bottom:10px;font-family: BBVA Web Light;">
											<div class="row" style="padding: 10px 0px 10px 15px;">
												<div class="col-md-12" style="height:100px;">
													<div class="row">
														<div class="col-md-1">
															<img src="img/cloud-nube-cargaDoc.png" style="height:100px; padding: 30px 0 30px 10px;">
														</div>
														<div class="col-md-4 col-md-offset-1" style="padding-top:20px;"><h3 style="font-size:22px; color:black;">Cargando Archivo...</h3></div>
														<div class="col-md-5" style="padding-top:50px;">
															<div class="contaner-fluid">
																<div class="progress" style="height:15px;">
																	<div class="progress-bar progress-bar-success" role ="progressbar" style="    background-color: #67C600; width:10%; "></div>
																	<div class="percent" style="text-align:center;">100%</div>
																</div>
															</div> 
														</div>
													</div>
												</div>
											</div>
										</div> 
										<div class="col-md-12 contenedor-cargable-contenido" style="display:block; background: #E6E6E6; margin-bottom:10px;font-family: BBVA Web Light;">
											<div class="row" style="padding: 10px 0px 10px 15px;">
												<div class="col-md-12" style=" height:100px;">
													<div class="row">
														<div class="col-md-1">
															<img src="img/cloud-nube-cargaDoc.png" style="height:100px; padding: 30px 0 30px 10px;">
														</div>
														<div class="col-md-1 col-md-offset-1" style="margin-right: 15px;">
															<img src="img/cloud-click-ok.jpg" style="height: 90px;">
														</div>
														<div class="col-md-8" style="margin-top: 25px">
															<h3 style="font-size:22px; color:black;">Su Archivo Fue Cargado Exitosamente</h3>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
	<article class=" capgemini-tables cuentas-personales Contenido-cloud identificador-principal"> <!--Productos Cloud-->
		<header class="tables-header Contenido-cloud">
			<h4>Selecciona un Producto 
				<span class="btn-group">
					<button type="button" class="btn sprite-arrow"></button>
				</span>
			</h4>
		</header>
		<div style=" border-left: 1px solid #dcdcdc; border-right: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; margin-left: 126px; margin-right: 104px;" id="bloque">
			<div> <!--Cuenta Corriente-->
				<div class="row" >
					<div class="col-md-12">
						<div class="row  texto-interno step-content container ">
							<div class="tabla-interna-1 col-md-6 ">
								<p class="cursor texto-interno-1">Cuenta Corriente</p>
							</div>
							<div class="tabla-interna-2 col-md-6 solicitar">
								<label class="texto-interno-2">Solicitar Producto</label>
								<span class="check-off icono-solicitar-sin-click"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div><!--Cuenta Vista-->
				<div class="row" >
					<div class="col-md-12">
						<div class="row  texto-interno step-content container">
							<div class="tabla-interna-1 col-md-6 ">
								<p class="texto-interno-1">Cuenta Vista</p>
							</div>
							<div class="tabla-interna-2 col-md-6 solicitar">
								<label class="texto-interno-2">Solicitar Producto</label>
								<span class="check-off icono-solicitar-sin-click"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div><!--Credito de consumo-->
				<div class="row">
					<div class="col-md-12">
						<div class="row  texto-interno step-content container">
							<div class="tabla-interna-1 col-md-6 ">
								<p class="texto-interno-1">Credito de Consumo</p>
							</div>
							<div class="tabla-interna-2 col-md-6 solicitar">
								<label class="texto-interno-2">Solicitar Producto</label>
								<span class="check-off icono-solicitar-sin-click"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div><!--Credito Hipotecario-->
				<div class="row">
					<div class="col-md-12">
						<div class="row  texto-interno step-content container">
							<div class="tabla-interna-1 col-md-6">
								<p class="texto-interno-1">Credito Hipotecario</p>
							</div>
							<div class="tabla-interna-2 col-md-6 solicitar">
								<label class="texto-interno-2">Solicitar Producto</label>
								<span class="check-off icono-solicitar-sin-click"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div><!--BBVA Wallet-->
				<div class="row">
					<div class="col-md-12">
						<div class="row  texto-interno step-content container">
							<div class="tabla-interna-1 col-md-6" style="margin-bottom:15px">
								<p class="texto-interno-1">BBVA Wallet</p>
							</div>
							<div class="tabla-interna-2 col-md-6 solicitar">
								<label class="texto-interno-2">Solicitar Producto</label>
								<span class="check-off icono-solicitar-sin-click"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="row">
					<div class="col-md-2 col-md-offset-9 " style="display:flex;">
						<a id="botonEnviar" class="btn btn-big btn-big-green" style="max-width: 120px; margin-bottom: 10px; -webkit-border-radius: 3px 0px 0px 3px;">Enviar Solicitud </a>
						<div style="width: 0px; height: 0px; border-bottom: 15px solid transparent; border-top: 15px solid transparent; border-left: 10px solid #439E30; position: absolute; bottom: 8px; margin-bottom: 2px; background: linear-gradient(to bottom,#4EBE3B 0,#41982E 100%);"></div>
					</div>
				</div>
			</div>
		</div>
	</article>
	<article class="capgemini-tables cuentas-personales Contenido-cloud"> <!--BBVA cloud-->
	<header class="tables-header Contenido-cloud">
		<h4>BBVA Cloud
			<span class="btn-group">
				<button type="button" class="btn sprite-arrow"></button>
			</span>
		</h4>
	</header>
	<div class="tables-body table-quiero table-inicial Border-Box Contenido-cloud" style="display: block;">
		<div class="row" style="padding: 30px;">
		<div>
			<span style="font-size: 18px; font-weight: bold;">
			Documentaci&oacute;n Productos
			</span>
			<div class="row" style="border: 2px solid #006fc1;margin: 20px 20px;">
				<div class="col-md-12 titulo-solicitud" style="padding:0;font-size: 15px;color: #434a58;">
					<div style="background: #006fc1;width: 10px;height: 44px;position: absolute;"></div>
					<div class="col-md-5 text-left" style="padding: 10px; ">
						<a class="cursor nombre-tipo-solicitud" style="font-size: 23px; margin-left: 15px;">Cuenta Corriente</a>
					</div>
				</div>
				<div class="col-md-12 contenedor-solicitud" style="display: none;padding:10px 0;">
					<div class="row">
						<div class="col-md-12" style="font-family: BBVA Web Book;font-size: 13px;">
							<div class="row">
								<div class="col-md-12" style="font-family: BBVA Web Book; margin-left: 10px;max-width: 97%; background: #f0f2ef">
									<div class="col-md-4" style="padding-top: 10px; padding-left: 0; font-family: BBVA Web MEDIUM;">
										<span>Contrato Cuenta Corriente</span>
									</div>	
									<div class="col-md-4 col-md-offset-1" style="padding: 10px 15px;">
										<img src="img/tick-active-small.png">
										<span style="font-family: BBVA Web MEDIUM;">Cargado</span><span>18/03/2016</span>
									</div>
									<div class="col-md-3" style="padding: 10px 15px;">
										<span>Archivo.jpg
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="border: 2px solid #006fc1;margin: 20px 20px;">
				<div class="col-md-12 titulo-solicitud" style="padding:0;font-size: 15px;color: #434a58;">
					<div style="background: #006fc1;width: 10px;height: 44px;position: absolute;"></div>
					<div class="col-md-5 text-left" style="padding: 10px; ">
						<a class="cursor nombre-tipo-solicitud" style="font-size: 23px; margin-left: 15px;">Cuenta Vista</a>
					</div>
				</div>
				<div class="col-md-12 contenedor-solicitud" style="display: none;padding:10px 0;">
					<div class="row">
						<div class="col-md-12" style="font-family: BBVA Web Book;font-size: 13px;">
							<div class="row">
								<div class="col-md-12" style="font-family: BBVA Web Book; margin-left: 10px;max-width: 97%; background: #f0f2ef">
									<div class="col-md-4" style="padding-top: 10px; padding-left: 0; font-family: BBVA Web MEDIUM;">
										<span>Contrato Cuenta Vista</span>
									</div>	
									<div class="col-md-4 col-md-offset-1" style="padding: 10px 15px;">
										<img src="img/tick-active-small.png">
										<span style="font-family: BBVA Web MEDIUM;">Cargado</span><span>18/03/2016</span>
									</div>
									<div class="col-md-3" style="padding: 10px 15px;">
										<span>Archivo.jpg
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="border: 2px solid #006fc1;margin: 20px 20px;">
				<div class="col-md-12 titulo-solicitud" style="padding:0; font-size: 15px;color: #434a58;">
					<div style="background: #006fc1;width: 10px;height: 44px;position: absolute;"></div>
					<div class="col-md-5 text-left" style="padding: 10px; ">
						<a class="cursor nombre-tipo-solicitud" style="font-size: 23px; margin-left: 15px;">Crédito de Consumo</a>
					</div>
				</div>
				<div class="col-md-12 contenedor-solicitud" style="display: none;padding:10px 0;">
					<div class="row">
						<div class="col-md-12" style="font-family: BBVA Web Book;font-size: 13px;">
							<div class="row">
								<div class="col-md-12" style="font-family: BBVA Web Book; margin-left: 10px;max-width: 97%; background: #f0f2ef">
									<div class="col-md-4" style="padding-top: 10px; padding-left: 0; font-family: BBVA Web MEDIUM;">
										<span>Contrato Crédito de Consumo</span>
									</div>	
									<div class="col-md-4 col-md-offset-1" style="padding: 10px 15px;">
										<img src="img/tick-active-small.png">
										<span style="font-family: BBVA Web MEDIUM;">Cargado</span><span>18/03/2016</span>
									</div>
									<div class="col-md-3" style="padding: 10px 15px;">
										<span>Archivo.jpg
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<span style="font-size: 18px; font-weight: bold;">
			Inbox
			</span>
		
			<div class="col-md-12" style="background: #009EE5;font-family: BBVA Web Light; display:none;" id="cargarArchivo"> <!--Carga de archivos-->
				<div class="row" style="padding: 15px 15px 10px 15px;">
					<div id="drop_zone" class="col-md-12" style="border: 4px dashed white;">
						<div class="row">
							<div class="col-md-1" style="padding: 0;">
								<img src="img/cloud-nube-cargaDoc.png" style="padding: 30px 0 30px 10px;">
							</div>
							<div class="col-md-11" style="padding-left: 45px;">
								<div class="row" style="padding: 20px 30px 10px 0;">
									<div id="selection_zone" class="col-md-12 text-center selection-zone" style="color: white;">
										<p style="margin: 0;font-size: 14px;">Para subir tus archivos arrastralos directamente sobre esta zona.</p>
										<p style="margin: 0;font-size: 14px;">o si prefieres.</p>
									</div>
									<div class="col-md-12 text-center" style="color: white;">
										<output id="list"></output>
									</div>
								</div>
								<div class="row" style="padding:5px;">
									<div class="col-md-5 col-md-offset-1" style="padding: 0;margin-left: 22px;";>
										<div class="btn-group bootstrap-select" style="width: 230px;">
											<button type="button" class="btn dropdown-toggle selectpicker btn-default" style="height: 35px;" data-toggle="dropdown" data-id="tipoDoc" title="tipoDoc">
												<span class="filter-option pull-left" style="margin: 0;font-size: 10.5px;">Seleccione tipo documento</span>&nbsp;<span class="caret"></span>
											</button>
											<div class="dropdown-menu open">
												<ul class="dropdown-menu inner selectpicker" role="menu">
													<li rel="0" class="selected"><a tabindex="0" class="" style="">
														<span class="text">Cedula de identidad</span>
														<i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-6" id="upload-file">
										<span class="file-input btn btn-primary btn-file">
											Buscar Archivos<input type="file" multiple="">
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center" style="padding: 5px 0 10px 0;">
						<p style="margin: 0;font-size: 12px;color: white;">Archivos en formato pdf, doc, jpg, png y txt. Peso m&aacute;ximo: 3MB</p>
					</div>
				</div>
			</div> <!--Fin carga de archivos-->
			<div class="col-md-12 visible" style="display:block" id="subirArchivo"> <!--inicio carga de archivos principal-->
				<div class="row">
					<div class="col-md-12" style="font-family: BBVA Web Light;display: inline-flex;">
						<div class="col-md-6 text-left" style="margin: 0;padding: 15px 20px 0 0;">
							<p style="margin: 0;font-size: 14px;">Sube a tu carpeta personal los documentos</p>
							<p style="margin: 0;font-size: 14px;">que necesites compartir con tu ejecutivo</p>
						</div>
						<div class="col-md-4 col-md-offset-2" style="display: -webkit-box;">
							<div class="" style="margin-left: 38%;"><img src="img/cloud_boton.png" style="height:30px; -webkit-border-radius: 3px 0px 0px 3px;"></div>
							<div class="" id="subirArchivoBoton" style="background-color: #006FC1;height: 30px;width: 100px; -webkit-border-radius: 0px 3px 3px 0px;">					
								<p class="cursor" style="color: #ffffff; margin-top: 5px;font-family: bbva web medium;">Subir Archivos</p>
							</div>
                        </div>
					</div>
				</div>
			</div><!--fin carga de archivos principal-->
			</div>
			<div class="col-md-12" style="margin: 0;padding: 0;">
				<div class="row Estilo-Fila Margen Estilo-Letra" style="margin-bottom:0px!important;font-family: BBVA Web Medium;">
					<div class="col-md-6">
						</br><p>Documento</p>
					</div>
					<div class="col-md-2" style="width:23%">
						</br><p>Estado</p>
					</div>
					<div class="col-md-2 Ajuste-imagen" style="margin-left: 15px;">
						<p>Actualziar<br>documento</p>
					</div>
					<div class="col-md-2 Ajuste-imagen">
						<p style="padding-left: 5px;">Descargar<br>documento</p>
					</div>
				</div>
				<div class="row Box-Documentos Box-cuentas Margen" style="border: 1px solid #B3B3B3;">
					<div class="col-md-6" style="padding: 18px 25px 0 25px;font-family: BBVA Web medium;font-size: 16.5px;color: rgba(51, 51, 51, 0.75);">
						<span>Contrato Cuenta Corriente</span>
					</div>
					<div class="col-md-2" style="font-size: 11px;width: 23%;padding: 12px 0 0 0;">
						<img src="img/tick-active-small.png">
						<strong>Cargando -</strong><span>18/03/2016</span><br>
						<span>archivo-uno.png</span>
					</div>
						<div class="col-md-2 Ajuste-imagen" style="margin-left: 16px;">
						<img src="img/Subir-Archivo.png">
					</div>
						<div class="col-md-2 Ajuste-imagen">
						<img src="img/Descargar-Archivo.png">
					</div>
				</div>
				<div class="row Box-cuentas Margen" style="border: 1px solid #B3B3B3;">
					<div class="col-md-6" style="padding: 18px 25px 0 25px;font-family: BBVA Web medium;font-size: 16.5px;color: rgba(51, 51, 51, 0.75);">
						<span>Contrato Cuenta Vista</span>
					</div>
					<div class="col-md-2" style="font-size: 11px;width: 23%;padding: 12px 0 0 0;">
						<img src="img/tick-active-small.png">
						<strong>Cargando -</strong><span>18/03/2016</span><br>
						<span>archivo-uno.png</span>
					</div>
					<div class="col-md-2 Ajuste-imagen" style="margin-left: 16px;">
						<img src="img/Subir-Archivo.png">
					</div>
						<div class="col-md-2 Ajuste-imagen">
						<img src="img/Descargar-Archivo.png">
					</div>
				</div>
				<div class="row Box-Documentos Box-cuentas Margen" style="border: 1px solid #B3B3B3;">
					<div class="col-md-6" style="padding: 18px 25px 0 25px;font-family: BBVA Web medium;font-size: 16.5px;color: rgba(51, 51, 51, 0.75);">
						<span>C&eacute;dula de identidad</span>
					</div>
					<div class="col-md-2" style="font-size: 11px;width: 23%;padding: 12px 0 0 0;">
						<img src="img/tick-active-small.png">
						<strong>Cargando -</strong><span>18/03/2016</span><br>
						<span>archivo-uno.png</span>
					</div>
						<div class="col-md-2 Ajuste-imagen" style="margin-left: 16px;">
						<img src="img/Subir-Archivo.png">
					</div>
						<div class="col-md-2 Ajuste-imagen">
						<img src="img/Descargar-Archivo.png">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
					<p>Archivos en formato PDF, Doc, jpg y txt. Peso Máximo: 3MB</p>
					</div>
				</div>
			</div>
		</div>
	</div>	
	</article>
</div>	
<script>
$(document).on('change', '.btn-file :file', function() {
  var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  input.trigger('fileselect', [numFiles, label]);
});

$(document).ready(function(){
	cargaContenidoRegistroSolicitudes();
	$('.btn-file :file').on('fileselect', function(event, numFiles, label) {
        
        var input = $(this).parents('.input-group').find(':text'),
            log = numFiles > 1 ? numFiles + ' files selected' : label;
        
        if( input.length ) {
            input.val(log);
			console.log('pepo');
        } else {
            if( log ){
			$('#selection_zone').hide();
			document.getElementById('list').innerHTML = '<button id="delete_file" style="float:right" type="button" class="close-icon" data-dismiss="modal" aria-hidden="true"></button> <ul id="file_cloud" style="list-style: none;color: white;padding-left: 60px;"><li>' + log + '</li></ul>';
			deleteFileUploaded();
			}
		}
    });
});

//muestra el cuadro de drag and drop
function cargaContenidoRegistroSolicitudes(){

	$('.nombre-tipo-solicitud').unbind();$('.nombre-tipo-solicitud').on('click, vclick', function(){
		if(!$(this).parents('.titulo-solicitud').next('.contenedor-solicitud').is(':visible')){ 
			$(this).parents('.titulo-solicitud').next('.contenedor-solicitud').slideDown() 
		}else{
			$(this).parents('.titulo-solicitud').next('.contenedor-solicitud').slideUp()
		}
	});
	
	$('.carga-documento-solicitado').unbind();$('.carga-documento-solicitado').on('click, vclick', function(){
		if(!$(this).parents('.documentos-solicitados').next('.contenedor-cargable-contenido').is(':visible')){ 
			$(this).parents('.documentos-solicitados').next('.contenedor-cargable-contenido').slideDown() 
		}
		setTimeout(function() {
			$('.carga-documento-solicitado').parents('.documentos-solicitados').next('.contenedor-cargable-contenido').slideUp() 
		}, 2500000);
	});
}
	//llama a las funciones de drag and drop
  function handleFileSelect(evt) {
    evt.stopPropagation();
    evt.preventDefault();

    var files = evt.dataTransfer.files; // Lista de objetos.
	
    // File es un una lista de archivos agrupados en un objeto
    var output = [];
    for (var i = 0, f; f = files[i]; i++) {
      output.push('<li><strong>', escape(f.name), '</strong> - ',
                  f.size, ' bytes, last modified: ',
                  f.lastModifiedDate.toLocaleDateString(), '</li>');
				  
	 /*output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                  f.size, ' bytes, last modified: ',
                  f.lastModifiedDate.toLocaleDateString(), '</li>');*/
    }
	if($('#list').is(':visible')){//esconde en la zona de inbox cloud lo que aparece como texto
		$('#selection_zone').hide();
	}
	
    document.getElementById('list').innerHTML = '<button id="delete_file" style="float:right" type="button" class="close-icon" data-dismiss="modal" aria-hidden="true"></button> <ul id="file_cloud" style="list-style: none;color: white;padding-left: 60px;">' + output.join('') + '</ul>';
	deleteFileUploaded();
  }

  function handleDragOver(evt) {
    evt.stopPropagation();
    evt.preventDefault();
    evt.dataTransfer.dropEffect = 'copy'; 
  }


  var dropZone = document.getElementById('drop_zone');
	  dropZone.addEventListener('dragover', handleDragOver, false);
	  dropZone.addEventListener('drop', handleFileSelect, false);

  function deleteFileUploaded(){
	$('#delete_file').on('click, vclick', function(e){
		e.preventDefault();
		$('#file_cloud').remove();
		$('#delete_file').remove();
		$('#selection_zone').show();
	  });
  }
  var cont=0;
	$('.solicitar').on('click, vclick', function(){
		if($(this).hasClass('solicitar')){
			$(this).find('.check-off').removeClass('icono-solicitar-sin-click');
			$(this).find('.check-off').addClass('icono-solicitar-con-click');
			$(this).css('background-color','#999999');
			$(this).removeClass('solicitar');
			$(this).addClass('prueba');
			$(this).find('label').html('Solicitando');
			cont=cont+1;
		}else{
			$(this).find('.check-off').removeClass('icono-solicitar-con-click');
			$(this).find('.check-off').addClass('icono-solicitar-sin-click');
			$(this).css('background-color','#0078d2');
			$(this).addClass('solicitar');
			$(this).removeClass('prueba');
			$(this).find('label').html('Solicitar Producto');
			cont=cont-1;
		}
		$("#botonEnviar").click(function () {
		console.log('clic');
			if(cont>=1){
				$('#botonEnviar').text( 'Modificar Solicitud' );
				$('#botonEnviar').css( 'max-width' , '140px' );
				$('.icono-solicitar-con-click').parents('.tabla-interna-2.col-md-6').off('click , vclick');
			}
		});
	});
	$('#subirArchivoBoton').on('click , vclick', function(){
		$('#cargarArchivo').css('display','block').slideDown();
		$('#subirArchivo').css('display','none');
	});
	
	 $('.file-input').click(function(){
		if($(this).hasClass('estilo-boton')){
		  
		}
	})

</script>