<div id="" class="modal-dialog maxHeight">
	<div class="modal-content">
		<div class="modal-box">
			<div class="no-bottom" style="padding: 0 20px">
				<div class="step-content-container">
					<div class="comprobante no-border modal-inscripcion">
						<div class="" style="width: 100%">
							<button type="button" class="close-icon" data-dismiss="modal" aria-hidden="true"></button>
							<div class="row">
								<div class="col-md-12 text-center">
									<h1>Contrato Cuenta Corriente<h1>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12" style="padding-bottom: 15px;">
									<article class=" capgemini-tables cuentas-personales identificador-principal"> <!--Productos Cloud-->
										<header class="tables-header">
											<h4 style="color:#71777F;">Terminos y consideraciones
												<span class="btn-group" style="top: -10px;">
													<button type="button" class="btn sprite-arrow"></button>
												</span>
											</h4>
										</header>
										<div class="row" style=" border: 1px solid #dcdcdc;border-top: 0;">
											<div class="col-md-12">
												<p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.</p>
											</div>
										</div>
									</article>
								</div>
							</div>
						</div>
						<div class="col-md-12 texto" style="margin: 15px 0 0 0;">
							<label class="ui-marmots-label-check marmots-label-left col-sm-8 control-label alias-label" for="checkbox-acepto-firma">He leido y acepto los <span>Terminos y Condiciones</span>
							<input id="checkbox-acepto-firma" class="toggle-alias" type="checkbox"></label>
							<div div="" class="col-md-12 bloqueDatos">
								<hr style="margin-top: 10px 0;">
							</div>
						</div>
						<div class="col-md-12 claveSegura">
							<section class="pin-content" style="">
								<div class="pin-sms-input large pin-sms-input-inline">
									<section style="padding: 10px 0 0 0;">
										<div class="form-group" style="margin: 0 0 0 25%;padding: 10px 0;">
											<label style="background: none;" class="sms control-label" for="clave-segura">Introduzca su <strong>SMS</strong></label>
											<div class="formline">
												<input name="clave-segura" maxlength="7" minlength="7" class="form-control required number" type="password">
												<button style="margin:0px" class="btn next BotonConfirmarClaveSegura"><span>Confirmar</span></button>
												<img class="ConfirmadoCheck chek-left" src="img/tick-active-small.png" style="display:none">
											</div>
										</div>
									</section>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
