<aside class="links dated aside-consolidado aside-inversiones">
	<article class="capgemini-tables ffmm-inicio">
			<div class=" plus-one big-blue text-center">
				<div id="productos" class="switch-content">
				<!--productos-->
					<div class="row fondosItems">
						<div class="col-md-6 text-left">
							<h4>Disponible  <small>Serie A - Moderado</small></h4>
							<p>Saldo: <strong>$523.564</strong></p>
						</div>
						<div class="col-md-6 text-right" style="margin-top: 20px;">
							<a class="cursor modal-trigger btn" data-href="includes/components/banners/vincular-productos/modal/vincular-producto.html">Vincular a mi Meta</a>
						</div>
					</div>
					<hr class="separador">
					<div class="row fondosItems">
						<div class="col-md-6 text-left">
							<h4>Disponible  <small>Serie A - Moderado</small></h4>
							<p>Saldo: <strong>$523.564</strong></p>
						</div>
						<div class="col-md-6 text-right" style="margin-top: 20px;">
							<a class="cursor modal-trigger btn" data-href="includes/components/banners/vincular-productos/modal/vincular-producto.html">Vincular a mi Meta</a>
						</div>
						<hr class="separador">
					</div>
					<hr class="separador">
					<div class="row fondosItems">
						<div class="col-md-6 text-left">
							<h4>Disponible  <small>Serie A - Moderado</small></h4>
							<p>Saldo: <strong>$523.564</strong></p>
						</div>
						<div class="col-md-6 text-right" style="margin-top: 20px;"> 
						<a class="cursor modal-trigger btn" data-href="includes/components/banners/vincular-productos/modal/vincular-producto.html">Vincular a mi Meta</a>
						
						</div>
						<hr class="separador">
					</div>
				</div>  
			</div>
		</div><!--Fin body-consolidado--> 
	</article>
</aside>