


<aside class="links dated aside-consolidado aside-inversiones">
	<div class="saldo-total clearfix" style="margin-bottom:-28px !important;">
		<p class="pull-left text" style="font-weight: 200;">Selecciona un perfil de riesgo para la recomendación:</p> 
		<div class="pull-left select" style="width:234px !important;">
			<select class="selectpicker">
				<option value="" selected>Productos</option>
				<option value="">Opcion 1</option>
				<option value="">Opcion 2</option>
				<option value="">Opcion 3</option>
			</select>
		</div>
	</div>
	<hr class="seprador">
	<article class="capgemini-tables ffmm-inicio">
		<div style="padding: 0px 16px;">
			<h3>1- Portafolio de Inversión</h3>
			<p>Los portafolios diversifican la inversión para limitar el riesgo.</p>
		</div>	
		<div class="body-consolidado capgemini-chart" style="display: block">
		<!--body-consolidado-->
			<div class=" plus-one big-blue text-center"> 
				<div id="productos" class="switch-content">
				<!--productos-->  
					<div class="row">
						<div class="col-md-5 col-sm-12">
							<div id="container" style="width:100%;"></div>
						</div>
						<div class="col-md-7 col-sm-12">
							<div class="labelGraphic">
								<div class="row">
									<div class="col-md-8">
										<div class="color" style="background:rgb(0, 114, 188);"></div>
										<span>Fondo Valor Plus Serie E</span>
										<p>10% de la inversión sugerida</p>
									</div>
									<div class="col-md-4 col-sm-12">
										<a class="cursor modal-trigger btn blank" data-href="includes/components/banners/vincular-productos/modal/ver-detalle-fondo.html">Ver detalle</a>
									</div>
								</div>
								<hr class="separadora">
								<div class="row">
									<div class="col-md-8 col-sm-12">
										<div class="color" style="background:rgb(191, 218, 255);"></div>
										<span>Depósito a plazo renovable</span>
										<p>30 días</p>
									</div>
									<div class="col-md-4 col-sm-12">
										<a class="cursor modal-trigger btn blank" data-href="includes/components/banners/vincular-productos/modal/ver-detalle-dap.html">Ver detalle</a>
									</div>
								</div>
								<hr class="separadora">
								<div class="row">
									<div class="col-md-8 col-sm-12">
										<div class="color" style="background:rgb(221, 223, 0);"></div>
										<span>Fondo Familia Serie A</span>
										<p>20% de la inversión sugerida</p>
									</div>
									<div class="col-md-4 col-sm-12">
										<a class="cursor modal-trigger btn blank" data-href="includes/components/banners/vincular-productos/modal/ver-detalle-fondo.html">Ver detalle</a>
									</div>
								</div>
								<hr class="separadora">
								<div class="row">
									<div class="col-md-8 col-sm-12">
										<div class="color" style="background:rgb(36, 203, 229);"></div>
										<span>Fondo Familia Serie A</span>
										<p>20% de la inversión sugerida</p>
									</div>
									<div class="col-md-4 col-sm-12">
										<a class="cursor modal-trigger btn blank" data-href="includes/components/banners/vincular-productos/modal/ver-detalle-fondo.html">Ver detalle</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="text-right col-lg-12">
						<a class="btn" href="?src=../includes/components/portal-inversion/fondos-mutuos.html">Contratar</a>
					</div>				
				</div><!--Fin productos--> 
			</div>

			<div class=" plus-one big-blue text-center">
				<div id="productos" class="switch-content">
				<!--productos-->
					<div class="col-md-12 col-lg-12 col-sm-12">
						<hr class="separador"> 
						<h3 class="text-left">2- Productos recomendados</h3>
					</div><!--Fin productos--> 
					<div class="row fondosItems">
						<div class="col-md-6 text-left">
							<h4>Europa</h4>
							<p>Serie Inver - Moderado</p>
						</div>
						<div class="col-md-6 text-right" style="margin-top: 20px;">
							<a class="cursor modal-trigger btn blank" data-href="includes/components/banners/vincular-productos/modal/ver-detalle-fondo.html">Ver detalle</a>
							<a class="btn" href="?src=../includes/components/portal-inversion/contratacion.html">Contratar</a>
						</div>
					</div>
					<hr class="separador">
					<div class="row fondosItems">
						<div class="col-md-6 text-left">
							<h4>Depósito a plazo renovable</h4>
							<p>30 días</p>
						</div>
						<div class="col-md-6 text-right" style="margin-top: 20px;">
							<a class="cursor modal-trigger btn blank" data-href="includes/components/banners/vincular-productos/modal/ver-detalle-dap.html">Ver detalle</a>
							<a class="btn" href="?src=../includes/components/portal-inversion/contratacion-dap.html">Contratar</a>
						</div>
						<hr class="separador">
					</div>
					<hr class="separador">
					<div class="row fondosItems">
						<div class="col-md-6 text-left">
							<h4>Activa E</h4>
							<p>Serie A - Persona</p>
						</div>
						<div class="col-md-6 text-right" style="margin-top: 20px;"> 
							<a class="cursor modal-trigger btn blank" data-href="includes/components/banners/vincular-productos/modal/ver-detalle-fondo.html">Ver detalle</a>
							<a class="btn" href="?src=../includes/components/portal-inversion/contratacion.html">Contratar</a>
						</div>
						<hr class="separador">
					</div>
				</div>  
			</div>
		</div><!--Fin body-consolidado--> 
	</article>
</aside>

<script type="text/javascript">
	var chart = new Highcharts.Chart({
        colors: ['#0072BC', '#BFDAFF', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
        credits: { enabled: false },
        tooltip: { enabled: false },
        exporting: { enabled: false },
        chart: {
           renderTo: 'container',
           backgroundColor: 'rgba(255, 255, 255, 0.1)',
           type: 'pie',
           margin: [0, 0, 0, 0],
           spacingTop: 0,
           spacingBottom: 0,
           spacingLeft: 0,
           spacingRight: 0
        },
        title: { text: null },
        plotOptions: {
           	pie: {
            	allowPointSelect: false,
            	size: '100%',
            	dataLabels: { enabled: false }
           }
       },
       series: [{
        	showInLegend: false,
           	type: 'pie',
           	name: 'Pie Chart',
           	data:[
                ['FondoA', 65],
                ['FondoB', 11],
                ['FondoC', 11],
                ['FondoD', 12] 
           	]
       }]
    });
</script>
