<article class="capgemini-tables mov-table resultado-busqueda hidden">
	<div class="utility-icons">
		<a href="#"><span class="icon-16 gray l02-excel" title="Exportar a excel"></span></a>
		<a href="#"><span class="icon-16 gray l01-pdf" title="Descargar pdf"></span></a>
		<a href="#"><span class="icon-16 gray m07-correspondenciavirtual" title="Enviar"></span></a> 
		<a href="#"><span class="icon-16 gray n01-imprimir" title="Imprimir"></span></a> 
	</div>
	<h3>Resultado de Busqueda</h3>
    <p class="iconed-24 block-warning aviso-no-encontrado hidden"><i class="icon-24 m03-aviso"></i>No se han encontrado resultados.</p>

	<div class="tables-body table-resultados">
		<table class="sortable">
			<tr class="hidden-xs">
				<th class="sorted desc"><a href="#">Fecha</a></th>
				<th><a href="#">N° de cuotas</a></th>
				<th><a href="#">Estado</a></th>
				<th><a href="#">Saldo pendiente</a></th>
				<th><a href="#">Monto</a></th>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>8</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.200.000</strong></td>
				<td><em>$ 100.000</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 100.000</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>8</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.200.000</strong></td>
				<td><em>$ 100.000</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 100.000</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>8</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.200.000</strong></td>
				<td><em>$ 100.000</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 100.000</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>8</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.200.000</strong></td>
				<td><em>$ 100.000</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 100.000</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>8</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.200.000</strong></td>
				<td><em>$ 100.000</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 100.000</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>8</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.200.000</strong></td>
				<td><em>$ 100.000</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 100.000</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>8</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.200.000</strong></td>
				<td><em>$ 100.000</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 100.000</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>8</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.200.000</strong></td>
				<td><em>$ 100.000</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 100.000</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>8</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.200.000</strong></td>
				<td><em>$ 100.000</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 100.000</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>8</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.200.000</strong></td>
				<td><em>$ 100.000</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 100.000</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>8</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.200.000</strong></td>
				<td><em>$ 100.000</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 100.000</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>8</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.200.000</strong></td>
				<td><em>$ 100.000</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 100.000</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>8</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.200.000</strong></td>
				<td><em>$ 100.000</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 100.000</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>8</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.200.000</strong></td>
				<td><em>$ 100.000</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 100.000</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>8</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.200.000</strong></td>
				<td><em>$ 100.000</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 100.000</em>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/creditos/detail/table-detail-1.php">
				<td><span class="link">28/02/2014</span></td>
				<td class="text-right"><strong>8</strong></td>
				<td><strong>PENDIENTE</strong></td>
				<td><strong>$ 9.200.000</strong></td>
				<td><em>$ 100.000</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">PENDIENTE</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 100.000</em>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<footer class="tables-footer table-resultados">
		<button type="button" class="btn"><span>Mostrar más</span></button>
	</footer>
</article>

<article class="capgemini-tables mov-table tabs-ocultar-consulta">
	<div class="utility-icons">
		<a href="#"><span class="icon-16 gray l02-excel" title="Exportar a excel"></span></a>
		<a href="#"><span class="icon-16 gray l01-pdf" title="Descargar pdf"></span></a>
		<a href="#"><span class="icon-16 gray m07-correspondenciavirtual" title="Enviar"></span></a> 
		<a href="#"><span class="icon-16 gray n01-imprimir" title="Imprimir"></span></a> 
	</div>

	<h3>Acciones en Custodia</h3>

	<div class="tables-body table-resultados tabs-ocultar-consulta">
		<table class="sortable">
			<tr class="hidden-xs">
				<th class="sorted desc"><a href="#">CUENTA DE INVERSIÓN </a></th>
				<th class="sorted desc"><a href="#">N° acciones</a></th>
				<th class="sorted desc"><a href="#">Rentabilidad</a></th>
				<th><a href="#">Saldo</a></th>
			</tr>
			<tr>
				<td><span class="link">BBVA</span><small>IPSA Chile</small></td>
				<td class="text-right"><strong class="text-big">1.000</strong></td>
				<td class="text-right text-big">+14,57%</td>
				<td><strong class="text-big">$4.000.000</strong></td>

				<td class="xs-view">
					<div class="left">
						<span class="link">BBVA</span>
						<small>IPSA Chile</small>
					</div>
					<div class="right">
						<em>$4.000.000</em>
					</div>
				</td>
			</tr>
			<tr>
				<td><span class="link">LAN</span><small>IPSA Chile</small></td>
				<td class="text-right"><strong class="text-big">1.000</strong></td>
				<td class="text-right text-big">+6,57%</td>
				<td class="text-big"><strong class="text-big">$4.000.000</strong></td>

				<td class="xs-view">
					<div class="left">
						<span class="link">LAN</span>
						<small>IPSA chile</small>
					</div>
					<div class="right">
						<em>$4.000.000</em>
					</div>
				</td>
			</tr>

			<tr>
				<td><span class="link">LAN</span><small>IPSA Chile</small></td>
				<td class="text-right"><strong class=" text-big">1.000</strong></td>
				<td class="text-right text-big">+3,01%</td>
				<td><strong class="text-big">$4.000.000</strong></td>

				<td class="xs-view">
					<div class="left">
						<span class="link">LAN</span>
						<small>IPSA Chile</small>
					</div>
					<div class="right">
						<em>$4.000.000</em>
					</div>
				</td>
			</tr>
		</table>
	</div>
</article>

<article class="capgemini-tables mov-table tabs-ocultar-consulta hidden tabla-resultado-consulta">
	<h3>Resultado de Busqueda</h3>
	<div class="tables-body table-resultados">
		<table class="sortable">
			<tr>
				<th class="sorted desc"><a href="#">Valor cuota</a></th>
				<th><a href="#">Valor actual</a></th>
			</tr>
			<tr>
				<td><span class="link">$ 4.345</span><br><span>21/05/2014</span></td>
				<td class="text-right"><strong>$ 4.560</strong></td>
 			</tr>
			
		</table>
	</div>
</article>
