<aside class="product-header  product-header-simple product-header-seguros">	
	<div class="left">
		<h4>Hogar</h4>
		<p><strong>Cuenta asociada PAC</strong></p>
		<p>05040142184000063671</p>
		<p>DESGR. LINEA SOBREGIRO P.N.</p>
	</div>

	<div class="right">
		<p class="disponible">Prima Anual</p>
		<span>$ 10.000.000</span>
	</div>
</aside>

<aside class="product-header product-header-bottom product-header-tar border-top">
	<div class="left">
		<p>Fecha inicio vigencia <strong>01/02/2014</strong></p>
	</div>
</aside>
