<div class="tables-button">
	<button type="button" class="btn button">
		Quiero <span class="icon-16 blue f07-desplegar"></span>
	</button>
	<ul class="list">		
		<li><a href="?src=S03-cuentas.php">Ver saldos y últimos movimientos</a></li> 
		<li><a href="?src=S03-cuentas.php&tab=consultas#cartolas-historicas">Revisar Cartolas Históricas</a></li>
		<li><a href="?src=S03-cuentas.php&tab=consultas#cartolas-transferencias">Consultar Cartolas de Transferencias</a></li>
		<li><a href="?src=S03-cuentas.php&tab=operaciones&operation=transferencia-otros-bancos#trans-otros-bancos">Transferir a Otro Banco</a></li>
		<li><a href="?src=S03-cuentas.php&tab=operaciones&operation=transferencia-otros-titulares">Transferir a Otro Titular BBVA</a></li>
		<li><a href="?src=S03-cuentas.php&tab=operaciones&operation=transferencia-mis-cuentas">Transferir entre mis cuentas</a></li>
		<li><a href="?src=S03-cuentas.php&tab=operaciones&operation=suscribir-pac">Suscribir PAC</a></li>
		<li><a href="?src=S03-cuentaspago-servicios.php&tab=operaciones&operation=pagar-cuenta-inscrita">Pagar mis Cuentas de Servicios</a></li>
		<li><a href="https://apps.facebook.com/bbvalink/">Ir a Cuenta BBVA link</a></li>
		<li class="separator"></li>
		<!--li><a href="?src=S03-cuentas.php&tab=operaciones">Más opciones...</a></li-->
		</li>
	</ul>
</div>
