<div class="tables-button">
	<button type="button" class="btn button">
		Quiero <span class="icon-16 blue f07-desplegar"></span>
	</button>

	<ul class="list" Style="padding-right: 0px!important">
		<li><a href="?src=S03-cuentas.php&amp;tab=operaciones&amp;operation=mas-consultas-movimientos">Ver últimos movimientos</a></li> 
		<li><a href="?src=S03-cuentas.php&amp;tab=operaciones&amp;operation=VerMovimientosHistoricos">Ver movimientos históricos</a></li>
		<li><a href="?src=S03-cuentas.php&amp;tab=operaciones&amp;operation=cartolahistorica">Consultar cartolas históricas</a></li>
		<li><a href="?src=S03-cuentas.php&amp;tab=operaciones&amp;operation=transferirdinero">Transferir dinero</a></li>
		<li><a href="?src=S03-cuentas.php&amp;tab=operaciones&amp;operation=consultarTransferenciasHistoricas">Consultar transferencias históricas</a></li>
		<li><a href="?src=S03-cuentas.php&amp;tab=operaciones&amp;operation=pagarLineaDeCredito">Pagar línea de crédito</a></li>
		<li><a href="?src=S03-cuentas.php&amp;tab=operaciones&amp;operation=consultarOinscribirPac">Consultar o inscribir PAC</a></li>
		<li><a href="?src=S03-cuentas.php&amp;tab=operaciones&amp;operation=programarTransferenciasPeriodicas">Programar transferencias periódicas</a></li>
		<li><a href="?src=S03-cuentas.php&amp;tab=operaciones&amp;operation=gestionarTransferenciasPeriodicas">Gestionar transferencias periódicas</a></li>
		<li><a href="?src=S03-cuentas.php&amp;tab=operaciones&amp;operation=solicitarTalonarioCheques">Solicitar talonario de cheques</a></li>
		<li><a href="?src=S03-cuentas.php&amp;tab=operaciones&amp;operation=consultarChequesTalonarios">Consultar cheques o talonarios</a></li>
		<li><a href="?src=S03-cuentas.php&amp;tab=operaciones&amp;operation=bloquearCheques">Bloquear cheques</a></li>
		<li><a href="?src=S02-cuentas.php">Compra / Venta dólares</a></li>
	</ul>
</div>
