<div class="tables-button">
	<button type="button" class="btn button">
		Quiero <span class="icon-16 blue f07-desplegar"></span>
	</button>
	<ul class="list" Style="padding-right: 0px!important">
		<li><a href="?src=S03-cuentas.php">Ver saldos y movimientos</a></li>
		<li><a href="?src=S03-cheques.php">Consultar cheques</a></li>
		<li><a href="?src=S03-cuentas.php&tab=operaciones&operation=transferencia">Realizar transferencia</a></li>
		<li><a href="?src=S03-cuentas.php&tab=operaciones&operation=gest-transferencias">Gestionar transferencias</a></li>
		<li><a href="?src=S17-cuenta-bbva-link.php&tab=operaciones&operation=gest-transferencias">Cuenta BBVA Link</a></li>
		<li><a href="?src=S03-cuentas.php&tab=operaciones&operation=linea">Pagar línea de crédito</a></li>
		<li><a href="?src=S03-cuentas.php&tab=operaciones&operation=talonarios">Solicitar talonarios</a></li>
		<li><a href="#">Inscribir PAC</a></li>
		<li><a href="#">Recargar celular</a></li>
		<li class="separator"></li>
		<li><a href="?src=S03-cuentas.php&amp;tab=operaciones">Ver más opciones &raquo;</a></li>
	</ul>
</div>


<!-- content.php?src=S17-cuenta-bbva-link.php -->