<div class="tables-button cursor">
	<span class="quiero">Quiero</span>
	<button type="button" class="btnInside button" style="display: none;">
			<span class="dropdown_title f07-desplegar">Realizar búsqueda</span>
	</button>
	<ul class="list listQuiero" style="display: none;">
		<li Style="padding-right: 0px!important">
			<ul class="subList">
				<li class="title"><span class="triangle"></span></li>
				<li><a href="?src=S03-linea-credito.php">Ver saldos</a></li>
				<li><a href="?src=S03-linea-credito.php&tab=operaciones&operation=linea">Pagar línea de crédito</a></li>
				<li><a href="?src=S03-linea-credito.php&tab=operaciones&operation=busqueda-linea">Realizar Busqueda Personalizada</a></li>
			</ul>
		</li>
	</ul>
</div>
<button type="button" class="btn button go" data-href="javacript:void(0);">
	<span class="glyphicon glyphicon-chevron-down"></span>
</button>
<script>
	$('.quiero').unbind('click vclick');$('.quiero').on('click, vclick', function(e){ e.preventDefault(); $(this).next(".btnInside.button").click(); });
	$('.go').unbind('click vclick');$('.go').on('click, vclick' , function(e){ e.preventDefault(); $(this).parents('.quiero-info').find('.btnInside.button').click(); });
</script>