<div class="tables-button">
	<button type="button" class="btn button">
		Quiero <span class="icon-16 blue f07-desplegar"></span>
	</button>
	<ul class="list">
		<li><a href="?src=S03-tarjetas.php&tab=operaciones&operation=pagardeuda">Ver movimientos por facturar</a></li>
		<li><a href="javascript:void(0);?">Ver avance en linea</a></li>
		<li><a href="javascript:void(0);?">Inscribir PAT</a></li>
		<li><a href="javascript:void(0);?">Pagar deuda de esta tarjeta</a></li>
		<li><a href="javascript:void(0);?">Ver estado de cuenta</a></li>
		<li><a href="javascript:void(0);?">Ver más opciones</a></li>
	</ul>
</div>