<div class="tables-button">
	<button type="button" class="btn button">
		Quiero <span class="icon-16 blue f07-desplegar"></span>
	</button>
		<ul class="list">
			<li><a href="?src=S03-tarjetas.php&amp;tab=operaciones&amp;operation=tarjetaMovimientoPorFacturar">
			Ver movimientos por facturar</a></li>
			<li><a href="?src=S03-tarjetas.php&amp;tab=operaciones&amp;operation=tarjetaConsultarEstadoCuenta"
			>Consultar estados de cuentas</a></li>
			<li><a href="?src=S03-tarjetas.php&amp;tab=operaciones&amp;operation=tarjetaPagarDeuda">Pagar deuda de esta tarjeta</a></li>
			<li><a href="?src=S03-tarjetas.php&amp;tab=operaciones&amp;operation=tarjetaAvanceEnLinea">
			Realizar avance en línea</a></li>
			<li><a data-href="includes/components/movements/tarjetas/dialogs/solicitar-aumento-cupo.html" class="modal-trigger cursor">
			Solicitar aumento de cupo</a></li>
			<li><a href="?src=S03-tarjetas.php&amp;tab=operaciones&amp;operation=tarjetaConsultarOinscribirPat">
			Consultar o inscribir PAT</a></li>
			<li><a href="includes/components/dialogs/canjear-puntos.html" class="modal-trigger">Canjear puntos adelante</a></li>
			<li><a href="?src=S03-tarjetas.php&amp;tab=operaciones&amp;operation=tarjetaGestionarPinpass">
			Cambiar clave PinPass</a></li>
		</ul>

</div>