<article class="capgemini-tables mov-table">
	<div class="utility-icons">
		<a href="#"><span class="icon-16 gray l02-excel" title="Exportar a excel"></span></a>
		<a href="#"><span class="icon-16 gray l01-pdf" title="Descargar pdf"></span></a>
		<a href="#"><span class="icon-16 gray m07-correspondenciavirtual" title="Enviar"></span></a> 
		<a href="#"><span class="icon-16 gray n01-imprimir" title="Imprimir"></span></a> 
	</div>
	<h3>Estado cheques <!-- Resultados o Cartola enero (dependiendo dela consulta realizada) --></h3>
	<p class="iconed-24 block-warning aviso-no-encontrado hidden"><i class="icon-24 m03-aviso"></i>No se han encontrado resultados.</p>
	<div class="tables-body table-resultados">
		<table class="sortable">
			<tr class="hidden-xs">
				<th class="sorted desc"><a href="#">Nº DE CHEQUE</a></th>
				<th><a href="#">FECHA</a></th>
				<th><a href="#">ESTADO</a></th>
				<th><a href="#">MONTO</a></th>
			</tr>
			<tr data-detail="includes/components/movements/cheques/detail/table-detail-1.php">
				<td><span class="link">00000000542</span></td>
				<td>10/12/2013</td>
				<td>PAGADO AUTOMAT.</td>
				<td><em>$ - 312.200</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000000542</span>
						<small>10/12/2013</small>
					</div>
					<div class="right">
						<em>- 140.200</em>
						<small>PAGADO AUTOMAT.</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cheques/detail/table-detail-2.php">
				<td><span class="link">00000000543</span></td>
				<td>10/12/2013</td>
				<td>PAGADO AUTOMAT.</td>
				<td><em>$ - 140.200</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000000542</span>
						<small>10/12/2013</small>
					</div>
					<div class="right">
						<em>- 10.200</em>
						<small>PAGADO AUTOMAT.</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cheques/detail/table-detail-3.php">
				<td><span class="link">00000000544</span></td>
				<td>10/12/2013</td>
				<td>NO PAGADO</td>
				<td><em>-</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000000542</span>
						<small>10/12/2013</small>
					</div>
					<div class="right">
						<em>- 140.200</em>
						<small>PAGADO AUTOMAT.</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cheques/detail/table-detail-3.php">
				<td><span class="link">00000000545</span></td>
				<td>10/12/2013</td>
				<td>NO PAGADO</td>
				<td><em>-</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000000542</span>
						<small>10/12/2013</small>
					</div>
					<div class="right">
						<em>- 140.200</em>
						<small>PAGADO AUTOMAT.</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cheques/detail/table-detail-3.php">
				<td><span class="link">00000000546</span></td>
				<td>10/12/2013</td>
				<td>NO PAGADO</td>
				<td><em>-</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000000542</span>
						<small>10/12/2013</small>
					</div>
					<div class="right">
						<em>- 140.200</em>
						<small>PAGADO AUTOMAT.</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cheques/detail/table-detail-1.php">
				<td><span class="link">00000000542</span></td>
				<td>10/12/2013</td>
				<td>PAGADO AUTOMAT.</td>
				<td><em>$ - 312.200</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000000542</span>
						<small>10/12/2013</small>
					</div>
					<div class="right">
						<em>- 140.200</em>
						<small>PAGADO AUTOMAT.</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cheques/detail/table-detail-2.php">
				<td><span class="link">00000000543</span></td>
				<td>10/12/2013</td>
				<td>PAGADO AUTOMAT.</td>
				<td><em>$ - 140.200</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000000542</span>
						<small>10/12/2013</small>
					</div>
					<div class="right">
						<em>- 10.200</em>
						<small>PAGADO AUTOMAT.</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cheques/detail/table-detail-3.php">
				<td><span class="link">00000000544</span></td>
				<td>10/12/2013</td>
				<td>NO PAGADO</td>
				<td><em>-</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000000542</span>
						<small>10/12/2013</small>
					</div>
					<div class="right">
						<em>-</em>
						<small>NO PAGADO</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cheques/detail/table-detail-3.php">
				<td><span class="link">00000000545</span></td>
				<td>10/12/2013</td>
				<td>NO PAGADO</td>
				<td><em>-</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000000542</span>
						<small>10/12/2013</small>
					</div>
					<div class="right">
						<em>-</em>
						<small>NO PAGADO</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cheques/detail/table-detail-2.php">
				<td><span class="link">00000000548</span></td>
				<td>10/12/2013</td>
				<td>PAGADO AUTOMAT.</td>
				<td><em>$ - 139.200</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000000542</span>
						<small>10/12/2013</small>
					</div>
					<div class="right">
						<em>- 140.200</em>
						<small>PAGADO AUTOMAT.</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cheques/detail/table-detail-1.php">
				<td><span class="link">00000000542</span></td>
				<td>10/12/2013</td>
				<td>PAGADO AUTOMAT.</td>
				<td><em>$ - 312.200</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000000542</span>
						<small>10/12/2013</small>
					</div>
					<div class="right">
						<em>- 140.200</em>
						<small>PAGADO AUTOMAT.</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cheques/detail/table-detail-2.php">
				<td><span class="link">00000000543</span></td>
				<td>10/12/2013</td>
				<td>PAGADO AUTOMAT.</td>
				<td><em>$ - 140.200</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000000542</span>
						<small>10/12/2013</small>
					</div>
					<div class="right">
						<em>- 10.200</em>
						<small>PAGADO AUTOMAT.</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cheques/detail/table-detail-3.php">
				<td><span class="link">00000000544</span></td>
				<td>10/12/2013</td>
				<td>NO PAGADO</td>
				<td><em>-</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000000542</span>
						<small>10/12/2013</small>
					</div>
					<div class="right">
						<em>-</em>
						<small>NO PAGADO</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cheques/detail/table-detail-3.php">
				<td><span class="link">00000000545</span></td>
				<td>10/12/2013</td>
				<td>NO PAGADO</td>
				<td><em>-</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000000542</span>
						<small>10/12/2013</small>
					</div>
					<div class="right">
						<em>-</em>
						<small>NO PAGADO</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cheques/detail/table-detail-3.php">
				<td><span class="link">00000000546</span></td>
				<td>10/12/2013</td>
				<td>NO PAGADO</td>
				<td><em>-</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000000542</span>
						<small>10/12/2013</small>
					</div>
					<div class="right">
						<em>- 140.200</em>
						<small>NO PAGADO</small>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<footer class="tables-footer table-resultados">
		<button type="button" class="btn"><span>Mostrar más</span></button>
	</footer>
</article>