<article class="capgemini-tables mov-table">

	<div class="tables-body table-resultados">
		<table class="sortable">
			<tr class="hidden-xs">
				<th class="sorted desc"><a href="#">Fecha</a></th>
				<th><a href="#">Descripción</a></th>
				<th><a href="#">Monto</a></th>
				<th><a href="#">Saldo</a></th>
			</tr>
			<tr data-detail="includes/components/movements/cuentas/detail/table-detail-consulta-historica.php">
				<td><span class="link">27/12/2013</span></td>
				<td>
					<strong>Abono traspaso Internet 0142738768768</strong>
				</td>
				<td class="neg"><em>$ -75.568</em></td>
				<td><em>$ 1.348.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Abono traspaso Internet 0142738768768</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small class="neg">$ -75.568</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cuentas/detail/table-detail-consulta-historica.php">
				<td><span class="link">27/12/2013</span></td>
				<td>
					<strong>Abono traspaso Internet 0142738768768</strong>
				</td>
				<td class="neg"><em>$ -75.568</em></td>
				<td><em>$ 1.348.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Abono traspaso Internet 0142738768768</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small class="neg">$ -75.568</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cuentas/detail/table-detail-consulta-historica.php">
				<td><span class="link">28/02/2014</span></td>
				<td>
					<strong>CHQ.PAG. O/B Nº.127128762187</strong>
				</td>
				<td class="neg"><em>$ -7.000</em></td>
				<td><em>$ 1.258.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">CHQ.PAG. O/B Nº.127128762187</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 1.258.900</em>
						<small class="neg">$ -7.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cuentas/detail/table-detail-consulta-historica.php">
				<td><span class="link">28/02/2014</span></td>
				<td>
					<strong>BOLETA DE DEPÓSITOS Nº: 09128762</strong>
				</td>
				<td class="neg"><em>$ -140.000</em></td>
				<td><em>$ 1.348.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">BOLETA DE DEPÓSITOS Nº: 09128762</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small>$ -140.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cuentas/detail/table-detail-consulta-historica.php">
				<td><span class="link">30/02/2014</span></td>
				<td>
					<strong>Transferencia a cuenta automóvil</strong>
				</td>
				<td class="neg"><em>$ -90.000</em></td>
				<td><em>$ 2.785.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Transferencia a cuenta automóvil</span>
						<small>30/02/2014</small>
					</div>
					<div class="right">
						<em>$ 2.785.900</em>
						<small class="neg">$ -90.000</small>
					</div>
				</td>
			</tr>
			<tr data-detail="includes/components/movements/cuentas/detail/table-detail-consulta-historica.php">
				<td><span class="link">30/02/2014</span></td>
				<td>
					<strong>Ingreso nómina</strong>
				</td>
				<td><em>$ 1.340.000</em></td>
				<td><em>$ 1.355.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Ingreso nómina</span>
						<small>30/02/2014</small>
					</div>
					<div class="right">
						<em>$ 1.355.900</em>
						<small>$ 1.355.900</small>
					</div>
				</td>
			</tr>
		</table>
	</div>
	
</article>