<article id="trans-enviadas" class="capgemini-tables mov-table  transferencias-tablas"  style="display: none;">

	<div class="tables-body table-resultados">
		<table class="sortable">
			<tr class="hidden-xs">
				<th class="sorted desc"><a href="#">Fecha</a></th>
				<th><a href="#">Ordenante</th>
				<th><a href="#">N° transacción</th>
				<th><a href="#">Monto</a></th>
			</tr>

			<tr data-detail="includes/components/movements/cuentas/detail/table-detail-transferencia-enviada.php">
				<td><span class="link">27/12/2013</span></td>
				<td><strong>Elizabeth Andrea Bustamante Poblete</strong></td>
				<td><em>00485</em></td>
				<td><strong class="strong">$250.000</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Abono traspaso Internet 0142738768768</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small class="neg">$ -75.568</small>
					</div>
				</td>
			</tr>

			<tr data-detail="includes/components/movements/cuentas/detail/table-detail-transferencia-enviada.php">
				<td><span class="link">27/12/2013</span></td>
				<td><strong>Elizabeth Andrea Bustamante Poblete</strong></td>
				<td><em>00485</em></td>
				<td><strong class="strong">$250.000</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Abono traspaso Internet 0142738768768</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small class="neg">$ -75.568</small>
					</div>
				</td>
			</tr>

			<tr data-detail="includes/components/movements/cuentas/detail/table-detail-transferencia-enviada.php">
				<td><span class="link">27/12/2013</span></td>
				<td><strong>Elizabeth Andrea Bustamante Poblete</strong></td>
				<td><em>00485</em></td>
				<td><strong class="strong">$250.000</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Abono traspaso Internet 0142738768768</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small class="neg">$ -75.568</small>
					</div>
				</td>
			</tr>

			<tr data-detail="includes/components/movements/cuentas/detail/table-detail-transferencia-enviada.php">
				<td><span class="link">27/12/2013</span></td>
				<td><strong>Elizabeth Andrea Bustamante Poblete</strong></td>
				<td><em>00485</em></td>
				<td><strong class="strong">$250.000</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Abono traspaso Internet 0142738768768</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small class="neg">$ -75.568</small>
					</div>
				</td>
			</tr>

			<tr data-detail="includes/components/movements/cuentas/detail/table-detail-transferencia-enviada.php">
				<td><span class="link">27/12/2013</span></td>
				<td><strong>Elizabeth Andrea Bustamante Poblete</strong></td>
				<td><em>00485</em></td>
				<td><strong class="strong">$250.000</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Abono traspaso Internet 0142738768768</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small class="neg">$ -75.568</small>
					</div>
				</td>
			</tr>

		</table>
	</div>
</article>

<article id="trans-recibidas" class="capgemini-tables mov-table transferencias-tablas" style="display: none;">

	<div class="tables-body table-resultados">
		<table class="sortable">
			<tr class="hidden-xs">
				<th class="sorted desc"><a href="#">Fecha</a></th>
				<th><a href="#">Destinatario</th>
				<th><a href="#">N° transacción</th>
				<th><a href="#">Monto</a></th>
			</tr>

			<tr data-detail="includes/components/movements/cuentas/detail/table-detail-transferencia-enviada.php">
				<td><span class="link">27/12/2013</span></td>
				<td><strong>Elizabeth Andrea Bustamante Poblete</strong></td>
				<td><em>00485</em></td>
				<td><strong class="strong">$250.000</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Abono traspaso Internet 0142738768768</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small class="neg">$ -75.568</small>
					</div>
				</td>
			</tr>

			<tr data-detail="includes/components/movements/cuentas/detail/table-detail-transferencia-enviada.php">
				<td><span class="link">27/12/2013</span></td>
				<td><strong>Elizabeth Andrea Bustamante Poblete</strong></td>
				<td><em>00485</em></td>
				<td><strong class="strong">$250.000</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Abono traspaso Internet 0142738768768</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small class="neg">$ -75.568</small>
					</div>
				</td>
			</tr>

			<tr data-detail="includes/components/movements/cuentas/detail/table-detail-transferencia-enviada.php">
				<td><span class="link">27/12/2013</span></td>
				<td><strong>Elizabeth Andrea Bustamante Poblete</strong></td>
				<td><em>00485</em></td>
				<td><strong class="strong">$250.000</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Abono traspaso Internet 0142738768768</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small class="neg">$ -75.568</small>
					</div>
				</td>
			</tr>

			<tr data-detail="includes/components/movements/cuentas/detail/table-detail-transferencia-enviada.php">
				<td><span class="link">27/12/2013</span></td>
				<td><strong>Elizabeth Andrea Bustamante Poblete</strong></td>
				<td><em>00485</em></td>
				<td><strong class="strong">$250.000</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Abono traspaso Internet 0142738768768</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small class="neg">$ -75.568</small>
					</div>
				</td>
			</tr>

			<tr data-detail="includes/components/movements/cuentas/detail/table-detail-transferencia-enviada.php">
				<td><span class="link">27/12/2013</span></td>
				<td><strong>Elizabeth Andrea Bustamante Poblete</strong></td>
				<td><em>00485</em></td>
				<td><strong class="strong">$250.000</strong></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Abono traspaso Internet 0142738768768</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small class="neg">$ -75.568</small>
					</div>
				</td>
			</tr>

		</table>
	</div>
</article>