<article class="capgemini-tables mov-table">

	<div class="tables-body table-resultados">
		<table class="sortable">
			<tr class="hidden-xs">
				<th class="sorted desc"><a href="#">Número de Cheque</a></th>
				<th><a href="#">Fecha</a></th>
				<th><a href="#">Estado</a></th>
				<th><a href="#">Monto</a></th>
			</tr>
			<tr>
				<td><span class="link">00000051</span></td>
				<td><strong>30/03/2007</strong></td>
				<td><em>PAGO AUTOMATICO</em></td>
				<td><em>$ 246.950</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000051</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>PAGO AUTOMATICO</em>
						<small>$ 246.950</small>
					</div>
				</td>
			</tr>
			<tr>
				<td><span class="link">00000051</span></td>
				<td><strong>30/03/2007</strong></td>
				<td><em>PAGO AUTOMATICO</em></td>
				<td><em>$ 246.950</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000051</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>PAGO AUTOMATICO</em>
						<small>$ 246.950</small>
					</div>
				</td>
			</tr>
			<tr>
				<td><span class="link">00000051</span></td>
				<td><strong>30/03/2007</strong></td>
				<td><em>PAGO AUTOMATICO</em></td>
				<td><em>$ 246.950</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000051</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>PAGO AUTOMATICO</em>
						<small>$ 246.950</small>
					</div>
				</td>
			</tr>
			<tr>
				<td><span class="link">00000051</span></td>
				<td><strong>30/03/2007</strong></td>
				<td><em>PAGO AUTOMATICO</em></td>
				<td><em>$ 246.950</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000051</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>PAGO AUTOMATICO</em>
						<small>$ 246.950</small>
					</div>
				</td>
			</tr>
			<tr>
				<td><span class="link">00000051</span></td>
				<td><strong>30/03/2007</strong></td>
				<td><em>PAGO AUTOMATICO</em></td>
				<td><em>$ 246.950</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000051</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>PAGO AUTOMATICO</em>
						<small>$ 246.950</small>
					</div>
				</td>
			</tr>
			<tr>
				<td><span class="link">00000051</span></td>
				<td><strong>30/03/2007</strong></td>
				<td><em>PAGO AUTOMATICO</em></td>
				<td><em>$ 246.950</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000051</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>PAGO AUTOMATICO</em>
						<small>$ 246.950</small>
					</div>
				</td>
			</tr>
			<tr>
				<td><span class="link">00000051</span></td>
				<td><strong>30/03/2007</strong></td>
				<td><em>PAGO AUTOMATICO</em></td>
				<td><em>$ 246.950</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">00000051</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>PAGO AUTOMATICO</em>
						<small>$ 246.950</small>
					</div>
				</td>
			</tr>
			

		</table>
	</div>
	
</article>