<article class="capgemini-tables mov-table">
	
	<!-- Resultados o Cartola enero (dependiendo dela consulta realizada) -->
	<h3>Últimos movimientos</h3>
	<p class="iconed-24 block-warning aviso-no-encontrado hidden"><i class="icon-24 m03-aviso"></i>No se han encontrado resultados.</p>

	<div class="tables-body table-resultados table-nodetalle">
		<table>
			<tr class="hidden-xs">
				<th>Fecha</th>
				<th>Descripción</th>
				<th>Monto</th>
				<th>Saldo</th>
			</tr>
			<tr>
				<td><span class="link">27/12/2013</span></td>
				<td>
					<strong>Abono traspaso Internet 0142738768768</strong>
				</td>
				<td class="neg"><em>$ -75.568</em></td>
				<td><em>$ 1.348.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Abono traspaso Internet 0142738768768</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small class="neg">$ -75.568</small>
					</div>
				</td>
			</tr>
			<tr>
				<td><span class="link">27/12/2013</span></td>
				<td>
					<strong>Abono traspaso Internet 0142738768768</strong>
				</td>
				<td class="neg"><em>$ -75.568</em></td>
				<td><em>$ 1.348.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">Abono traspaso Internet 0142738768768</span>
						<small>27/12/2013</small>
					</div>
					<div class="right">
						<em>$ 1.348.900</em>
						<small class="neg">$ -75.568</small>
					</div>
				</td>
			</tr>
			<tr>
				<td><span class="link">28/02/2014</span></td>
				<td>
					<strong>CHQ.PAG. O/B Nº.127128762187</strong>
				</td>
				<td class="neg"><em>$ -7.000</em></td>
				<td><em>$ 1.258.900</em></td>
				<td class="xs-view">
					<div class="left">
						<span class="link">CHQ.PAG. O/B Nº.127128762187</span>
						<small>28/02/2014</small>
					</div>
					<div class="right">
						<em>$ 1.258.900</em>
						<small class="neg">$ -7.000</small>
					</div>
				</td>
			</tr>
		</table>

		<div class="footer-btn">
			<a href="?src=S03-cuentas.php&tab=operaciones&operation=mas-consultas-movimientos" class="btn-ir"><span>Mostrar más</span></a>
		</div>
	</div>
	
</article>