<div class="switch plus-one big-blue no-border-margin table-movimientos">
		<article class="capgemini-tables mov-table resultado-busqueda hidden">
				<div class="utility-icons">
					<a href="#"><span class="icon-16 gray l02-excel" title="Exportar a excel"></span></a>
					<a href="#"><span class="icon-16 gray l01-pdf" title="Descargar pdf"></span></a>
					<a href="#"><span class="icon-16 gray m07-correspondenciavirtual" title="Enviar"></span></a> 
					<a href="#"><span class="icon-16 gray n01-imprimir" title="Imprimir"></span></a> 
				</div>
				<h2>Resultados de B&uacute;squeda</h2>
				<!--p class="iconed-24 block-warning aviso-no-encontrado hidden"><i class="icon-24 m03-aviso"></i>No se han encontrado resultados.</p-->
				<div class="tables-body tabla-resultados-consulta">
					<table class="sortable no-border-bottom">
						<tr class="hidden-xs">
							<th class="sorted desc"><a href="#">Fecha</a></th>
							<th><a href="#">Descripción</a></th>
							<th><a href="#">Monto</a></th>
						</tr>

						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-1.php">
							<td><span class="link">27/12/2013</span></td>
							<td>
								<strong>Supermercado alimentación Diaz</strong>
								<small>AVANCE EN LÍNEA</small>
							</td>
							<td><em>$ -355.900</em></td>
							<td class="xs-view">
								<div class="left">
									<span class="link">Abono traspaso Internet 0142738768768</span>
									<small>27/12/2013</small>
								</div>
								<div class="right">
									<em>$ -355.900</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-1.php">
							<td><span class="link">28/02/2014</span></td>
							<td>
								<strong>Concepto de movimiento de tarjeta</strong>
								<small>AVANCE EN LÍNEA</small>
							</td>
							<td><em>$ -5.900</em></td>
							<td class="xs-view">
								<div class="left">
									<span class="link">CHQ.PAG. O/B Nº.127128762187</span>
									<small>28/02/2014</small>
								</div>
								<div class="right">
									<em>$ -5.900</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-1.php">
							<td><span class="link">28/02/2014</span></td>
							<td>
								<strong>Concepto de movimiento de tarjeta</strong>
								<small>AVANCE EN LÍNEA</small>
							</td>
							<td><em>$ -5.900</em></td>
							<td class="xs-view">
								<div class="left">
									<span class="link">CHQ.PAG. O/B Nº.127128762187</span>
									<small>28/02/2014</small>
								</div>
								<div class="right">
									<em>$ -5.900</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-2.php">
							<td><span class="link">30/02/2014</span></td>
							<td>
								<strong>Gasolineria N400</strong>
								<small>COMPRA EN CUOTAS</small>
							</td>
							<td><em>$ -55.900</em></td>
							<td class="xs-view">
								<div class="left">
									<span class="link">Transferencia a cuenta automóvil</span>
									<small>30/02/2014</small>
								</div>
								<div class="right">
									<em>$ -55.900</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-2.php">
							<td><span class="link">30/02/2014</span></td>
							<td>
								<strong>Gasolineria N400</strong>
								<small>COMPRA EN CUOTAS</small>
							</td>
							<td><em>$ -55.900</em></td>
							<td class="xs-view">
								<div class="left">
									<span class="link">Transferencia a cuenta automóvil</span>
									<small>30/02/2014</small>
								</div>
								<div class="right">
									<em>$ -55.900</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-1.php">
							<td><span class="link">28/02/2014</span></td>
							<td>
								<strong>Concepto de movimiento de tarjeta</strong>
								<small>AVANCE EN LÍNEA</small>
							</td>
							<td><em>$ -5.900</em></td>
							<td class="xs-view">
								<div class="left">
									<span class="link">CHQ.PAG. O/B Nº.127128762187</span>
									<small>28/02/2014</small>
								</div>
								<div class="right">
									<em>$ -5.900</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-2.php">
							<td><span class="link">30/02/2014</span></td>
							<td>
								<strong>Gasolineria N400</strong>
								<small>COMPRA EN CUOTAS</small>
							</td>
							<td><em>$ -55.900</em></td>
							<td class="xs-view">
								<div class="left">
									<span class="link">Transferencia a cuenta automóvil</span>
									<small>30/02/2014</small>
								</div>
								<div class="right">
									<em>$ -55.900</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-1.php">
							<td><span class="link">28/02/2014</span></td>
							<td>
								<strong>Concepto de movimiento de tarjeta</strong>
								<small>AVANCE EN LÍNEA</small>
							</td>
							<td><em>$ -5.900</em></td>
							<td class="xs-view">
								<div class="left">
									<span class="link">CHQ.PAG. O/B Nº.127128762187</span>
									<small>28/02/2014</small>
								</div>
								<div class="right">
									<em>$ -5.900</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-2.php">
							<td><span class="link">30/02/2014</span></td>
							<td>
								<strong>Gasolineria N400</strong>
								<small>COMPRA EN CUOTAS</small>
							</td>
							<td><em>$ -55.900</em></td>
							<td class="xs-view">
								<div class="left">
									<span class="link">Transferencia a cuenta automóvil</span>
									<small>30/02/2014</small>
								</div>
								<div class="right">
									<em>$ -55.900</em>
									
								</div>
							</td>
						</tr>
					</table>
				</div>
				<footer class="tables-footer table-resultados">
					<button type="button" class="btn"><span>Mostrar más</span></button>
				</footer>
	
				<!-- Warning para cuando no hay resultados -->
				<!-- 
				<div class="block-warning">
					<i class="icon-24 gray m03-aviso"></i> No se han encontrado resultados
				</div> 
				-->
			</article>


	<div class="form-group tabs-small tabs-ocultar-consulta">
		<ul>
			<li id="sucursal-link"><a href="#mov-nacional">Movimientos Nacionales</a></li>
			<li id="domicilio-link"><a href="#mov-internacional">Movimientos Internacionales</a></li>
		</ul>
	</div>

	<div class="tab-content  tabs-ocultar-consulta">
		<div id="mov-nacional">
			<article class="capgemini-tables mov-table">
				<div class="utility-icons">
					<a href="#"><span class="icon-16 gray l02-excel" title="Exportar a excel"></span></a>
					<a href="#"><span class="icon-16 gray l01-pdf" title="Descargar pdf"></span></a>
					<a href="#"><span class="icon-16 gray m07-correspondenciavirtual" title="Enviar"></span></a> 
					<a href="#"><span class="icon-16 gray n01-imprimir" title="Imprimir"></span></a> 
				</div>
				<h2>Movimientos por facturar</h2>
				<p class="iconed-24 block-warning aviso-no-encontrado hidden"><i class="icon-24 m03-aviso"></i>No se han encontrado resultados.</p>
				<div class="tables-body table-resultados">
					<table class="sortable no-border-bottom">
						<tr class="hidden-xs">
							<th class="sorted desc"><a href="#">Fecha</a></th>
							<th><a href="#">Descripción</a></th>
							<th><a href="#">Monto</a></th>
						</tr>

						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-1.php">
							<td><span class="link">27/12/2013</span></td>
							<td>
								<strong>Supermercado alimentación Diaz</strong>
								<small>AVANCE EN LÍNEA</small>
							</td>
							<td><em>$ -355.900</em></td>
							<td class="xs-view">
								<div class="left">
									<span class="link">Abono traspaso Internet 0142738768768</span>
									<small>27/12/2013</small>
								</div>
								<div class="right">
									<em>$ -355.900</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-1.php">
							<td><span class="link">28/02/2014</span></td>
							<td>
								<strong>Concepto de movimiento de tarjeta</strong>
								<small>AVANCE EN LÍNEA</small>
							</td>
							<td><em>$ -5.900</em></td>
							<td class="xs-view">
								<div class="left">
									<span class="link">CHQ.PAG. O/B Nº.127128762187</span>
									<small>28/02/2014</small>
								</div>
								<div class="right">
									<em>$ -5.900</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-1.php">
							<td><span class="link">28/02/2014</span></td>
							<td>
								<strong>Concepto de movimiento de tarjeta</strong>
								<small>AVANCE EN LÍNEA</small>
							</td>
							<td><em>$ -5.900</em></td>
							<td class="xs-view">
								<div class="left">
									<span class="link">CHQ.PAG. O/B Nº.127128762187</span>
									<small>28/02/2014</small>
								</div>
								<div class="right">
									<em>$ -5.900</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-2.php">
							<td><span class="link">30/02/2014</span></td>
							<td>
								<strong>Gasolineria N400</strong>
								<small>COMPRA EN CUOTAS</small>
							</td>
							<td><em>$ -55.900</em></td>
							<td class="xs-view">
								<div class="left">
									<span class="link">Transferencia a cuenta automóvil</span>
									<small>30/02/2014</small>
								</div>
								<div class="right">
									<em>$ -55.900</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-2.php">
							<td><span class="link">30/02/2014</span></td>
							<td>
								<strong>Gasolineria N400</strong>
								<small>COMPRA EN CUOTAS</small>
							</td>
							<td><em>$ -55.900</em></td>
							<td class="xs-view">
								<div class="left">
									<span class="link">Transferencia a cuenta automóvil</span>
									<small>30/02/2014</small>
								</div>
								<div class="right">
									<em>$ -55.900</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-1.php">
							<td><span class="link">28/02/2014</span></td>
							<td>
								<strong>Concepto de movimiento de tarjeta</strong>
								<small>AVANCE EN LÍNEA</small>
							</td>
							<td><em>$ -5.900</em></td>
							<td class="xs-view">
								<div class="left">
									<span class="link">CHQ.PAG. O/B Nº.127128762187</span>
									<small>28/02/2014</small>
								</div>
								<div class="right">
									<em>$ -5.900</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-2.php">
							<td><span class="link">30/02/2014</span></td>
							<td>
								<strong>Gasolineria N400</strong>
								<small>COMPRA EN CUOTAS</small>
							</td>
							<td><em>$ -55.900</em></td>
							<td class="xs-view">
								<div class="left">
									<span class="link">Transferencia a cuenta automóvil</span>
									<small>30/02/2014</small>
								</div>
								<div class="right">
									<em>$ -55.900</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-1.php">
							<td><span class="link">28/02/2014</span></td>
							<td>
								<strong>Concepto de movimiento de tarjeta</strong>
								<small>AVANCE EN LÍNEA</small>
							</td>
							<td><em>$ -5.900</em></td>
							<td class="xs-view">
								<div class="left">
									<span class="link">CHQ.PAG. O/B Nº.127128762187</span>
									<small>28/02/2014</small>
								</div>
								<div class="right">
									<em>$ -5.900</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-2.php">
							<td><span class="link">30/02/2014</span></td>
							<td>
								<strong>Gasolineria N400</strong>
								<small>COMPRA EN CUOTAS</small>
							</td>
							<td><em>$ -55.900</em></td>
							<td class="xs-view">
								<div class="left">
									<span class="link">Transferencia a cuenta automóvil</span>
									<small>30/02/2014</small>
								</div>
								<div class="right">
									<em>$ -55.900</em>
									
								</div>
							</td>
						</tr>
					</table>
				</div>
				<footer class="tables-footer table-resultados">
					<button type="button" class="btn"><span>Mostrar más</span></button>
				</footer>
	
				<!-- Warning para cuando no hay resultados -->
				<!-- 
				<div class="block-warning">
					<i class="icon-24 gray m03-aviso"></i> No se han encontrado resultados
				</div> 
				-->
			</article>
		</div>
		
		<div id="mov-internacional">
			<article class="capgemini-tables mov-table">
				<div class="utility-icons">
					<a href="#"><span class="icon-16 gray l02-excel" title="Exportar a excel"></span></a>
					<a href="#"><span class="icon-16 gray l01-pdf" title="Descargar pdf"></span></a>
					<a href="#"><span class="icon-16 gray m07-correspondenciavirtual" title="Enviar"></span></a> 
					<a href="#"><span class="icon-16 gray n01-imprimir" title="Imprimir"></span></a> 
				</div>
				<h2>Últimos movimientos</h2>
				<p class="iconed-24 block-warning aviso-no-encontrado hidden"><i class="icon-24 m03-aviso"></i>No se han encontrado resultados.</p>
				<div class="tables-body table-resultados">
					<table class="sortable no-border-bottom">
						<tr class="hidden-xs">
							<th class="sorted desc"><a href="#">Fecha</a></th>
							<th><a href="#">Descripción</a></th>
							<th><a href="#">Ciudad</a></th>
							<th><a href="#">Monto</a></th>
						</tr>

						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-1.php">
							<td><span class="link">27/12/2013</span></td>
							<td>
								<strong>Concepto de movimiento de tarjeta</strong>
								
							</td>
							<td><strong>Ciudad Lorem Ipsum</strong></td>
							<td><em>US$ - 90,00</em></td>
							<td class="xs-view">
								<div class="left">
									<strong>Concepto de movimiento de tarjeta</strong>
									<small>27/12/2013</small>
								</div>
								<div class="right">
									<em>US$ - 90,00</em>
									
								</div>
							</td> 
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-2.php">
							<td><span class="link">28/02/2014</span></td>
							<td>
								<strong>Concepto de movimiento de tarjeta</strong>
							</td>
							<td><strong>Ciudad Lorem Ipsum</strong></td>
							<td><em>US$ - 90,00</em></td>
							<td class="xs-view">
								<div class="left">
									<strong>Concepto de movimiento de tarjeta</strong>
									<small>27/12/2013</small>
								</div>
								<div class="right">
									<em>US$ - 90,00</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-1.php">
							<td><span class="link">28/02/2014</span></td>
							<td>
								<strong>Concepto de movimiento de tarjeta</strong>
							</td>
							<td><strong>Ciudad Lorem Ipsum</strong></td>
							<td><em>US$ - 90,00</em></td>
							<td class="xs-view">
								<div class="left">
									<strong>Concepto de movimiento de tarjeta</strong>
									<small>27/12/2013</small>
								</div>
								<div class="right">
									<em>US$ - 90,00</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-2.php">
							<td><span class="link">30/02/2014</span></td>
							<td>
								<strong>Concepto de movimiento de tarjeta</strong>
							</td>
							<td><strong>Ciudad Lorem Ipsum</strong></td>
							<td><em>US$ - 90,00</em></td>
							<td class="xs-view">
								<div class="left">
									<strong>Concepto de movimiento de tarjeta</strong>
									<small>27/12/2013</small>
								</div>
								<div class="right">
									<em>US$ - 90,00</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-2.php">
							<td><span class="link">30/02/2014</span></td>
							<td>
								<strong>Gasolineria N400</strong>
							</td>
							<td><strong>Ciudad Lorem Ipsum</strong></td>
							<td><em>US$ - 90,00</em></td>
							<td class="xs-view">
								<div class="left">
									<strong>Concepto de movimiento de tarjeta</strong>
									<small>27/12/2013</small>
								</div>
								<div class="right">
									<em>US$ - 90,00</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-1.php">
							<td><span class="link">28/02/2014</span></td>
							<td>
								<strong>Concepto de movimiento de tarjeta</strong>
							</td>
							<td><strong>Ciudad Lorem Ipsum</strong></td>
							<td><em>US$ - 90,00</em></td>
							<td class="xs-view">
								<div class="left">
									<strong>Concepto de movimiento de tarjeta</strong>
									<small>27/12/2013</small>
								</div>
								<div class="right">
									<em>US$ - 90,00</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-2.php">
							<td><span class="link">30/02/2014</span></td>
							<td>
								<strong>Gasolineria N400</strong>
							</td>
							<td><strong>Ciudad Lorem Ipsum</strong></td>
							<td><em>US$ - 90,00</em></td>
							<td class="xs-view">
								<div class="left">
									<strong>Concepto de movimiento de tarjeta</strong>
									<small>27/12/2013</small>
								</div>
								<div class="right">
									<em>US$ - 90,00</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-1.php">
							<td><span class="link">28/02/2014</span></td>
							<td>
								<strong>Concepto de movimiento de tarjeta</strong>
							</td>
							<td><strong>Ciudad Lorem Ipsum</strong></td>
							<td><em>US$ - 90,00</em></td>
							<td class="xs-view">
								<div class="left">
									<strong>Concepto de movimiento de tarjeta</strong>
									<small>27/12/2013</small>
								</div>
								<div class="right">
									<em>US$ - 90,00</em>
									
								</div>
							</td>
						</tr>
						<tr data-detail="includes/components/movements/tarjetas/detail/table-detail-2.php">
							<td><span class="link">30/02/2014</span></td>
							<td>
								<strong>Gasolineria N400</strong>
							</td>
							<td><strong>Ciudad Lorem Ipsum</strong></td>
							<td><em>US$ - 90,00</em></td>
							<td class="xs-view">
								<div class="left">
									<strong>Concepto de movimiento de tarjeta</strong>
									<small>27/12/2013</small>
								</div>
								<div class="right">
									<em>US$ - 90,00</em>
									
								</div>
							</td>
						</tr>
					</table>
				</div>
				<footer class="tables-footer table-resultados">
					<button type="button" class="btn"><span>Mostrar más</span></button>
				</footer>
	
				<!-- Warning para cuando no hay resultados -->
				<!-- 
				<div class="block-warning">
					<i class="icon-24 gray m03-aviso"></i> No se han encontrado resultados
				</div> 
				-->
			</article>
		</div>
	</div>
</div>

<!-- Tabla datos debe ir dentreo de los tabs -->

