<div class="modal-intro modal-intro-desktop">
	<!-- Bienvenido -->
	<div class="modal-interior modal-inter1" style="display: block; opacity: 1; top: 90px;">
		<header>
			<strong><h3 style="font-weight: bold">Caso Cliente PEP</h3></strong>
		</header>
		<div class="modal-intro-body">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<footer>
			<div class="btn-footer">
				<a href="javascript:void(0);" style="width: 50% !important;font-size: 16px;" class="btn" id="btn1">Aceptar</a> 
			</div>
			<div class="contador">
			</div>
		</footer>
	</div>
</div>
