<div class="modal-intro modal-intro-desktop">
	<!-- Bienvenido -->
	<div class="modal-interior modal-inter1" style="display: block;opacity: 1;top: 90px;font-family: &quot;BBVA Web light&quot;;">
		<header>
			<strong><h3 style="font-weight: bold;font-size: 16px;color: #71777F;padding: 10px 0;font-family: &quot;BBVA Web medium&quot;;">Encuesta Categoria Inversionista:</h3></strong>
		</header>
		<div class="modal-intro-body" style="">
			<p style="color: #71777F;" class="text-center">Es necesario que conteste la encuesta de categoria inversionista para poder operar.</p>
			<p style="color: #71777F;" class="text-center">&#191;Esta seguro que desea Cancelar?</p>
		</div>
		<footer>
			<div class="btn-footer">
				<a href="javascript:void(0);" data-dismiss="modal" style="width: 50% !important;font-size: 14px;padding: 22px;" class="btn modal-trigger" id="btn1">Volver a la encuesta</a> 
			</div>
			<div class="btn-footer">
				<a href="?src=S02-posicion-global.php" style="border: 1px solid #D6D6D6;background: #F3F5F7;color: #71777F;width: 50% !important;font-size: 14px;font-weight: bold;line-height: 1.4;padding-left: 15px;" class="btn text-left " >Entiendo, abandonar el <br> enrolamiento</a> 
			</div>
		</footer>
	</div>
</div>
