<div class="modal-intro modal-intro-desktop">
	<!-- Bienvenido -->
	<div class="modal-interior modal-inter1" style="display: block;opacity: 1;top: 90px;font-family: &quot;BBVA Web light&quot;;">
		<div class="modal-intro-body" style="margin: 0px!important;">
			<p style="color: #71777F;margin: 0;padding-top: 30px;" class="text-center">La &Uacute;ltima actualizaci&oacute;n de sus datos</p>
			<p style="color: #71777F;" class="text-center">fue hace m&aacute;s de 365 d&iacute;as</p>
			<p style="color: #71777F;margin-top: 25px;" class="text-center"><strong>&#191;los datos ingresados son los correctos</strong></p>
		</div>
		<footer>
			<div class="btn-footer">
				<a href="javascript:void(0);" data-dismiss="modal" style="width: 50% !important;font-size: 14px;padding: 22px;" class="btn modal-trigger" id="btn1">Si</a> 
			</div>
			<div class="btn-footer">
				<a href="?src=S11-corredor-bolsa3.php" style="font-size: 14px;padding: 24.5px; border: 1px solid #D6D6D6;background: #F3F5F7;color: #71777F;width: 50% !important;font-size: 14px;font-weight: bold;line-height: 1.4;padding-left: 15px;" class="btn">No</a>
			</div>
		</footer>
	</div>
</div>
