<div class="modal-intro modal-intro-desktop">
	<!-- Bienvenido -->
	<div class="modal-interior modal-inter1" style="display: block; opacity: 1; top: 90px;">
		<header>
			<strong><h3 style="font-weight: bold">Estimado Usuario:</h3></strong>
		</header>
		<div class="modal-intro-body">
			<p>Por su perfil de inversionista no puede invertir en acciones, pero si quiere asumir el riesgo debe <strong>firma la Carta de instruccion.</strong></p>
		</div>
		<footer>
			<div class="btn-footer">
				<a data-href="includes/components/movements/corredorBolsa/remote-step-1-modal-firma-carta-instruccion.html" data-dismiss="modal" style="width: 50% !important;font-size: 16px;" class="btn modal-trigger" id="btn1">Firmar carta<span class="glyphicon glyphicon-chevron-right"></span></a> 
			</div>
			<div class="btn-footer">
				<a href="javascript:void(0);" data-dismiss="modal" style="border: 1px solid #D6D6D6;background: #F3F5F7; color:#0067BD;width: 50% !important;font-size: 16px;" class="btn modal-trigger" id="btn1">Repetir encuesta</a> 
			</div>
		</footer>
	</div>
</div>
