@import "font-coronita.css"; 
$light:"BBVA Web Light";
$bold:"BBVA Web medium";
$regular:"BBVA Web book";

$primary-color:#00A6F0;
$secundary-color:#0090D1;
$accent-color:#3EB6BB;
$color-black:#434A58;
$bbva-color:#094FA4;
$bbva-secundary:#006EC1;
$bbva-alert:#cc286a;

$bbva-blue:#004481;
$bbva-blue-2:#237ABA;
$bbva-blue-3:#0A589D;
$bbva-light-blue:#D4EDFC;
$bbva-light-blue-2:#A2CFEA;


.coronita {

	/*--------General--------*/
	.button {
			padding:8px 26px;
			background: $primary-color;
			background: -moz-linear-gradient(top, $primary-color 0%, $secundary-color 100%);
			background:  -webkit-gradient(left top, left bottom, color-stop(0%, $primary-color), color-stop(100%, $secundary-color));
			background: -webkit-linear-gradient(top, $primary-color 0%, $secundary-color 100%);
			background: -o-linear-gradient(top, $primary-color 0%, $secundary-color 100%);
			background: -ms-linear-gradient(top, $primary-color 0%, $secundary-color 100%);
			background: linear-gradient(to bottom, $primary-color 0%, $secundary-color 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary-color', endColorstr='$secundary-color', GradientType=0 );
			border-width: 0px;
    		border-radius: 3px;
    		color: #fff !important;
			font-weight: bold;
			text-align: center;
 
    		i 	{
    				color: #ffffff;
				    padding: 4px 5px 4px 0px;
				    &:before {
				    	color: #fff !important;
				    }
    			}	
	}
	
	button {
			padding:8px 26px;
			background: $primary-color;
			background: -moz-linear-gradient(top, $primary-color 0%, $secundary-color 100%);
			background:  -webkit-gradient(left top, left bottom, color-stop(0%, $primary-color), color-stop(100%, $secundary-color));
			background: -webkit-linear-gradient(top, $primary-color 0%, $secundary-color 100%);
			background: -o-linear-gradient(top, $primary-color 0%, $secundary-color 100%);
			background: -ms-linear-gradient(top, $primary-color 0%, $secundary-color 100%);
			background: linear-gradient(to bottom, $primary-color 0%, $secundary-color 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary-color', endColorstr='$secundary-color', GradientType=0 );
			border-width: 0px;
    		border-radius: 5px;

    		i 	{
    				color: #ffffff;
				    float: left;
				    padding: 4px 5px 4px 0px;
    			}
			
			p 	{
				color: #fff !important;
				font-weight: bold;
				text-align: center;
				font-family: $bold;
				-webkit-margin-before: 0em;
   				-webkit-margin-after: 0em;
   				float: left;
			}
	}
	
	.btnBlank {
		background: #fff;
	    color: #00559d;
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;
	    padding: 2px 10px;
	    border: 1px solid #00559d;
	    cursor: pointer;
	    text-align: center;
	    vertical-align: middle;
	    text-shadow: none;
	    font: 12px/24px "BBVA Web Medium",arial,sans-serif;
	    position: relative;
	    display: inline-block;
	    margin-bottom: 0;

	    &:hover, &:focus  {
	    	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    		-moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    		box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    		border: 1px solid #003c6f;
	    }
	}

	.btnGreen {
		background: #86C82D;
	    color: #fff;
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;
	    padding: 2px 10px;
	    border: 1px solid #86C82D;
	    cursor: pointer;
	    text-align: center;
	    vertical-align: middle;
	    text-shadow: none;
	    font: 12px/24px "BBVA Web Medium",arial,sans-serif;
	    position: relative;
	    display: inline-block;
	    margin-bottom: 0;
	}

	.btnBig {
		padding: 5px 30px;
		font-size: 15px;
	}

	.listado {
	    margin:auto;
	    padding-left:20px;
	    padding-top:5px; 

	     ul{
		    list-style:none;
		    margin:10px;
		    padding:0px;
		    li {
			    float: left;
			    padding-left: 10px;
			    padding-right: 10px;
			    border-right: 1px solid #FFFFFF;
			    color: #222;
			    font-size: 14px;
			    font-family: 'BBVA Web Light';
			    padding-top: 5px;
			    padding-bottom: 5px;
			}
		}   
	}
	
	.tooltip-help {
		float: none !important;
	}
	.label-form {
		color: $color-black !important;
	}

	@media( max-width:992px){
		.pago-de-cuentas .content-column {
			margin: 0px !important;
		}
	}

	.textBlue {
		color: $bbva-secundary;
		font-family: "BBVA Web book",arial,sans-serif;
	}

	.textGrey {
		color: $color-black;
		font-family: "BBVA Web book",arial,sans-serif;
	}

	.titleSize {
		font-size: 17px;
	}
	
	.paragraphSize {
		font-size: 15px
	}

	.sideLeft {
		background:#EFF5FA;
		width: 100%;
	    border: 1px solid #DDE3EA;
	    border-radius: 4px 4px 0 0;
	    background: #F3F5F7;
	    margin-bottom: 20px;
			
		header {
			background:$bbva-secundary;
			padding: 8px 14px;
			h1 {
				color: #fff !important;
				font-size: 20px;
				text-align: center;
			    font-family: "BBVA Web book",arial,sans-serif;
			    font-weight: bold;
			    line-height: 0px;
			    margin:20px 0px;
			}
		}
		.content {
			background-color:#EFF5FA;
			border-radius:3px;
			border:1px solid #D0E2F8;
			padding:16px;
			.boxGreen {
   				padding: 1px 5px 8px 5px;
			    background-color: $accent-color;
			    color: #fff;
			    margin-top: 10px;
   				.header {
				    margin-top: 8px;
				    color: #fff;
   				}

			}
			.boxGreenItem {
				background:#29A6AB;
				padding: 8px 5px 8px 5px;
				color: #fff;
				
			}
		}
	}

	.box {
			border: 1px solid #DDE3EA; 
			width: 100%; 
			text-align: center;
			height: auto !important;
        	min-height: auto !important;
        	
			.icon-doc-search {
				font-size:4em;
				color: $accent-color;
			}
			.icon-doc{
				font-size:4em;
				color: $accent-color;
			}
			.sinCuentas {
				width: 450px;
    			margin: 0 auto;
    			.icon-doc {
    				float: left;
					margin-right: 16px;
					margin-top: 11px;
				}
				h3 {
					text-align: left;
				}
				p {
					text-align: left;
				}
    		}
    }

    /*--------- Guincha promocion------*/
    .tab-pos-global-1 {

	  width: 100%;
	  margin: 15px 0 0;
	  overflow: hidden;
	  background: $bbva-light-blue;
	  height: 80px;
	  	.oneClickSpan-1 {
		 	color: $bbva-blue;
			font-size: 18px;
		}

		.arrow-right-1 {
			float: left;
		    border-top: 40px solid transparent;
		    border-left: 30px solid $bbva-blue;
		    border-bottom: 40px solid transparent;
		    margin-right: 5px;
		}

		.arrow-right-2 {
			float: left;
		    border-top: 44px solid transparent;
		    border-left: 30px solid #02a5a5;
		    border-bottom: 44px solid transparent;
		    margin-right: 5px;
		}

		.creditoConsumo {
			margin: 0px;
			padding: 0;
			overflow: hidden;
			position: static;
			div {
				height: 80px;
			}
		}

		 a.success {
			background: $bbva-blue-2;
		    border: 0px;
		    padding: 19px;
		    height: 60px;
		    width: 55%;
		    font-weight: lighter;
		    font-size: 15px;
		    font-family: 'BBVA Web Light';
		    margin-top: 12px;
		    margin-left: 4px;
		    float: right;
		}
		div {
			&#dTextoOferta {
				p {
				    font-family: 'BBVA Web light';
				    padding-top: 23px;
				}
			}
		}
		small {
		    font-size: 15px !important;
		    color: $bbva-blue;
		}
		.oneclick-left {
		    width: 60px;
		    height: 80px;
		    float: left;
		    text-align: center;
		    background: $bbva-blue;
		    padding-top: 22px;
		    padding-left: 11px;
		}

		.icon-ico-pencil {
			font-size: 4rem;
			color:#fff;
		}
		.close-banner {
			float: right;
		    width: 30px;
		    font-size: 22px;
		    padding-top: 30px;
		    cursor: pointer;
		    color: $bbva-light-blue-2;
		    margin-left: 20px;
		}
	}

	.bannerMobileOneClickCoronita {
		width: 98%;
	    margin: 0 auto;
	    overflow: hidden;
	    background: #27bfc7;
	    padding: 14px;
	    font-size: 13px;
	    color: #fff;
	    margin-top: 10px;
	    display: none;
	    background-image: url(../../img/ico-doc-edit.svg);
	    background-size: 35px 35px;
	    background-position: 14px;
	    background-repeat: no-repeat;
			.content {
				margin-left: 45px;
				.text {
				    text-align: left;
				    float: left;
					strong {
					 	color: #006EC1;
					}
				}
				.icon-arrow {
				    font-size: 1.9rem;
				    color: #fff;
				    float: right;
				}
			}
			.ico-one-click-arrow {
		  		background: url('../../img/ico-one-click-mobile-arrow.svg');
		 		width: 12px;
		  		height: 19px;
		  		padding: 0px;
		 		float: right;
		  		margin-left: 4px;
			}
			.ico-one-click {
				background: url('../../img/ico-doc-edit.svg');
				width: 35px;
				height: 35px;
				padding: 0px;
				float: left;
				margin-right: 13px;
			}
		}

		@media(max-width:768px){
			.ico-one-click {
    			margin-top: 21px;
			}
			.text {
			    margin-top: 8px !important;
			}
			.icon-arrow {
			    margin-top: 26px !important;
			}
		}

		@media(max-width:768px){
			.hide-mobile {
    			display: none !important; 
			}
			.bannerMobileOneClickCoronita {
				display: block !important; 
			}
		}

	/*---------TABLA CORONITA---------*/
	.capgemini-tables {
		img {
			vertical-align: baseline !important;
		}

		.tables-body {
			&.table-scroll {
				@media only screen and (max-width: 480px) and (max-width: 768px){
					table.responsive td:before {
					    margin-top: 0px !important;
					}
				}
				table {
					border: 2px #ECF1F7 solid;
					border-radius:10px;

					tbody {
						tr {
							td {
								line-height: 2em;
								font-size: 12px !important;
								.canje {
									color: $bbva-alert;
								}
								.fecha {
									color: $bbva-color;
								}
							}
						}
					}
							
					tr {
						font-size: 14px;
						@media (max-width:480px){
							td {
								padding: 8px 16px 8px 16px !important; 
								text-align: right !important;
							}
						}
						td {
							padding-left: 10px !important;
							
							.monto {
						    	font-weight: 900;
								color: #006ec1;
						    }
						}	

						th {
							font-size: 11px;
						    font-weight: bold;
						    background-color: #F5F7F8;
						    border-right: none;
						    padding: 8px 16px;
						    color: #525252;
						    text-transform: uppercase;
						    font-family: $bold;  
						}
					}
				}
			}
		}
	}
	/*---------FIN TABLA CORONITA-----*/
	/*--------Fin General--------*/


	/*--------Pago de Cuentas--------*/
	.pago-de-cuentas {
		h3 {
			color: #0078d2;
        	font-family: "BBVA Web",arial,sans-serif;
        	font-weight: bolder;
		}

		h4 {
			color: $bbva-color;
		    font-size: 18px;
		    font-weight: 100;
		    text-align: left;
		}

		p {
			color: #0078d2;
        	font-family: "BBVA Web Light",arial,sans-serif;
        	font-size: 16px;
		}

		.content-column {
			margin: 0px 20px ;
		}

		#sinCuentas {
        	padding: 20px 0px ;
	    }
	    #conCuentas {
	       	clear: both;
	    }
	    
    	.popover {
	        background-color: #FEFAEE !important;
	        border: 1px solid #BDBDBD !important;
	        border-radius: 0px !important;
	        -webkit-box-shadow: none !important;
	        box-shadow: none !important;
	        max-width: 250px !important;
	        p {
		        font-size: 12px;
		        text-align: left;
		    }
		    .imgHelp {
		        background:url('../img/bbvapass.svg');
		        width: 64px;
		        height:107px;
		        float: right;
		    }
		    &.right .arrow:after {
		        border-right-color: #fefaee !important;
		    }
   		 }		
	}

	/*-------- Cartola de puntos -------*/
	.cartola-puntos {
		.metas .vincular-1 .card {
		    box-shadow: none;
    		border: 1px solid #DDE3EA;
		}
		.checkAccordion {
		    background: url(../../img/ok-green-16px.png) 0 0 no-repeat;
		    width: 15px;
		    height: 12px;
		    margin-right: 4px;
		    margin-top: 5px;
		    float: right;
		}
		
		.head-resumen-seguro {
		    height: 40px;
		    background: #0079c1;
		    color: #ffffff;
		    margin-bottom: 15px;
		    p {
		    	text-align: center;
		    	font-size: 14px;
		    	margin-top: 10px;
		  	}
		}
		.separador {
			border-right: solid 1px #fff;
		}
		.links {
		    border: 1px solid #dde3ea;
		    border-radius: 4px 4px 4px 4px;
		    background-color: #fff;
		    margin-bottom: 0px;
		    clear: both;
		}

	  	.acumula-puntos {
	    	border:2px solid #D5E9EA; 
	    	text-align:center; 
	    	padding: 16px 16px 0px 16px; 
	    	margin-bottom: 0px;
	    	
	    	p {
			    font-size: 16px; color: #646464;
			}

			ul {
			    margin-top: 0px;
			    margin-bottom: 0px;
			}

			li {
			    background: #3EB6BB;
			    color: #fff;
			    padding: 8px 16px;
			    text-align: left;
			    font-weight: bold;
			    font-size: 14px;
			    font-family:'BBVA Web Book'
			}

			.arrow-right {
			    background: url(../img/right-arrow-button.svg);
			    width: 9px;
			    height: 13px;
			    float: right;
			    margin-top: 4px;
			}
	    	.sop-tarjeta {
   				background: url(../../img/support-2.png);
   				background-repeat: no-repeat; 
   				width: 120px; 
   				height: 120px; 
   				display: inline-block; 
   				padding: 34px 10px 25px 20px;
   				margin-bottom: 10px;
  			}
  			.icon-procentMoney{
			    color:#3EB6BB; font-size: 6rem;
			}
			.head-resumen-seguro {
			    height: 40px;
			    background: #0079c1;
			    color: #ffffff;
			    margin-bottom: 15px;
			    p {
			    	text-align: center;
			    	font-size: 14px;
			    	margin-top: 10px;
			  		}
		  	}

			.separador {
		    	border-right: solid 1px #fff;
			}

	
			.links {
			    border: 1px solid #dde3ea;
			    border-radius: 4px 4px 4px 4px;
			    background-color: #fff;
			    margin-bottom: 0px;
			    clear: both;
			}

		  	.acumula-puntos {
		    	border:2px solid #D5E9EA; 
		    	text-align:center; 
		    	padding: 16px 16px 0px 16px; 
		    	margin-bottom: 0px;
		    	
		    	p {
				    font-size: 16px; color: #646464;
				}

				ul {
				    margin-top: 0px;
				    margin-bottom: 0px;
				}

				li {
				    background: #3EB6BB;
				    color: #fff;
				    padding: 8px 16px;
				    text-align: left;
				    font-weight: bold;
				    font-size: 14px;
				    font-family:'BBVA Web Book'
				}

				.arrow-right {
				    background: url(../../img/right-arrow-button.svg);
				    width: 9px;
				    height: 13px;
				    float: right;
				    margin-top: 4px;
				  }
		    	.sop-tarjeta {
	   				background: url(../../img/support-2.png);
	   				background-repeat: no-repeat; 
	   				width: 120px; 
	   				height: 120px; 
	   				display: inline-block; 
	   				padding: 34px 10px 25px 20px;
	   				margin-bottom: 10px;
	  			}
	  			.icon-procentMoney{
				    color:#3EB6BB; font-size: 6rem;
				}

	  		}
		}

		.modalCartola {
			
			.boxGreen {
				padding: 1px 5px 8px 5px;
			    background-color: #3EB6BB;
			    color: #fff;
			    h1{
					color: #fff;
			   		margin-top: 20px;
			   		font-size: 18px;
			    	line-height: 0px;
			    	font-weight: bold;
			    	font-family: 'BBVA Web Book';
			    	}

		    	p 	{
					    font-size: 13px;
					    line-height: 16px;
					}
			}
			.boxGreenItem {
				background:#29A6AB;
				padding: 8px 5px 8px 5px;
				color: #fff;
				h1 {
			   		font-size: 20px;
				    font-family: 'BBVA Web Book';
				    color: #fff;
				    margin-top: 8px !important;
				    line-height: 0px;
				}
			}
			.transferir-dinero .scrtabs-tabs-fixed-container {
			    box-shadow: 0px 4px 6px -1px rgba(204, 204, 204, 0.51);
			}
						
			.soportCircle {
				background: #fff;
			    width: 72px;
			    height: 72px;
			    border-radius: 50%;
			    display: -webkit-inline-box;
			    padding: 3px 9px;
			}

			.acumular {
				position: relative;
			}

			.icon-credit-card {
				color: #C8175E;
				font-size: 3em;
    			padding: 15px 8px;
				font-weight: 600;
				position: fixed;
			}
			.icon-support-1 {
				color: #e58920;
			    font-size: 51px;
			    position: absolute;
			    top: 9px;
			    left: 2px;
			}
			.icon-box {
				color: #e58920;
			    font-size: 4.5rem;
			    padding: 25px 17px;
			    position: absolute;
			    top: -18px;
			    left: -11px;
			}
			.icon-gift {
				color: #86C82D;
				font-size: 4em;
				padding: 8px 4px;
				font-weight: 600;
				position: fixed;
			}

			

			.icon-procentMoney {
				color: #e58920; 
				font-size: 3.6em; 
				padding: 13px 7px;

				position: fixed;
			}
			.items {
				text-align: left ;
			
			}

			.items-2 {
				text-align: left ;
				 h1 {
					font-size: 14px;
					font-family: 'BBVA Web Book';
					color: #434A59;
					font-weight: normal;
				    line-height: 0px !important;
				    margin-top: 8px !important;

				}
				p {
					font-size: 18px;
					font-family: 'BBVA Web Medium';
					color: #434A59;
				}
			}
			.bannerCartola {
				background: #EDEDED; 
				width: 100%; 
				height: 70px;
			}
			.grey {
				background: #F8F8F8;
			}

			.acumular {
				position: relative;
			}

			.icon-alert {
				color: #C8175E; 
				font-size: 3em;
				padding: 14px 10px;
				position: fixed;
			}

			.sop-canjear-izq {
				background: #018ECE; 
				padding: 16px;
				color: #fff;
				border-radius: 4px 0px 0px 4px;
				font-size: 14px;
				.ico-canj-calendario {
					background: url('../../img/icon-calendar.png'); 
					width: 50px;
					height: 42px;  
					display: inline-block;
				}
			}
			.sop-canjear-der {
				background: #009EE5;
				padding: 16px;
				color: #fff;
				border-radius: 0px 4px 4px 0px; 
				font-size: 14px;
				.ico-canj-ahorro {
					background: url('../../img/icon-money.png');
					width: 50px; 
					height: 42px; 
					display: inline-block;
				}
			}


			@media(max-width: 768px){
		
				.boxGreen {
					text-align: center;
				}
				.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
					width: 100% !important;
					margin-top: 10px;
				}
				.cartola-puntos {
					.boxGreenItem {
						h1 {
					   		font-size: 14px !important;
						}
					}
					.items {
						text-align: left !important;
					}

					.grey {
						text-align: center;
					}
					.sop-canjear-der {
						text-align: center !important;
						border-radius:4px !important;
						margin-bottom: 2px !important;
					}

					.sop-canjear-izq {
						text-align: center !important;
						border-radius:4px !important;
						margin-bottom: 2px !important;
					}
				}
			}
		}
	}

	/*---------Fin Cartola de puntos-------*/

	/*--------- Un click-----------*/
	.one-click {

		.col-resultado {
			.cont {
				.cont-header {
				    background: $bbva-blue !important;
				    color: #fff;
				    text-align: center;
				}
			}

			.cont-body {
				.btn-big-green {
				    background:$bbva-blue-2 !important;
				    border: none !important;
				    border-radius: 0px !important;
				    width: 80% !important;
				    height: 66px !important;
				    line-height: 60px !important;
				    	.icono-credito-verde {
				    		display: none !important;
				    	}
				}
				.top {
					 span {
					    color: #71777F !important;
					    strong {
						    font-size: 20px;
						    color: #BDBDBD !important;

						}
					}
					
				}
			}
		}

		.box {
		    background: #E9E9E9 !important;
		}

		.m-ofertas__opciones {
			.opcion {
				border: 1px solid $bbva-blue;
				.opcion__titulo {
	    			font-size: 15px;
	    		}
				.overlay {
			    	background: #fff !important;
			    }
			    span.strong {
				    font-size: 18px;
				}
				.btn-big-green {
			        border: none;
				    height: 60px;
				    background: $bbva-blue-2;
				    border-radius: 0px;
				    font-size: 15px;
				    width: 170px;
				    line-height: 51px;
				}
				.opcion__detalles {
					p {
						padding:1px 0px ;
					}
				}
			} 
		}
		.destacado-oneclick {
			border-right: 63px solid $bbva-blue;
		    border-top: 30px solid $bbva-blue;
		    border-left: 30px solid rgba(39, 191, 199, 0);
		    border-bottom: 60px solid rgba(39, 191, 199, 0);
		    width: 60px;
		    height: 60px;
		    float: right;
		    margin-top: -41px;
	    	position: relative;
		    .icon-ico-pencil {
		    	position: absolute;
			    color: #fff;
			    font-size: 3rem;
			    top: -15px;
	    		right: -64px;
		    }
		}
		.dastacado-borderOneClick {
		    border: 1px solid $bbva-blue;
		}
		.encabezada__titulo {
		    font-size: 26px;
		    color: $bbva-blue;
		}
		.m-ofertas__boton-ver {
		    width: 310px;
		    line-height: 40px;
		    background: $bbva-blue-2 !important;
		    border-radius: 0px !important;
		    height: 60px;
		    font-size: 16px !important;

		    &.opened {
	    		border: none !important;
	    		color: #fff !important;
	    		&:hover {
	    			background:$bbva-blue-3 !important;
	    		}
			}
		}
	}

}
