<aside class="product-header product-header-tar">	
	<div class="left">
		<h2>Cuenta de inversión</h2>
		<!--p><strong>3442-3442-10654651897</strong></p-->
	</div>
	<div class="right">
		<p>SALDO DISPONIBLE</p>
		$ 10.000.000
	</div>
	
</aside>

<!--aside class="product-header product-header-bottom product-header-tar border-top">
 
	<div class="right">
		<p>Saldo Disponible <span class="icon-16 blue d06-masinformacion tooltip-help zindex" title="" data-original-title="Por definir"></span> <strong>$ 80.000</strong></p>
	</div>
</aside-->