<script type="text/javascript" src="js/soho.js"></script>
<aside class="capgemini-popup right north disponer">
	<div class="popup-container">
		<div class="close-icon" data-window=".capgemini-popup"></div>
		<div>
			<h3>Crédito Aprobado en Línea</h3>
		</div>
		<div class="popup-content">
			<p>Tienes un credito refinanciamiento aprobado de hasta $4.443.510 tomalo aqui y lo abonaremos en tu cuenta corriente</p>
		</div>
		<div>
			<!--a href="templates/S10-cotizacion-credito.php" class="btn callAjax_modal">Simula aquí</a-->
			<a href="#;" class="btn callAjax_modal">Simula aquí</a>
		</div>
	</div>
</aside>