<aside class="capgemini-popup">
	<div class="popup-container">
		<div class="close-icon" data-window=".capgemini-popup"></div>
		<div class="row">
			<div class="col-xs-8">
				<header>
					<h3>Aumenta tu Línea de Crédito XXX-3444 sin coste</h3>
				</header>
				<div class="popup-content">
					<p class="blue">Lorem ipsum dolor sit amet, consetetur sadipscing elitr. ,
					consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
				</div>
				<footer>
					<a href="templates/S14-linea-aumentar-cupo.php" class="btn small show-operation-aumento">Disponer del Aumento</a>

				</footer>
			</div>
			<div class="col-xs-3">
				<img alt="cero por ciento" src="img/0-por-ciento.png" class="img-responsive">
			</div>
		</div>
	</div>
</aside>